Src/Foundation/Integration/Code/Service References/CustomerSvc/Config1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="urn:MobileeServicesVi" targetNamespace="urn:MobileeServicesVi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="urn:MobileeServicesVi" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GetAllContractAccounts" type="tns:GetAllContractAccounts" />
      <xs:element name="GetAllContractAccountsResponse" type="tns:GetAllContractAccountsResponse" />
      <xs:element name="GetEstimationNoDetail" type="tns:GetEstimationNoDetail" />
      <xs:element name="GetEstimationNoDetailResponse" type="tns:GetEstimationNoDetailResponse" />
      <xs:element name="GetServiceInterruption" type="tns:GetServiceInterruption" />
      <xs:element name="GetServiceInterruptionResponse" type="tns:GetServiceInterruptionResponse" />
      <xs:element name="Login" type="tns:Login" />
      <xs:element name="LoginResponse" type="tns:LoginResponse" />
      <xs:element name="addBP" type="tns:addBP" />
      <xs:element name="addBPResponse" type="tns:addBPResponse" />
      <xs:element name="attachMoveIn" type="tns:attachMoveIn" />
      <xs:element name="attachMoveInResponse" type="tns:attachMoveInResponse" />
      <xs:element name="businessMethod" type="tns:businessMethod" />
      <xs:element name="businessMethodResponse" type="tns:businessMethodResponse" />
      <xs:element name="changePassword" type="tns:changePassword" />
      <xs:element name="changePasswordResponse" type="tns:changePasswordResponse" />
      <xs:element name="checkUserID" type="tns:checkUserID" />
      <xs:element name="checkUserIDResponse" type="tns:checkUserIDResponse" />
      <xs:element name="getBillDetailsData" type="tns:getBillDetailsData" />
      <xs:element name="getBillDetailsData1" type="tns:getBillDetailsData1" />
      <xs:element name="getBillDetailsData1Response" type="tns:getBillDetailsData1Response" />
      <xs:element name="getBillDetailsDataResponse" type="tns:getBillDetailsDataResponse" />
      <xs:element name="getClearanceCertificate" type="tns:getClearanceCertificate" />
      <xs:element name="getClearanceCertificateDisplay" type="tns:getClearanceCertificateDisplay" />
      <xs:element name="getClearanceCertificateDisplayResponse" type="tns:getClearanceCertificateDisplayResponse" />
      <xs:element name="getClearanceCertificateResponse" type="tns:getClearanceCertificateResponse" />
      <xs:element name="getCo2Footprint" type="tns:getCo2Footprint" />
      <xs:element name="getCo2FootprintResponse" type="tns:getCo2FootprintResponse" />
      <xs:element name="getComplntDetail" type="tns:getComplntDetail" />
      <xs:element name="getComplntDetailResponse" type="tns:getComplntDetailResponse" />
      <xs:element name="getEWConnectionStatus" type="tns:getEWConnectionStatus" />
      <xs:element name="getEWConnectionStatusResponse" type="tns:getEWConnectionStatusResponse" />
      <xs:element name="getEstimateLineItemsP" type="tns:getEstimateLineItemsP" />
      <xs:element name="getEstimateLineItemsPResponse" type="tns:getEstimateLineItemsPResponse" />
      <xs:element name="getFinalBill" type="tns:getFinalBill" />
      <xs:element name="getFinalBillResponse" type="tns:getFinalBillResponse" />
      <xs:element name="getGovtObservation" type="tns:getGovtObservation" />
      <xs:element name="getGovtObservationResponse" type="tns:getGovtObservationResponse" />
      <xs:element name="getGreenBillDetails" type="tns:getGreenBillDetails" />
      <xs:element name="getGreenBillDetailsResponse" type="tns:getGreenBillDetailsResponse" />
      <xs:element name="getHighLowComplaints" type="tns:getHighLowComplaints" />
      <xs:element name="getHighLowComplaintsCodes" type="tns:getHighLowComplaintsCodes" />
      <xs:element name="getHighLowComplaintsCodesResponse" type="tns:getHighLowComplaintsCodesResponse" />
      <xs:element name="getHighLowComplaintsResponse" type="tns:getHighLowComplaintsResponse" />
      <xs:element name="getLastConsumptionforMonths" type="tns:getLastConsumptionforMonths" />
      <xs:element name="getLastConsumptionforMonthsResponse" type="tns:getLastConsumptionforMonthsResponse" />
      <xs:element name="getLatestMonthtoMonthCons" type="tns:getLatestMonthtoMonthCons" />
      <xs:element name="getLatestMonthtoMonthConsResponse" type="tns:getLatestMonthtoMonthConsResponse" />
      <xs:element name="getNotificationStatus" type="tns:getNotificationStatus" />
      <xs:element name="getNotificationStatusResponse" type="tns:getNotificationStatusResponse" />
      <xs:element name="getOutstandingBalance" type="tns:getOutstandingBalance" />
      <xs:element name="getOutstandingBalanceResponse" type="tns:getOutstandingBalanceResponse" />
      <xs:element name="getSlabTarrif" type="tns:getSlabTarrif" />
      <xs:element name="getSlabTarrifResponse" type="tns:getSlabTarrifResponse" />
      <xs:element name="getSlabTarrifWithColorCodes" type="tns:getSlabTarrifWithColorCodes" />
      <xs:element name="getSlabTarrifWithColorCodesResponse" type="tns:getSlabTarrifWithColorCodesResponse" />
      <xs:element name="getTechnicalComplaint" type="tns:getTechnicalComplaint" />
      <xs:element name="getTechnicalComplaintResponse" type="tns:getTechnicalComplaintResponse" />
      <xs:element name="getUserLoginCustomerPortal" type="tns:getUserLoginCustomerPortal" />
      <xs:element name="getUserLoginCustomerPortalResponse" type="tns:getUserLoginCustomerPortalResponse" />
      <xs:element name="getYearlyAverageConsumption" type="tns:getYearlyAverageConsumption" />
      <xs:element name="getYearlyAverageConsumptionResponse" type="tns:getYearlyAverageConsumptionResponse" />
      <xs:element name="getYearlyConsumption" type="tns:getYearlyConsumption" />
      <xs:element name="getYearlyConsumptionResponse" type="tns:getYearlyConsumptionResponse" />
      <xs:element name="getrateCategortyChange" type="tns:getrateCategortyChange" />
      <xs:element name="getrateCategortyChangeResponse" type="tns:getrateCategortyChangeResponse" />
      <xs:element name="movein" type="tns:movein" />
      <xs:element name="moveinResponse" type="tns:moveinResponse" />
      <xs:element name="myIDClaims" type="tns:myIDClaims" />
      <xs:element name="myIDClaimsResponse" type="tns:myIDClaimsResponse" />
      <xs:element name="photoupload" type="tns:photoupload" />
      <xs:element name="photouploadResponse" type="tns:photouploadResponse" />
      <xs:element name="regGreenBill" type="tns:regGreenBill" />
      <xs:element name="regGreenBillResponse" type="tns:regGreenBillResponse" />
      <xs:element name="resetPassword" type="tns:resetPassword" />
      <xs:element name="resetPasswordResponse" type="tns:resetPasswordResponse" />
      <xs:complexType name="regGreenBill">
        <xs:sequence>
          <xs:element minOccurs="0" name="tokenId" type="xs:string" />
          <xs:element minOccurs="0" name="appVer" type="xs:string" />
          <xs:element minOccurs="0" name="mobOSVer" type="xs:string" />
          <xs:element minOccurs="0" name="appId" type="xs:string" />
          <xs:element minOccurs="0" name="usrID" type="xs:string" />
          <xs:element minOccurs="0" name="contrtAcc" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="regGreenBillResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getGreenBillDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="tokenId" type="xs:string" />
          <xs:element minOccurs="0" name="appVer" type="xs:string" />
          <xs:element minOccurs="0" name="mobOSVer" type="xs:string" />
          <xs:element minOccurs="0" name="appId" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getGreenBillDetailsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Login">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserID" type="xs:string" />
          <xs:element minOccurs="0" name="Password" type="xs:string" />
          <xs:element minOccurs="0" name="MID" type="xs:string" />
          <xs:element minOccurs="0" name="MPass" type="xs:string" />
          <xs:element minOccurs="0" name="IPAddress" type="xs:string" />
          <xs:element minOccurs="0" name="ClientSignature" type="xs:string" />
          <xs:element minOccurs="0" name="DateTimeStamp" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionNumber" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LoginResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAllContractAccounts">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserID" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAllContractAccountsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getOutstandingBalance">
        <xs:sequence>
          <xs:element minOccurs="0" name="contractaccount" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getOutstandingBalanceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getYearlyConsumption">
        <xs:sequence>
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="contractaccount" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getYearlyConsumptionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getLastConsumptionforMonths">
        <xs:sequence>
          <xs:element minOccurs="0" name="contractacc" type="xs:string" />
          <xs:element minOccurs="0" name="tokenid" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getLastConsumptionforMonthsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getYearlyAverageConsumption">
        <xs:sequence>
          <xs:element minOccurs="0" name="contract_acc" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="tokenid" type="xs:string" />
          <xs:element minOccurs="0" name="legacy" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getYearlyAverageConsumptionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUserLoginCustomerPortal">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="merchantid" type="xs:string" />
          <xs:element minOccurs="0" name="merchantpassword" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUserLoginCustomerPortalResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCo2Footprint">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="contractaccount" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCo2FootprintResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getEWConnectionStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="contractaccount" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getEWConnectionStatusResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="changePassword">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="oldpassword" type="xs:string" />
          <xs:element minOccurs="0" name="newpassword" type="xs:string" />
          <xs:element minOccurs="0" name="confirmnewpass" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="changePasswordResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getSlabTarrifWithColorCodes">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="contractaccount" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getSlabTarrifWithColorCodesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getNotificationStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="tokenId" type="xs:string" />
          <xs:element minOccurs="0" name="userID" type="xs:string" />
          <xs:element minOccurs="0" name="vendID" type="xs:string" />
          <xs:element minOccurs="0" name="bpID" type="xs:string" />
          <xs:element minOccurs="0" name="appVer" type="xs:string" />
          <xs:element minOccurs="0" name="mobOSVer" type="xs:string" />
          <xs:element minOccurs="0" name="appId" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getNotificationStatusResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="resetPassword">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="emailid" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="resetPasswordResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getComplntDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="tokenId" type="xs:string" />
          <xs:element minOccurs="0" name="userID" type="xs:string" />
          <xs:element minOccurs="0" name="vendID" type="xs:string" />
          <xs:element minOccurs="0" name="compID" type="xs:string" />
          <xs:element minOccurs="0" name="appVer" type="xs:string" />
          <xs:element minOccurs="0" name="mobOSVer" type="xs:string" />
          <xs:element minOccurs="0" name="appId" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getComplntDetailResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getSlabTarrif">
        <xs:sequence>
          <xs:element minOccurs="0" name="electrictyvalue" type="xs:string" />
          <xs:element minOccurs="0" name="watervalue" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="watercategory" type="xs:string" />
          <xs:element minOccurs="0" name="electricitycategory" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getSlabTarrifResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getEstimateLineItemsP">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getEstimateLineItemsPResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getTechnicalComplaint">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="mobile" type="xs:string" />
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="contractaccount" type="xs:string" />
          <xs:element minOccurs="0" name="text" type="xs:string" />
          <xs:element minOccurs="0" name="datestamp" type="xs:string" />
          <xs:element minOccurs="0" name="group" type="xs:string" />
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getTechnicalComplaintResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getGovtObservation">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="datestamp" type="xs:string" />
          <xs:element minOccurs="0" name="area" type="xs:string" />
          <xs:element minOccurs="0" name="road" type="xs:string" />
          <xs:element minOccurs="0" name="lightpole" type="xs:string" />
          <xs:element minOccurs="0" name="nearbybuilding" type="xs:string" />
          <xs:element minOccurs="0" name="substation" type="xs:string" />
          <xs:element minOccurs="0" name="contractaccount" type="xs:string" />
          <xs:element minOccurs="0" name="defectdesc" type="xs:string" />
          <xs:element minOccurs="0" name="mobileNo" type="xs:string" />
          <xs:element minOccurs="0" name="attachment" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="attachmenttype" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getGovtObservationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="businessMethod">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="businessMethodResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getLatestMonthtoMonthCons">
        <xs:sequence>
          <xs:element minOccurs="0" name="contract_acc" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="tokenid" type="xs:string" />
          <xs:element minOccurs="0" name="Others" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getLatestMonthtoMonthConsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getBillDetailsData">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="invoiceno" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getBillDetailsDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getFinalBill">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="premiseno" type="xs:string" />
          <xs:element minOccurs="0" name="cano" type="xs:string" />
          <xs:element minOccurs="0" name="bp" type="xs:string" />
          <xs:element minOccurs="0" name="mobile" type="xs:string" />
          <xs:element minOccurs="0" name="disconnectiondate" type="xs:string" />
          <xs:element minOccurs="0" name="remarks" type="xs:string" />
          <xs:element minOccurs="0" name="ibanno" type="xs:string" />
          <xs:element minOccurs="0" name="attachment" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="attachmenttype" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getFinalBillResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getHighLowComplaints">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="premiseno" type="xs:string" />
          <xs:element minOccurs="0" name="cano" type="xs:string" />
          <xs:element minOccurs="0" name="highlow" type="xs:string" />
          <xs:element minOccurs="0" name="waterelectricity" type="xs:string" />
          <xs:element minOccurs="0" name="bp" type="xs:string" />
          <xs:element minOccurs="0" name="mobile" type="xs:string" />
          <xs:element minOccurs="0" name="remarks" type="xs:string" />
          <xs:element minOccurs="0" name="attachment" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="attachmenttype" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getHighLowComplaintsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getrateCategortyChange">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="premiseno" type="xs:string" />
          <xs:element minOccurs="0" name="cano" type="xs:string" />
          <xs:element minOccurs="0" name="bp" type="xs:string" />
          <xs:element minOccurs="0" name="mobile" type="xs:string" />
          <xs:element minOccurs="0" name="remarks" type="xs:string" />
          <xs:element minOccurs="0" name="attachment" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="attachmenttype" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getrateCategortyChangeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getHighLowComplaintsCodes">
        <xs:sequence>
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="sesionid" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getHighLowComplaintsCodesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getBillDetailsData1">
        <xs:sequence>
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getBillDetailsData1Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="photoupload">
        <xs:sequence>
          <xs:element minOccurs="0" name="userID" type="xs:string" />
          <xs:element minOccurs="0" name="photo" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="photouploadResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetEstimationNoDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="estimateNo" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="Others" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetEstimationNoDetailResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="movein">
        <xs:sequence>
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
          <xs:element minOccurs="0" name="icustType" type="xs:string" />
          <xs:element minOccurs="0" name="iaccType" type="xs:string" />
          <xs:element minOccurs="0" name="ipremise" type="xs:string" />
          <xs:element minOccurs="0" name="iIdType" type="xs:string" />
          <xs:element minOccurs="0" name="iEmiratesID" type="xs:string" />
          <xs:element minOccurs="0" name="iFirstName" type="xs:string" />
          <xs:element minOccurs="0" name="iLastName" type="xs:string" />
          <xs:element minOccurs="0" name="ipoBox" type="xs:string" />
          <xs:element minOccurs="0" name="ination" type="xs:string" />
          <xs:element minOccurs="0" name="imobile" type="xs:string" />
          <xs:element minOccurs="0" name="iemail" type="xs:string" />
          <xs:element minOccurs="0" name="istartDate" type="xs:string" />
          <xs:element minOccurs="0" name="iendDate" type="xs:string" />
          <xs:element minOccurs="0" name="iscrNo" type="xs:string" />
          <xs:element minOccurs="0" name="iBpNo" type="xs:string" />
          <xs:element minOccurs="0" name="itranid" type="xs:string" />
          <xs:element minOccurs="0" name="isubid" type="xs:string" />
          <xs:element minOccurs="0" name="iIdExp" type="xs:string" />
          <xs:element minOccurs="0" name="iTevalu" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="moveinResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="attachMoveIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
          <xs:element minOccurs="0" name="trnasid" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="xs:string" />
          <xs:element minOccurs="0" name="filename" type="xs:string" />
          <xs:element minOccurs="0" name="attachment" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="attachMoveInResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="checkUserID">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="checkUserIDResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getClearanceCertificate">
        <xs:sequence>
          <xs:element minOccurs="0" name="fname" type="xs:string" />
          <xs:element minOccurs="0" name="mname" type="xs:string" />
          <xs:element minOccurs="0" name="lname" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="mobile" type="xs:string" />
          <xs:element minOccurs="0" name="emiratesid" type="xs:string" />
          <xs:element minOccurs="0" name="tradelicensenum" type="xs:string" />
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="pobox" type="xs:string" />
          <xs:element minOccurs="0" name="contractaccount" type="xs:string" />
          <xs:element minOccurs="0" name="purpose" type="xs:string" />
          <xs:element minOccurs="0" name="remarks" type="xs:string" />
          <xs:element minOccurs="0" name="attachment1" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="attachmentname1" type="xs:string" />
          <xs:element minOccurs="0" name="attachment2" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="attachmentname2" type="xs:string" />
          <xs:element minOccurs="0" name="attachment3" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="attachmentname3" type="xs:string" />
          <xs:element minOccurs="0" name="attachment4" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="attachmentname4" type="xs:string" />
          <xs:element minOccurs="0" name="tokenid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getClearanceCertificateResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getClearanceCertificateDisplay">
        <xs:sequence>
          <xs:element minOccurs="0" name="contractaccount" type="xs:string" />
          <xs:element minOccurs="0" name="tokenid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getClearanceCertificateDisplayResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetServiceInterruption">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserID" type="xs:string" />
          <xs:element minOccurs="0" name="VendorID" type="xs:string" />
          <xs:element minOccurs="0" name="SessionID" type="xs:string" />
          <xs:element minOccurs="0" name="appVer" type="xs:string" />
          <xs:element minOccurs="0" name="appId" type="xs:string" />
          <xs:element minOccurs="0" name="mobOSVer" type="xs:string" />
          <xs:element minOccurs="0" name="Others" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetServiceInterruptionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addBP">
        <xs:sequence>
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="appver" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosver" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
          <xs:element minOccurs="0" name="updFlag" type="xs:string" />
          <xs:element minOccurs="0" name="mobile" type="xs:string" />
          <xs:element minOccurs="0" name="bp" type="xs:string" />
          <xs:element minOccurs="0" name="addtoMYID" type="xs:string" />
          <xs:element minOccurs="0" name="addtoUserID" type="xs:string" />
          <xs:element minOccurs="0" name="poBox" type="xs:string" />
          <xs:element minOccurs="0" name="eMail" type="xs:string" />
          <xs:element minOccurs="0" name="merchantid" type="xs:string" />
          <xs:element minOccurs="0" name="merchantpassword" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addBPResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="myIDClaims">
        <xs:sequence>
          <xs:element minOccurs="0" name="MyIDUid" type="xs:string" />
          <xs:element minOccurs="0" name="EmiratesIDCardNum" type="xs:string" />
          <xs:element minOccurs="0" name="EIDExpDate" type="xs:string" />
          <xs:element minOccurs="0" name="EIDIssueDate" type="xs:string" />
          <xs:element minOccurs="0" name="FNameAr" type="xs:string" />
          <xs:element minOccurs="0" name="FNameEN" type="xs:string" />
          <xs:element minOccurs="0" name="LNameAr" type="xs:string" />
          <xs:element minOccurs="0" name="LNameEN" type="xs:string" />
          <xs:element minOccurs="0" name="FullNameAR" type="xs:string" />
          <xs:element minOccurs="0" name="FullNameEN" type="xs:string" />
          <xs:element minOccurs="0" name="Gender" type="xs:string" />
          <xs:element minOccurs="0" name="MStatus" type="xs:string" />
          <xs:element minOccurs="0" name="DOB" type="xs:string" />
          <xs:element minOccurs="0" name="Mob" type="xs:string" />
          <xs:element minOccurs="0" name="Emailaddr" type="xs:string" />
          <xs:element minOccurs="0" name="Nationality" type="xs:string" />
          <xs:element minOccurs="0" name="PassportCountry" type="xs:string" />
          <xs:element minOccurs="0" name="PassportIssueDate" type="xs:string" />
          <xs:element minOccurs="0" name="PassportExpDate" type="xs:string" />
          <xs:element minOccurs="0" name="PassportNum" type="xs:string" />
          <xs:element minOccurs="0" name="ResVisaExpDate" type="xs:string" />
          <xs:element minOccurs="0" name="ResVisaIssueDate" type="xs:string" />
          <xs:element minOccurs="0" name="ResVisaNo" type="xs:string" />
          <xs:element minOccurs="0" name="SponserType" type="xs:string" />
          <xs:element minOccurs="0" name="SponserNum" type="xs:string" />
          <xs:element minOccurs="0" name="TFNum" type="xs:string" />
          <xs:element minOccurs="0" name="EmiratesIDNum" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="myIDClaimsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="regGreenBillIn">
    <wsdl:part name="parameters" element="tns:regGreenBill" />
  </wsdl:message>
  <wsdl:message name="regGreenBillOut">
    <wsdl:part name="regGreenBillResponse" element="tns:regGreenBillResponse" />
  </wsdl:message>
  <wsdl:message name="getGreenBillDetailsIn">
    <wsdl:part name="parameters" element="tns:getGreenBillDetails" />
  </wsdl:message>
  <wsdl:message name="getGreenBillDetailsOut">
    <wsdl:part name="getGreenBillDetailsResponse" element="tns:getGreenBillDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="LoginIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginOut">
    <wsdl:part name="LoginResponse" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllContractAccountsIn">
    <wsdl:part name="parameters" element="tns:GetAllContractAccounts" />
  </wsdl:message>
  <wsdl:message name="GetAllContractAccountsOut">
    <wsdl:part name="GetAllContractAccountsResponse" element="tns:GetAllContractAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="getOutstandingBalanceIn">
    <wsdl:part name="parameters" element="tns:getOutstandingBalance" />
  </wsdl:message>
  <wsdl:message name="getOutstandingBalanceOut">
    <wsdl:part name="getOutstandingBalanceResponse" element="tns:getOutstandingBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="getYearlyConsumptionIn">
    <wsdl:part name="parameters" element="tns:getYearlyConsumption" />
  </wsdl:message>
  <wsdl:message name="getYearlyConsumptionOut">
    <wsdl:part name="getYearlyConsumptionResponse" element="tns:getYearlyConsumptionResponse" />
  </wsdl:message>
  <wsdl:message name="getLastConsumptionforMonthsIn">
    <wsdl:part name="parameters" element="tns:getLastConsumptionforMonths" />
  </wsdl:message>
  <wsdl:message name="getLastConsumptionforMonthsOut">
    <wsdl:part name="getLastConsumptionforMonthsResponse" element="tns:getLastConsumptionforMonthsResponse" />
  </wsdl:message>
  <wsdl:message name="getYearlyAverageConsumptionIn">
    <wsdl:part name="parameters" element="tns:getYearlyAverageConsumption" />
  </wsdl:message>
  <wsdl:message name="getYearlyAverageConsumptionOut">
    <wsdl:part name="getYearlyAverageConsumptionResponse" element="tns:getYearlyAverageConsumptionResponse" />
  </wsdl:message>
  <wsdl:message name="getUserLoginCustomerPortalIn">
    <wsdl:part name="parameters" element="tns:getUserLoginCustomerPortal" />
  </wsdl:message>
  <wsdl:message name="getUserLoginCustomerPortalOut">
    <wsdl:part name="getUserLoginCustomerPortalResponse" element="tns:getUserLoginCustomerPortalResponse" />
  </wsdl:message>
  <wsdl:message name="getCo2FootprintIn">
    <wsdl:part name="parameters" element="tns:getCo2Footprint" />
  </wsdl:message>
  <wsdl:message name="getCo2FootprintOut">
    <wsdl:part name="getCo2FootprintResponse" element="tns:getCo2FootprintResponse" />
  </wsdl:message>
  <wsdl:message name="getEWConnectionStatusIn">
    <wsdl:part name="parameters" element="tns:getEWConnectionStatus" />
  </wsdl:message>
  <wsdl:message name="getEWConnectionStatusOut">
    <wsdl:part name="getEWConnectionStatusResponse" element="tns:getEWConnectionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="changePasswordIn">
    <wsdl:part name="parameters" element="tns:changePassword" />
  </wsdl:message>
  <wsdl:message name="changePasswordOut">
    <wsdl:part name="changePasswordResponse" element="tns:changePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="getSlabTarrifWithColorCodesIn">
    <wsdl:part name="parameters" element="tns:getSlabTarrifWithColorCodes" />
  </wsdl:message>
  <wsdl:message name="getSlabTarrifWithColorCodesOut">
    <wsdl:part name="getSlabTarrifWithColorCodesResponse" element="tns:getSlabTarrifWithColorCodesResponse" />
  </wsdl:message>
  <wsdl:message name="getNotificationStatusIn">
    <wsdl:part name="parameters" element="tns:getNotificationStatus" />
  </wsdl:message>
  <wsdl:message name="getNotificationStatusOut">
    <wsdl:part name="getNotificationStatusResponse" element="tns:getNotificationStatusResponse" />
  </wsdl:message>
  <wsdl:message name="resetPasswordIn">
    <wsdl:part name="parameters" element="tns:resetPassword" />
  </wsdl:message>
  <wsdl:message name="resetPasswordOut">
    <wsdl:part name="resetPasswordResponse" element="tns:resetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="getComplntDetailIn">
    <wsdl:part name="parameters" element="tns:getComplntDetail" />
  </wsdl:message>
  <wsdl:message name="getComplntDetailOut">
    <wsdl:part name="getComplntDetailResponse" element="tns:getComplntDetailResponse" />
  </wsdl:message>
  <wsdl:message name="getSlabTarrifIn">
    <wsdl:part name="parameters" element="tns:getSlabTarrif" />
  </wsdl:message>
  <wsdl:message name="getSlabTarrifOut">
    <wsdl:part name="getSlabTarrifResponse" element="tns:getSlabTarrifResponse" />
  </wsdl:message>
  <wsdl:message name="getEstimateLineItemsPIn">
    <wsdl:part name="parameters" element="tns:getEstimateLineItemsP" />
  </wsdl:message>
  <wsdl:message name="getEstimateLineItemsPOut">
    <wsdl:part name="getEstimateLineItemsPResponse" element="tns:getEstimateLineItemsPResponse" />
  </wsdl:message>
  <wsdl:message name="getTechnicalComplaintIn">
    <wsdl:part name="parameters" element="tns:getTechnicalComplaint" />
  </wsdl:message>
  <wsdl:message name="getTechnicalComplaintOut">
    <wsdl:part name="getTechnicalComplaintResponse" element="tns:getTechnicalComplaintResponse" />
  </wsdl:message>
  <wsdl:message name="getGovtObservationIn">
    <wsdl:part name="parameters" element="tns:getGovtObservation" />
  </wsdl:message>
  <wsdl:message name="getGovtObservationOut">
    <wsdl:part name="getGovtObservationResponse" element="tns:getGovtObservationResponse" />
  </wsdl:message>
  <wsdl:message name="businessMethodIn">
    <wsdl:part name="parameters" element="tns:businessMethod" />
  </wsdl:message>
  <wsdl:message name="businessMethodOut">
    <wsdl:part name="businessMethodResponse" element="tns:businessMethodResponse" />
  </wsdl:message>
  <wsdl:message name="getLatestMonthtoMonthConsIn">
    <wsdl:part name="parameters" element="tns:getLatestMonthtoMonthCons" />
  </wsdl:message>
  <wsdl:message name="getLatestMonthtoMonthConsOut">
    <wsdl:part name="getLatestMonthtoMonthConsResponse" element="tns:getLatestMonthtoMonthConsResponse" />
  </wsdl:message>
  <wsdl:message name="getBillDetailsDataIn">
    <wsdl:part name="parameters" element="tns:getBillDetailsData" />
  </wsdl:message>
  <wsdl:message name="getBillDetailsDataOut">
    <wsdl:part name="getBillDetailsDataResponse" element="tns:getBillDetailsDataResponse" />
  </wsdl:message>
  <wsdl:message name="getFinalBillIn">
    <wsdl:part name="parameters" element="tns:getFinalBill" />
  </wsdl:message>
  <wsdl:message name="getFinalBillOut">
    <wsdl:part name="getFinalBillResponse" element="tns:getFinalBillResponse" />
  </wsdl:message>
  <wsdl:message name="getHighLowComplaintsIn">
    <wsdl:part name="parameters" element="tns:getHighLowComplaints" />
  </wsdl:message>
  <wsdl:message name="getHighLowComplaintsOut">
    <wsdl:part name="getHighLowComplaintsResponse" element="tns:getHighLowComplaintsResponse" />
  </wsdl:message>
  <wsdl:message name="getrateCategortyChangeIn">
    <wsdl:part name="parameters" element="tns:getrateCategortyChange" />
  </wsdl:message>
  <wsdl:message name="getrateCategortyChangeOut">
    <wsdl:part name="getrateCategortyChangeResponse" element="tns:getrateCategortyChangeResponse" />
  </wsdl:message>
  <wsdl:message name="getHighLowComplaintsCodesIn">
    <wsdl:part name="parameters" element="tns:getHighLowComplaintsCodes" />
  </wsdl:message>
  <wsdl:message name="getHighLowComplaintsCodesOut">
    <wsdl:part name="getHighLowComplaintsCodesResponse" element="tns:getHighLowComplaintsCodesResponse" />
  </wsdl:message>
  <wsdl:message name="getBillDetailsData1In">
    <wsdl:part name="parameters" element="tns:getBillDetailsData1" />
  </wsdl:message>
  <wsdl:message name="getBillDetailsData1Out">
    <wsdl:part name="getBillDetailsData1Response" element="tns:getBillDetailsData1Response" />
  </wsdl:message>
  <wsdl:message name="photouploadIn">
    <wsdl:part name="parameters" element="tns:photoupload" />
  </wsdl:message>
  <wsdl:message name="photouploadOut">
    <wsdl:part name="photouploadResponse" element="tns:photouploadResponse" />
  </wsdl:message>
  <wsdl:message name="GetEstimationNoDetailIn">
    <wsdl:part name="parameters" element="tns:GetEstimationNoDetail" />
  </wsdl:message>
  <wsdl:message name="GetEstimationNoDetailOut">
    <wsdl:part name="GetEstimationNoDetailResponse" element="tns:GetEstimationNoDetailResponse" />
  </wsdl:message>
  <wsdl:message name="moveinIn">
    <wsdl:part name="parameters" element="tns:movein" />
  </wsdl:message>
  <wsdl:message name="moveinOut">
    <wsdl:part name="moveinResponse" element="tns:moveinResponse" />
  </wsdl:message>
  <wsdl:message name="attachMoveInIn">
    <wsdl:part name="parameters" element="tns:attachMoveIn" />
  </wsdl:message>
  <wsdl:message name="attachMoveInOut">
    <wsdl:part name="attachMoveInResponse" element="tns:attachMoveInResponse" />
  </wsdl:message>
  <wsdl:message name="checkUserIDIn">
    <wsdl:part name="parameters" element="tns:checkUserID" />
  </wsdl:message>
  <wsdl:message name="checkUserIDOut">
    <wsdl:part name="checkUserIDResponse" element="tns:checkUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="getClearanceCertificateIn">
    <wsdl:part name="parameters" element="tns:getClearanceCertificate" />
  </wsdl:message>
  <wsdl:message name="getClearanceCertificateOut">
    <wsdl:part name="getClearanceCertificateResponse" element="tns:getClearanceCertificateResponse" />
  </wsdl:message>
  <wsdl:message name="getClearanceCertificateDisplayIn">
    <wsdl:part name="parameters" element="tns:getClearanceCertificateDisplay" />
  </wsdl:message>
  <wsdl:message name="getClearanceCertificateDisplayOut">
    <wsdl:part name="getClearanceCertificateDisplayResponse" element="tns:getClearanceCertificateDisplayResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceInterruptionIn">
    <wsdl:part name="parameters" element="tns:GetServiceInterruption" />
  </wsdl:message>
  <wsdl:message name="GetServiceInterruptionOut">
    <wsdl:part name="GetServiceInterruptionResponse" element="tns:GetServiceInterruptionResponse" />
  </wsdl:message>
  <wsdl:message name="addBPIn">
    <wsdl:part name="parameters" element="tns:addBP" />
  </wsdl:message>
  <wsdl:message name="addBPOut">
    <wsdl:part name="addBPResponse" element="tns:addBPResponse" />
  </wsdl:message>
  <wsdl:message name="myIDClaimsIn">
    <wsdl:part name="parameters" element="tns:myIDClaims" />
  </wsdl:message>
  <wsdl:message name="myIDClaimsOut">
    <wsdl:part name="myIDClaimsResponse" element="tns:myIDClaimsResponse" />
  </wsdl:message>
  <wsdl:portType name="Config1">
    <wsdl:operation name="regGreenBill" parameterOrder="parameters">
      <wsdl:input message="tns:regGreenBillIn" />
      <wsdl:output message="tns:regGreenBillOut" />
    </wsdl:operation>
    <wsdl:operation name="getGreenBillDetails" parameterOrder="parameters">
      <wsdl:input message="tns:getGreenBillDetailsIn" />
      <wsdl:output message="tns:getGreenBillDetailsOut" />
    </wsdl:operation>
    <wsdl:operation name="Login" parameterOrder="parameters">
      <wsdl:input message="tns:LoginIn" />
      <wsdl:output message="tns:LoginOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContractAccounts" parameterOrder="parameters">
      <wsdl:input message="tns:GetAllContractAccountsIn" />
      <wsdl:output message="tns:GetAllContractAccountsOut" />
    </wsdl:operation>
    <wsdl:operation name="getOutstandingBalance" parameterOrder="parameters">
      <wsdl:input message="tns:getOutstandingBalanceIn" />
      <wsdl:output message="tns:getOutstandingBalanceOut" />
    </wsdl:operation>
    <wsdl:operation name="getYearlyConsumption" parameterOrder="parameters">
      <wsdl:input message="tns:getYearlyConsumptionIn" />
      <wsdl:output message="tns:getYearlyConsumptionOut" />
    </wsdl:operation>
    <wsdl:operation name="getLastConsumptionforMonths" parameterOrder="parameters">
      <wsdl:input message="tns:getLastConsumptionforMonthsIn" />
      <wsdl:output message="tns:getLastConsumptionforMonthsOut" />
    </wsdl:operation>
    <wsdl:operation name="getYearlyAverageConsumption" parameterOrder="parameters">
      <wsdl:input message="tns:getYearlyAverageConsumptionIn" />
      <wsdl:output message="tns:getYearlyAverageConsumptionOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserLoginCustomerPortal" parameterOrder="parameters">
      <wsdl:input message="tns:getUserLoginCustomerPortalIn" />
      <wsdl:output message="tns:getUserLoginCustomerPortalOut" />
    </wsdl:operation>
    <wsdl:operation name="getCo2Footprint" parameterOrder="parameters">
      <wsdl:input message="tns:getCo2FootprintIn" />
      <wsdl:output message="tns:getCo2FootprintOut" />
    </wsdl:operation>
    <wsdl:operation name="getEWConnectionStatus" parameterOrder="parameters">
      <wsdl:input message="tns:getEWConnectionStatusIn" />
      <wsdl:output message="tns:getEWConnectionStatusOut" />
    </wsdl:operation>
    <wsdl:operation name="changePassword" parameterOrder="parameters">
      <wsdl:input message="tns:changePasswordIn" />
      <wsdl:output message="tns:changePasswordOut" />
    </wsdl:operation>
    <wsdl:operation name="getSlabTarrifWithColorCodes" parameterOrder="parameters">
      <wsdl:input message="tns:getSlabTarrifWithColorCodesIn" />
      <wsdl:output message="tns:getSlabTarrifWithColorCodesOut" />
    </wsdl:operation>
    <wsdl:operation name="getNotificationStatus" parameterOrder="parameters">
      <wsdl:input message="tns:getNotificationStatusIn" />
      <wsdl:output message="tns:getNotificationStatusOut" />
    </wsdl:operation>
    <wsdl:operation name="resetPassword" parameterOrder="parameters">
      <wsdl:input message="tns:resetPasswordIn" />
      <wsdl:output message="tns:resetPasswordOut" />
    </wsdl:operation>
    <wsdl:operation name="getComplntDetail" parameterOrder="parameters">
      <wsdl:input message="tns:getComplntDetailIn" />
      <wsdl:output message="tns:getComplntDetailOut" />
    </wsdl:operation>
    <wsdl:operation name="getSlabTarrif" parameterOrder="parameters">
      <wsdl:input message="tns:getSlabTarrifIn" />
      <wsdl:output message="tns:getSlabTarrifOut" />
    </wsdl:operation>
    <wsdl:operation name="getEstimateLineItemsP" parameterOrder="parameters">
      <wsdl:input message="tns:getEstimateLineItemsPIn" />
      <wsdl:output message="tns:getEstimateLineItemsPOut" />
    </wsdl:operation>
    <wsdl:operation name="getTechnicalComplaint" parameterOrder="parameters">
      <wsdl:input message="tns:getTechnicalComplaintIn" />
      <wsdl:output message="tns:getTechnicalComplaintOut" />
    </wsdl:operation>
    <wsdl:operation name="getGovtObservation" parameterOrder="parameters">
      <wsdl:input message="tns:getGovtObservationIn" />
      <wsdl:output message="tns:getGovtObservationOut" />
    </wsdl:operation>
    <wsdl:operation name="businessMethod" parameterOrder="parameters">
      <wsdl:input message="tns:businessMethodIn" />
      <wsdl:output message="tns:businessMethodOut" />
    </wsdl:operation>
    <wsdl:operation name="getLatestMonthtoMonthCons" parameterOrder="parameters">
      <wsdl:input message="tns:getLatestMonthtoMonthConsIn" />
      <wsdl:output message="tns:getLatestMonthtoMonthConsOut" />
    </wsdl:operation>
    <wsdl:operation name="getBillDetailsData" parameterOrder="parameters">
      <wsdl:input message="tns:getBillDetailsDataIn" />
      <wsdl:output message="tns:getBillDetailsDataOut" />
    </wsdl:operation>
    <wsdl:operation name="getFinalBill" parameterOrder="parameters">
      <wsdl:input message="tns:getFinalBillIn" />
      <wsdl:output message="tns:getFinalBillOut" />
    </wsdl:operation>
    <wsdl:operation name="getHighLowComplaints" parameterOrder="parameters">
      <wsdl:input message="tns:getHighLowComplaintsIn" />
      <wsdl:output message="tns:getHighLowComplaintsOut" />
    </wsdl:operation>
    <wsdl:operation name="getrateCategortyChange" parameterOrder="parameters">
      <wsdl:input message="tns:getrateCategortyChangeIn" />
      <wsdl:output message="tns:getrateCategortyChangeOut" />
    </wsdl:operation>
    <wsdl:operation name="getHighLowComplaintsCodes" parameterOrder="parameters">
      <wsdl:input message="tns:getHighLowComplaintsCodesIn" />
      <wsdl:output message="tns:getHighLowComplaintsCodesOut" />
    </wsdl:operation>
    <wsdl:operation name="getBillDetailsData1" parameterOrder="parameters">
      <wsdl:input message="tns:getBillDetailsData1In" />
      <wsdl:output message="tns:getBillDetailsData1Out" />
    </wsdl:operation>
    <wsdl:operation name="photoupload" parameterOrder="parameters">
      <wsdl:input message="tns:photouploadIn" />
      <wsdl:output message="tns:photouploadOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEstimationNoDetail" parameterOrder="parameters">
      <wsdl:input message="tns:GetEstimationNoDetailIn" />
      <wsdl:output message="tns:GetEstimationNoDetailOut" />
    </wsdl:operation>
    <wsdl:operation name="movein" parameterOrder="parameters">
      <wsdl:input message="tns:moveinIn" />
      <wsdl:output message="tns:moveinOut" />
    </wsdl:operation>
    <wsdl:operation name="attachMoveIn" parameterOrder="parameters">
      <wsdl:input message="tns:attachMoveInIn" />
      <wsdl:output message="tns:attachMoveInOut" />
    </wsdl:operation>
    <wsdl:operation name="checkUserID" parameterOrder="parameters">
      <wsdl:input message="tns:checkUserIDIn" />
      <wsdl:output message="tns:checkUserIDOut" />
    </wsdl:operation>
    <wsdl:operation name="getClearanceCertificate" parameterOrder="parameters">
      <wsdl:input message="tns:getClearanceCertificateIn" />
      <wsdl:output message="tns:getClearanceCertificateOut" />
    </wsdl:operation>
    <wsdl:operation name="getClearanceCertificateDisplay" parameterOrder="parameters">
      <wsdl:input message="tns:getClearanceCertificateDisplayIn" />
      <wsdl:output message="tns:getClearanceCertificateDisplayOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceInterruption" parameterOrder="parameters">
      <wsdl:input message="tns:GetServiceInterruptionIn" />
      <wsdl:output message="tns:GetServiceInterruptionOut" />
    </wsdl:operation>
    <wsdl:operation name="addBP" parameterOrder="parameters">
      <wsdl:input message="tns:addBPIn" />
      <wsdl:output message="tns:addBPOut" />
    </wsdl:operation>
    <wsdl:operation name="myIDClaims" parameterOrder="parameters">
      <wsdl:input message="tns:myIDClaimsIn" />
      <wsdl:output message="tns:myIDClaimsOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Config1Binding" type="tns:Config1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="regGreenBill">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGreenBillDetails">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContractAccounts">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOutstandingBalance">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getYearlyConsumption">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastConsumptionforMonths">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getYearlyAverageConsumption">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserLoginCustomerPortal">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCo2Footprint">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEWConnectionStatus">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSlabTarrifWithColorCodes">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNotificationStatus">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComplntDetail">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSlabTarrif">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEstimateLineItemsP">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTechnicalComplaint">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGovtObservation">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="businessMethod">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatestMonthtoMonthCons">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBillDetailsData">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFinalBill">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHighLowComplaints">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getrateCategortyChange">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHighLowComplaintsCodes">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBillDetailsData1">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="photoupload">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstimationNoDetail">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="movein">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachMoveIn">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUserID">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClearanceCertificate">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClearanceCertificateDisplay">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceInterruption">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBP">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="myIDClaims">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eServices">
    <wsdl:port name="MobileeServicesWsd" binding="tns:Config1Binding">
      <address location="http://portaltest.dewa.gov.ae:50400/eServices/Config1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>