Src/Foundation/Integration/Code/Service References/TenderSvc/tenderservices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://dewawebservices.dewa.gov.ae/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dewawebservices.dewa.gov.ae/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dewawebservices.dewa.gov.ae/">
      <s:element name="GetOpenTenderList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appver" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobileosver" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appidentifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOpenTenderListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOpenTenderListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTenderOpeningList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appver" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobileosver" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appidentifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTenderOpeningListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTenderOpeningListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTenderOpeningResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appver" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobileosver" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appidentifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTenderOpeningResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTenderOpeningResultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOpenTenderListSoapIn">
    <wsdl:part name="parameters" element="tns:GetOpenTenderList" />
  </wsdl:message>
  <wsdl:message name="GetOpenTenderListSoapOut">
    <wsdl:part name="parameters" element="tns:GetOpenTenderListResponse" />
  </wsdl:message>
  <wsdl:message name="GetTenderOpeningListSoapIn">
    <wsdl:part name="parameters" element="tns:GetTenderOpeningList" />
  </wsdl:message>
  <wsdl:message name="GetTenderOpeningListSoapOut">
    <wsdl:part name="parameters" element="tns:GetTenderOpeningListResponse" />
  </wsdl:message>
  <wsdl:message name="GetTenderOpeningResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetTenderOpeningResult" />
  </wsdl:message>
  <wsdl:message name="GetTenderOpeningResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetTenderOpeningResultResponse" />
  </wsdl:message>
  <wsdl:portType name="TenderServicesSoap">
    <wsdl:operation name="GetOpenTenderList">
      <wsdl:input message="tns:GetOpenTenderListSoapIn" />
      <wsdl:output message="tns:GetOpenTenderListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTenderOpeningList">
      <wsdl:input message="tns:GetTenderOpeningListSoapIn" />
      <wsdl:output message="tns:GetTenderOpeningListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTenderOpeningResult">
      <wsdl:input message="tns:GetTenderOpeningResultSoapIn" />
      <wsdl:output message="tns:GetTenderOpeningResultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TenderServicesSoap" type="tns:TenderServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOpenTenderList">
      <soap:operation soapAction="http://dewawebservices.dewa.gov.ae/GetOpenTenderList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTenderOpeningList">
      <soap:operation soapAction="http://dewawebservices.dewa.gov.ae/GetTenderOpeningList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTenderOpeningResult">
      <soap:operation soapAction="http://dewawebservices.dewa.gov.ae/GetTenderOpeningResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TenderServicesSoap12" type="tns:TenderServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOpenTenderList">
      <soap12:operation soapAction="http://dewawebservices.dewa.gov.ae/GetOpenTenderList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTenderOpeningList">
      <soap12:operation soapAction="http://dewawebservices.dewa.gov.ae/GetTenderOpeningList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTenderOpeningResult">
      <soap12:operation soapAction="http://dewawebservices.dewa.gov.ae/GetTenderOpeningResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TenderServices">
    <wsdl:port name="TenderServicesSoap" binding="tns:TenderServicesSoap">
      <soap:address location="http://e-services.dewa.gov.ae/Smart_Tender_Webservice/tenderservices.asmx" />
    </wsdl:port>
    <wsdl:port name="TenderServicesSoap12" binding="tns:TenderServicesSoap12">
      <soap12:address location="http://e-services.dewa.gov.ae/Smart_Tender_Webservice/tenderservices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>