Src/Foundation/Integration/Code/Service References/EFormBPMSVC/e-work.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/Ework_WebService/Service1" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/Ework_WebService/Service1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/Ework_WebService/Service1">
      <s:element name="LoginAsGuest">
        <s:complexType />
      </s:element>
      <s:element name="LoginAsGuestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginAsGuestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginInEForm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginInEFormResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginInEFormResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Secure_LoginInEForm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MD5_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Secure_LoginInEFormResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Secure_LoginInEFormResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitNewForm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML_FormValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MapName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ActionName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FormName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MapVersion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitNewFormResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitNewFormResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Process_Action">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ActionName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FolderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XML_FormValues" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Process_ActionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Process_ActionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_FormValues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read_FormValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Read_FormValuesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Check_Session">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Check_SessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Check_SessionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetToDoList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetToDoListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetToDoListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Check_UserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Check_UserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Check_UserIDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Upload_Attachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="efolderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileBytesArray" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Upload_AttachmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Upload_AttachmentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_Attachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="efolderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_AttachmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Delete_AttachmentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Download_Attachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="efolderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Download_AttachmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Download_AttachmentResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_Map_Version">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MapName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_Map_VersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Get_Map_VersionResult" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_User_Roles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_User_RolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_User_RolesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogOutResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Archive_eForm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML_FormValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DMS_Path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DMS_Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DMS_Attributes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Archive_eFormResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Archive_eFormResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Query_Ework_DB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB_Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Query_Ework_DBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Query_Ework_DBResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Query_Ework_DB_Update_V2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML_FormValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MapName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB_Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Query_Ework_DB_Update_V2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Query_Ework_DB_Update_V2Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Query_Ework_DB_Update_V3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML_FormValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MapName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB_Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Query_Ework_DB_Update_V3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Query_Ework_DB_Update_V3Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Query_Ework_DB_Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="b" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="c" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="d" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="e" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB_Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Query_Ework_DB_UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Query_Ework_DB_UpdateResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_DMS_Integration_Table">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="efolderid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dmsid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="filesize" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isvirtualdoc" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="DB_Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_DMS_Integration_TableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Update_DMS_Integration_TableResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Remove_From_DMS_Integration_Table">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dmsid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB_Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Remove_From_DMS_Integration_TableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Remove_From_DMS_Integration_TableResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_Payment_Step1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="efolderid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="PaymentChannel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentstatus" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="trdate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="eservice_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="eservice_forwardurl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="spcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="servcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB_Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_Payment_Step1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Update_Payment_Step1Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_Payment_Step2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="degTrn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentmethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="degmessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="degmessagecode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentstatus" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="trenddate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="updatedByDEGWs" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="DB_Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_Payment_Step2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Update_Payment_Step2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test_WebService">
        <s:complexType />
      </s:element>
      <s:element name="Test_WebServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Test_WebServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWebserviceVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetWebserviceVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWebserviceVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginAsGuestSoapIn">
    <wsdl:part name="parameters" element="tns:LoginAsGuest" />
  </wsdl:message>
  <wsdl:message name="LoginAsGuestSoapOut">
    <wsdl:part name="parameters" element="tns:LoginAsGuestResponse" />
  </wsdl:message>
  <wsdl:message name="LoginInEFormSoapIn">
    <wsdl:part name="parameters" element="tns:LoginInEForm" />
  </wsdl:message>
  <wsdl:message name="LoginInEFormSoapOut">
    <wsdl:part name="parameters" element="tns:LoginInEFormResponse" />
  </wsdl:message>
  <wsdl:message name="Secure_LoginInEFormSoapIn">
    <wsdl:part name="parameters" element="tns:Secure_LoginInEForm" />
  </wsdl:message>
  <wsdl:message name="Secure_LoginInEFormSoapOut">
    <wsdl:part name="parameters" element="tns:Secure_LoginInEFormResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitNewFormSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitNewForm" />
  </wsdl:message>
  <wsdl:message name="SubmitNewFormSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitNewFormResponse" />
  </wsdl:message>
  <wsdl:message name="Process_ActionSoapIn">
    <wsdl:part name="parameters" element="tns:Process_Action" />
  </wsdl:message>
  <wsdl:message name="Process_ActionSoapOut">
    <wsdl:part name="parameters" element="tns:Process_ActionResponse" />
  </wsdl:message>
  <wsdl:message name="Read_FormValuesSoapIn">
    <wsdl:part name="parameters" element="tns:Read_FormValues" />
  </wsdl:message>
  <wsdl:message name="Read_FormValuesSoapOut">
    <wsdl:part name="parameters" element="tns:Read_FormValuesResponse" />
  </wsdl:message>
  <wsdl:message name="Check_SessionSoapIn">
    <wsdl:part name="parameters" element="tns:Check_Session" />
  </wsdl:message>
  <wsdl:message name="Check_SessionSoapOut">
    <wsdl:part name="parameters" element="tns:Check_SessionResponse" />
  </wsdl:message>
  <wsdl:message name="GetToDoListSoapIn">
    <wsdl:part name="parameters" element="tns:GetToDoList" />
  </wsdl:message>
  <wsdl:message name="GetToDoListSoapOut">
    <wsdl:part name="parameters" element="tns:GetToDoListResponse" />
  </wsdl:message>
  <wsdl:message name="Check_UserIDSoapIn">
    <wsdl:part name="parameters" element="tns:Check_UserID" />
  </wsdl:message>
  <wsdl:message name="Check_UserIDSoapOut">
    <wsdl:part name="parameters" element="tns:Check_UserIDResponse" />
  </wsdl:message>
  <wsdl:message name="Upload_AttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:Upload_Attachment" />
  </wsdl:message>
  <wsdl:message name="Upload_AttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:Upload_AttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="Delete_AttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:Delete_Attachment" />
  </wsdl:message>
  <wsdl:message name="Delete_AttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:Delete_AttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="Download_AttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:Download_Attachment" />
  </wsdl:message>
  <wsdl:message name="Download_AttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:Download_AttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="Get_Map_VersionSoapIn">
    <wsdl:part name="parameters" element="tns:Get_Map_Version" />
  </wsdl:message>
  <wsdl:message name="Get_Map_VersionSoapOut">
    <wsdl:part name="parameters" element="tns:Get_Map_VersionResponse" />
  </wsdl:message>
  <wsdl:message name="Get_User_RolesSoapIn">
    <wsdl:part name="parameters" element="tns:Get_User_Roles" />
  </wsdl:message>
  <wsdl:message name="Get_User_RolesSoapOut">
    <wsdl:part name="parameters" element="tns:Get_User_RolesResponse" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapIn">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapOut">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="Archive_eFormSoapIn">
    <wsdl:part name="parameters" element="tns:Archive_eForm" />
  </wsdl:message>
  <wsdl:message name="Archive_eFormSoapOut">
    <wsdl:part name="parameters" element="tns:Archive_eFormResponse" />
  </wsdl:message>
  <wsdl:message name="Query_Ework_DBSoapIn">
    <wsdl:part name="parameters" element="tns:Query_Ework_DB" />
  </wsdl:message>
  <wsdl:message name="Query_Ework_DBSoapOut">
    <wsdl:part name="parameters" element="tns:Query_Ework_DBResponse" />
  </wsdl:message>
  <wsdl:message name="Query_Ework_DB_Update_V2SoapIn">
    <wsdl:part name="parameters" element="tns:Query_Ework_DB_Update_V2" />
  </wsdl:message>
  <wsdl:message name="Query_Ework_DB_Update_V2SoapOut">
    <wsdl:part name="parameters" element="tns:Query_Ework_DB_Update_V2Response" />
  </wsdl:message>
  <wsdl:message name="Query_Ework_DB_Update_V3SoapIn">
    <wsdl:part name="parameters" element="tns:Query_Ework_DB_Update_V3" />
  </wsdl:message>
  <wsdl:message name="Query_Ework_DB_Update_V3SoapOut">
    <wsdl:part name="parameters" element="tns:Query_Ework_DB_Update_V3Response" />
  </wsdl:message>
  <wsdl:message name="Query_Ework_DB_UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Query_Ework_DB_Update" />
  </wsdl:message>
  <wsdl:message name="Query_Ework_DB_UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:Query_Ework_DB_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="Update_DMS_Integration_TableSoapIn">
    <wsdl:part name="parameters" element="tns:Update_DMS_Integration_Table" />
  </wsdl:message>
  <wsdl:message name="Update_DMS_Integration_TableSoapOut">
    <wsdl:part name="parameters" element="tns:Update_DMS_Integration_TableResponse" />
  </wsdl:message>
  <wsdl:message name="Remove_From_DMS_Integration_TableSoapIn">
    <wsdl:part name="parameters" element="tns:Remove_From_DMS_Integration_Table" />
  </wsdl:message>
  <wsdl:message name="Remove_From_DMS_Integration_TableSoapOut">
    <wsdl:part name="parameters" element="tns:Remove_From_DMS_Integration_TableResponse" />
  </wsdl:message>
  <wsdl:message name="Update_Payment_Step1SoapIn">
    <wsdl:part name="parameters" element="tns:Update_Payment_Step1" />
  </wsdl:message>
  <wsdl:message name="Update_Payment_Step1SoapOut">
    <wsdl:part name="parameters" element="tns:Update_Payment_Step1Response" />
  </wsdl:message>
  <wsdl:message name="Update_Payment_Step2SoapIn">
    <wsdl:part name="parameters" element="tns:Update_Payment_Step2" />
  </wsdl:message>
  <wsdl:message name="Update_Payment_Step2SoapOut">
    <wsdl:part name="parameters" element="tns:Update_Payment_Step2Response" />
  </wsdl:message>
  <wsdl:message name="Test_WebServiceSoapIn">
    <wsdl:part name="parameters" element="tns:Test_WebService" />
  </wsdl:message>
  <wsdl:message name="Test_WebServiceSoapOut">
    <wsdl:part name="parameters" element="tns:Test_WebServiceResponse" />
  </wsdl:message>
  <wsdl:message name="GetWebserviceVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetWebserviceVersion" />
  </wsdl:message>
  <wsdl:message name="GetWebserviceVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetWebserviceVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="EworkSoap">
    <wsdl:operation name="LoginAsGuest">
      <wsdl:input message="tns:LoginAsGuestSoapIn" />
      <wsdl:output message="tns:LoginAsGuestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginInEForm">
      <wsdl:input message="tns:LoginInEFormSoapIn" />
      <wsdl:output message="tns:LoginInEFormSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Secure_LoginInEForm">
      <wsdl:input message="tns:Secure_LoginInEFormSoapIn" />
      <wsdl:output message="tns:Secure_LoginInEFormSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitNewForm">
      <wsdl:input message="tns:SubmitNewFormSoapIn" />
      <wsdl:output message="tns:SubmitNewFormSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Process_Action">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Note: XML_FormValues is not needed if you only want to process the action (without repoening the folder)</wsdl:documentation>
      <wsdl:input message="tns:Process_ActionSoapIn" />
      <wsdl:output message="tns:Process_ActionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read_FormValues">
      <wsdl:input message="tns:Read_FormValuesSoapIn" />
      <wsdl:output message="tns:Read_FormValuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Check_Session">
      <wsdl:input message="tns:Check_SessionSoapIn" />
      <wsdl:output message="tns:Check_SessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetToDoList">
      <wsdl:input message="tns:GetToDoListSoapIn" />
      <wsdl:output message="tns:GetToDoListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Check_UserID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">If True Then No Users available with the same name, Otherwise UserID is already take</wsdl:documentation>
      <wsdl:input message="tns:Check_UserIDSoapIn" />
      <wsdl:output message="tns:Check_UserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Upload_Attachment">
      <wsdl:input message="tns:Upload_AttachmentSoapIn" />
      <wsdl:output message="tns:Upload_AttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Attachment">
      <wsdl:input message="tns:Delete_AttachmentSoapIn" />
      <wsdl:output message="tns:Delete_AttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Download_Attachment">
      <wsdl:input message="tns:Download_AttachmentSoapIn" />
      <wsdl:output message="tns:Download_AttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_Map_Version">
      <wsdl:input message="tns:Get_Map_VersionSoapIn" />
      <wsdl:output message="tns:Get_Map_VersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_User_Roles">
      <wsdl:input message="tns:Get_User_RolesSoapIn" />
      <wsdl:output message="tns:Get_User_RolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input message="tns:LogOutSoapIn" />
      <wsdl:output message="tns:LogOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Archive_eForm">
      <wsdl:input message="tns:Archive_eFormSoapIn" />
      <wsdl:output message="tns:Archive_eFormSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Query_Ework_DB">
      <wsdl:input message="tns:Query_Ework_DBSoapIn" />
      <wsdl:output message="tns:Query_Ework_DBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Query_Ework_DB_Update_V2">
      <wsdl:input message="tns:Query_Ework_DB_Update_V2SoapIn" />
      <wsdl:output message="tns:Query_Ework_DB_Update_V2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Query_Ework_DB_Update_V3">
      <wsdl:input message="tns:Query_Ework_DB_Update_V3SoapIn" />
      <wsdl:output message="tns:Query_Ework_DB_Update_V3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Query_Ework_DB_Update">
      <wsdl:input message="tns:Query_Ework_DB_UpdateSoapIn" />
      <wsdl:output message="tns:Query_Ework_DB_UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_DMS_Integration_Table">
      <wsdl:input message="tns:Update_DMS_Integration_TableSoapIn" />
      <wsdl:output message="tns:Update_DMS_Integration_TableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Remove_From_DMS_Integration_Table">
      <wsdl:input message="tns:Remove_From_DMS_Integration_TableSoapIn" />
      <wsdl:output message="tns:Remove_From_DMS_Integration_TableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_Payment_Step1">
      <wsdl:input message="tns:Update_Payment_Step1SoapIn" />
      <wsdl:output message="tns:Update_Payment_Step1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_Payment_Step2">
      <wsdl:input message="tns:Update_Payment_Step2SoapIn" />
      <wsdl:output message="tns:Update_Payment_Step2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test_WebService">
      <wsdl:input message="tns:Test_WebServiceSoapIn" />
      <wsdl:output message="tns:Test_WebServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWebserviceVersion">
      <wsdl:input message="tns:GetWebserviceVersionSoapIn" />
      <wsdl:output message="tns:GetWebserviceVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EworkSoap" type="tns:EworkSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginAsGuest">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/LoginAsGuest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginInEForm">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/LoginInEForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Secure_LoginInEForm">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Secure_LoginInEForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitNewForm">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/SubmitNewForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Process_Action">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Process_Action" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_FormValues">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Read_FormValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check_Session">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Check_Session" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToDoList">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/GetToDoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check_UserID">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Check_UserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upload_Attachment">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Upload_Attachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Attachment">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Delete_Attachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Download_Attachment">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Download_Attachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Map_Version">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Get_Map_Version" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_User_Roles">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Get_User_Roles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Archive_eForm">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Archive_eForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query_Ework_DB">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Query_Ework_DB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query_Ework_DB_Update_V2">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Query_Ework_DB_Update_V2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query_Ework_DB_Update_V3">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Query_Ework_DB_Update_V3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query_Ework_DB_Update">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Query_Ework_DB_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_DMS_Integration_Table">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Update_DMS_Integration_Table" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove_From_DMS_Integration_Table">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Remove_From_DMS_Integration_Table" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Payment_Step1">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Update_Payment_Step1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Payment_Step2">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Update_Payment_Step2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_WebService">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Test_WebService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebserviceVersion">
      <soap:operation soapAction="http://tempuri.org/Ework_WebService/Service1/GetWebserviceVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EworkSoap12" type="tns:EworkSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginAsGuest">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/LoginAsGuest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginInEForm">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/LoginInEForm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Secure_LoginInEForm">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Secure_LoginInEForm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitNewForm">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/SubmitNewForm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Process_Action">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Process_Action" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read_FormValues">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Read_FormValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check_Session">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Check_Session" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToDoList">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/GetToDoList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check_UserID">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Check_UserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upload_Attachment">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Upload_Attachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Attachment">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Delete_Attachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Download_Attachment">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Download_Attachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Map_Version">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Get_Map_Version" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_User_Roles">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Get_User_Roles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Archive_eForm">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Archive_eForm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query_Ework_DB">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Query_Ework_DB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query_Ework_DB_Update_V2">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Query_Ework_DB_Update_V2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query_Ework_DB_Update_V3">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Query_Ework_DB_Update_V3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query_Ework_DB_Update">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Query_Ework_DB_Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_DMS_Integration_Table">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Update_DMS_Integration_Table" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove_From_DMS_Integration_Table">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Remove_From_DMS_Integration_Table" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Payment_Step1">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Update_Payment_Step1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Payment_Step2">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Update_Payment_Step2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_WebService">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/Test_WebService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebserviceVersion">
      <soap12:operation soapAction="http://tempuri.org/Ework_WebService/Service1/GetWebserviceVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Ework">
    <wsdl:port name="EworkSoap" binding="tns:EworkSoap">
      <soap:address location="http://dewawebservices.dewa.gov.ae:7550/Ework_WebService_Ar/e-work.asmx" />
    </wsdl:port>
    <wsdl:port name="EworkSoap12" binding="tns:EworkSoap12">
      <soap12:address location="http://dewawebservices.dewa.gov.ae:7550/Ework_WebService_Ar/e-work.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>