Src/Foundation/Integration/Code/Service References/LectureBookingSvc/wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://ws.portal.dewa.gov.ae/itd/" targetNamespace="http://ws.portal.dewa.gov.ae/itd/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://ws.portal.dewa.gov.ae/itd/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="PutLectureBookingAwardSubmission" type="tns:PutLectureBookingAwardSubmission" />
      <xs:element name="PutLectureBookingAwardSubmissionResponse" type="tns:PutLectureBookingAwardSubmissionResponse" />
      <xs:complexType name="PutLectureBookingAwardSubmission">
        <xs:sequence>
          <xs:element minOccurs="0" name="formrequest" type="tns:formBookingRequest" />
          <xs:element minOccurs="0" name="form" type="xs:string" />
          <xs:element minOccurs="0" name="conservationaward" type="tns:conservationAwardRequest" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="merchantid" type="xs:string" />
          <xs:element minOccurs="0" name="filename" type="xs:string" />
          <xs:element minOccurs="0" name="filecontent" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="mobileosversion" type="xs:string" />
          <xs:element minOccurs="0" name="appversion" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
          <xs:element minOccurs="0" name="channel" type="xs:string" />
          <xs:element minOccurs="0" name="updatemode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="formBookingRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="address" type="xs:string" />
          <xs:element minOccurs="0" name="channel" type="xs:string" />
          <xs:element minOccurs="0" name="college_university" type="xs:string" />
          <xs:element minOccurs="0" name="conservationemailaddress" type="xs:string" />
          <xs:element minOccurs="0" name="conservationmobilenumber" type="xs:string" />
          <xs:element minOccurs="0" name="conservationname" type="xs:string" />
          <xs:element minOccurs="0" name="coordinatoremailaddress" type="xs:string" />
          <xs:element minOccurs="0" name="coordinatormobilenumber" type="xs:string" />
          <xs:element minOccurs="0" name="coordinatorname" type="xs:string" />
          <xs:element minOccurs="0" name="distinguishparentachie" type="xs:string" />
          <xs:element minOccurs="0" name="distinguishparenttargets" type="xs:string" />
          <xs:element minOccurs="0" name="educationcenter" type="xs:string" />
          <xs:element minOccurs="0" name="electricityaccountnumber" type="xs:string" />
          <xs:element minOccurs="0" name="elementary" type="xs:string" />
          <xs:element minOccurs="0" name="emailaddresskey" type="xs:string" />
          <xs:element minOccurs="0" name="formtype" type="xs:string" />
          <xs:element minOccurs="0" name="higherschool" type="xs:string" />
          <xs:element minOccurs="0" name="hybridlearning" type="xs:string" />
          <xs:element minOccurs="0" name="innovationcreativity" type="xs:string" />
          <xs:element minOccurs="0" name="instituteemailaddress" type="xs:string" />
          <xs:element minOccurs="0" name="institutelandline" type="xs:string" />
          <xs:element minOccurs="0" name="intermediate" type="xs:string" />
          <xs:element minOccurs="0" name="kindergarten" type="xs:string" />
          <xs:element minOccurs="0" name="lecture" type="xs:string" />
          <xs:element minOccurs="0" name="lecturedate" type="xs:string" />
          <xs:element minOccurs="0" name="mobilekey" type="xs:string" />
          <xs:element minOccurs="0" name="namekey" type="xs:string" />
          <xs:element minOccurs="0" name="nameofinstitute" type="xs:string" />
          <xs:element minOccurs="0" name="nominatedcoordinatoremail" type="xs:string" />
          <xs:element minOccurs="0" name="nominatedcoordinatormobile" type="xs:string" />
          <xs:element minOccurs="0" name="nominatedcoordinatorname" type="xs:string" />
          <xs:element minOccurs="0" name="nominatedparentemail" type="xs:string" />
          <xs:element minOccurs="0" name="nominatedparentmobile" type="xs:string" />
          <xs:element minOccurs="0" name="nominatedparentname" type="xs:string" />
          <xs:element minOccurs="0" name="nominatedteamname1" type="xs:string" />
          <xs:element minOccurs="0" name="nominatedteamname2" type="xs:string" />
          <xs:element minOccurs="0" name="nominatedteamname3" type="xs:string" />
          <xs:element minOccurs="0" name="nominatedteamname4" type="xs:string" />
          <xs:element minOccurs="0" name="nominatedteamname5" type="xs:string" />
          <xs:element minOccurs="0" name="numberofattendencees" type="xs:string" />
          <xs:element minOccurs="0" name="nursery" type="xs:string" />
          <xs:element minOccurs="0" name="organisationname" type="xs:string" />
          <xs:element minOccurs="0" name="pod_specialneeds" type="xs:string" />
          <xs:element minOccurs="0" name="primaryschool" type="xs:string" />
          <xs:element minOccurs="0" name="saveewchange" type="xs:string" />
          <xs:element minOccurs="0" name="saveewtargets" type="xs:string" />
          <xs:element minOccurs="0" name="secondary" type="xs:string" />
          <xs:element minOccurs="0" name="sector" type="xs:string" />
          <xs:element minOccurs="0" name="socialmediachannels" type="xs:string" />
          <xs:element minOccurs="0" name="suitabletime" type="xs:string" />
          <xs:element minOccurs="0" name="telephonenumber" type="xs:string" />
          <xs:element minOccurs="0" name="totalfaculty" type="xs:string" />
          <xs:element minOccurs="0" name="totalstudents" type="xs:string" />
          <xs:element minOccurs="0" name="typeform" type="xs:string" />
          <xs:element minOccurs="0" name="virtuallearning" type="xs:string" />
          <xs:element minOccurs="0" name="wateraccountnumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="conservationAwardRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="acfield1" type="xs:string" />
          <xs:element minOccurs="0" name="acfield2" type="xs:string" />
          <xs:element minOccurs="0" name="acfield3" type="xs:string" />
          <xs:element minOccurs="0" name="acfield4" type="xs:string" />
          <xs:element minOccurs="0" name="eafield1" type="xs:string" />
          <xs:element minOccurs="0" name="eafield2" type="xs:string" />
          <xs:element minOccurs="0" name="eafield3" type="xs:string" />
          <xs:element minOccurs="0" name="eafield4" type="xs:string" />
          <xs:element minOccurs="0" name="eafield5" type="xs:string" />
          <xs:element minOccurs="0" name="eafield6" type="xs:string" />
          <xs:element minOccurs="0" name="eafield7" type="xs:string" />
          <xs:element minOccurs="0" name="eafield8" type="xs:string" />
          <xs:element minOccurs="0" name="eafield9" type="xs:string" />
          <xs:element minOccurs="0" name="eanstd1" type="xs:string" />
          <xs:element minOccurs="0" name="eanstd2" type="xs:string" />
          <xs:element minOccurs="0" name="eanstd3" type="xs:string" />
          <xs:element minOccurs="0" name="eanstd4" type="xs:string" />
          <xs:element minOccurs="0" name="eanstd5" type="xs:string" />
          <xs:element minOccurs="0" name="eanstd6" type="xs:string" />
          <xs:element minOccurs="0" name="eanstd7" type="xs:string" />
          <xs:element minOccurs="0" name="eanstd8" type="xs:string" />
          <xs:element minOccurs="0" name="eanstd9" type="xs:string" />
          <xs:element minOccurs="0" name="lgfield1" type="xs:string" />
          <xs:element minOccurs="0" name="lgfield2" type="xs:string" />
          <xs:element minOccurs="0" name="lgfield3" type="xs:string" />
          <xs:element minOccurs="0" name="lgfield4" type="xs:string" />
          <xs:element minOccurs="0" name="lgfield5" type="xs:string" />
          <xs:element minOccurs="0" name="lwfield1" type="xs:string" />
          <xs:element minOccurs="0" name="lwfield2" type="xs:string" />
          <xs:element minOccurs="0" name="lwfield3" type="xs:string" />
          <xs:element minOccurs="0" name="lwstd1" type="xs:string" />
          <xs:element minOccurs="0" name="lwstd2" type="xs:string" />
          <xs:element minOccurs="0" name="lwstd3" type="xs:string" />
          <xs:element minOccurs="0" name="nnfield1" type="xs:string" />
          <xs:element minOccurs="0" name="oefield1" type="xs:string" />
          <xs:element minOccurs="0" name="oefield2" type="xs:string" />
          <xs:element minOccurs="0" name="oefield3" type="xs:string" />
          <xs:element minOccurs="0" name="oefield4" type="xs:string" />
          <xs:element minOccurs="0" name="oefield5" type="xs:string" />
          <xs:element minOccurs="0" name="otfield1" type="xs:string" />
          <xs:element minOccurs="0" name="otfield2" type="xs:string" />
          <xs:element minOccurs="0" name="otfield3" type="xs:string" />
          <xs:element minOccurs="0" name="otfield4" type="xs:string" />
          <xs:element minOccurs="0" name="otfield5" type="xs:string" />
          <xs:element minOccurs="0" name="wtfield1" type="xs:string" />
          <xs:element minOccurs="0" name="wtfield2" type="xs:string" />
          <xs:element minOccurs="0" name="wtfield3" type="xs:string" />
          <xs:element minOccurs="0" name="wtfield4" type="xs:string" />
          <xs:element minOccurs="0" name="wtfield5" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PutLectureBookingAwardSubmissionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:formBookingResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="formBookingResponse">
        <xs:sequence>
          <xs:element minOccurs="0"  name="conservtionvalues" nillable="true" type="tns:conservationAwardResponse" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0"  name="formhelpvalues" nillable="true" type="tns:formHelpValues" />
          <xs:element minOccurs="0" name="responseCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="conservationAwardResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="address" type="xs:string" />
          <xs:element minOccurs="0" name="adulteducationcenter" type="xs:string" />
          <xs:element minOccurs="0" name="awardcoordinatoremail" type="xs:string" />
          <xs:element minOccurs="0" name="awardcoordinatormobile" type="xs:string" />
          <xs:element minOccurs="0" name="awardcoordinatorname" type="xs:string" />
          <xs:element minOccurs="0" name="channel" type="xs:string" />
          <xs:element minOccurs="0" name="college" type="xs:string" />
          <xs:element minOccurs="0" name="conservationasstemail" type="xs:string" />
          <xs:element minOccurs="0" name="conservationasstmobile" type="xs:string" />
          <xs:element minOccurs="0" name="conservationasstname" type="xs:string" />
          <xs:element minOccurs="0" name="distinguishparentachie" type="xs:string" />
          <xs:element minOccurs="0" name="distinguishparenttargets" type="xs:string" />
          <xs:element minOccurs="0" name="electricityaccount" type="xs:string" />
          <xs:element minOccurs="0" name="elementary" type="xs:string" />
          <xs:element minOccurs="0" name="emailaddress" type="xs:string" />
          <xs:element minOccurs="0" name="externaluserid" type="xs:string" />
          <xs:element minOccurs="0" name="formtype" type="xs:string" />
          <xs:element minOccurs="0" name="fullnameofperson" type="xs:string" />
          <xs:element minOccurs="0" name="highschool" type="xs:string" />
          <xs:element minOccurs="0" name="innovationcreativity" type="xs:string" />
          <xs:element minOccurs="0" name="instituteemailaddress" type="xs:string" />
          <xs:element minOccurs="0" name="intermidiate" type="xs:string" />
          <xs:element minOccurs="0" name="kindergarden" type="xs:string" />
          <xs:element minOccurs="0" name="landline" type="xs:string" />
          <xs:element minOccurs="0" name="lecture" type="xs:string" />
          <xs:element minOccurs="0" name="lecturedate" type="xs:string" />
          <xs:element minOccurs="0" name="mobile" type="xs:string" />
          <xs:element minOccurs="0" name="name1" type="xs:string" />
          <xs:element minOccurs="0" name="name2" type="xs:string" />
          <xs:element minOccurs="0" name="name3" type="xs:string" />
          <xs:element minOccurs="0" name="name4" type="xs:string" />
          <xs:element minOccurs="0" name="name5" type="xs:string" />
          <xs:element minOccurs="0" name="nameofinstitute" type="xs:string" />
          <xs:element minOccurs="0" name="nominatedemail" type="xs:string" />
          <xs:element minOccurs="0" name="nominatedmobile" type="xs:string" />
          <xs:element minOccurs="0" name="nominatedname" type="xs:string" />
          <xs:element minOccurs="0" name="numberofattendees" type="xs:string" />
          <xs:element minOccurs="0" name="nursery" type="xs:string" />
          <xs:element minOccurs="0" name="organisation" type="xs:string" />
          <xs:element minOccurs="0" name="primaryschool" type="xs:string" />
          <xs:element minOccurs="0" name="requestnumber" type="xs:string" />
          <xs:element minOccurs="0" name="requestyear" type="xs:string" />
          <xs:element minOccurs="0" name="saveewchange" type="xs:string" />
          <xs:element minOccurs="0" name="saveewtargets" type="xs:string" />
          <xs:element minOccurs="0" name="secondary" type="xs:string" />
          <xs:element minOccurs="0" name="sector" type="xs:string" />
          <xs:element minOccurs="0" name="socialmediachannels" type="xs:string" />
          <xs:element minOccurs="0" name="specialneedscenter" type="xs:string" />
          <xs:element minOccurs="0" name="suitabletime" type="xs:string" />
          <xs:element minOccurs="0" name="telephone" type="xs:string" />
          <xs:element minOccurs="0" name="totalfaculty" type="xs:string" />
          <xs:element minOccurs="0" name="totalstudents" type="xs:string" />
          <xs:element minOccurs="0" name="wateracccount" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="formHelpValues">
        <xs:sequence>
          <xs:element minOccurs="0" name="fieldname" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
          <xs:element minOccurs="0" name="valuekey" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="PutLectureBookingAwardSubmissionIn">
    <wsdl:part name="parameters" element="tns:PutLectureBookingAwardSubmission" />
  </wsdl:message>
  <wsdl:message name="PutLectureBookingAwardSubmissionOut">
    <wsdl:part name="PutLectureBookingAwardSubmissionResponse" element="tns:PutLectureBookingAwardSubmissionResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerServices">
    <wsdl:operation name="PutLectureBookingAwardSubmission" parameterOrder="parameters">
      <wsdl:input message="tns:PutLectureBookingAwardSubmissionIn" />
      <wsdl:output message="tns:PutLectureBookingAwardSubmissionOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CustomerServicesBinding" type="tns:CustomerServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PutLectureBookingAwardSubmission">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerAPIS">
    <wsdl:port name="CSPort" binding="tns:CustomerServicesBinding">
      <address location="https://apidev.dewa.gov.ae/v1/lecturebooking" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>