Src/Foundation/Integration/Code/Service References/DubaiModelSvc/Config.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://ws.dmodel.customer.dewa.gov.ae/" targetNamespace="http://ws.dmodel.customer.dewa.gov.ae/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://ws.dmodel.customer.dewa.gov.ae/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getAccountTypeStatus" type="tns:getAccountTypeStatus" />
      <xs:element name="getAccountTypeStatusResponse" type="tns:getAccountTypeStatusResponse" />
      <xs:complexType name="getAccountTypeStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="contractaccountnumber" type="xs:string" />
          <xs:element minOccurs="0" name="merchantid" type="xs:string" />
          <xs:element minOccurs="0" name="merchantpassword" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="appversion" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosversion" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAccountTypeStatusResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:accountTypeStatusRes" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="accountTypeStatusRes">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountClass" type="xs:string" />
          <xs:element minOccurs="0" name="billingClass" type="xs:string" />
          <xs:element minOccurs="0" name="connectionType" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="premiseType" type="xs:string" />
          <xs:element minOccurs="0" name="responseCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getAccountTypeStatusIn">
    <wsdl:part name="parameters" element="tns:getAccountTypeStatus" />
  </wsdl:message>
  <wsdl:message name="getAccountTypeStatusOut">
    <wsdl:part name="getAccountTypeStatusResponse" element="tns:getAccountTypeStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="Config">
    <wsdl:operation name="getAccountTypeStatus" parameterOrder="parameters">
      <wsdl:input message="tns:getAccountTypeStatusIn" />
      <wsdl:output message="tns:getAccountTypeStatusOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ConfigBinding" type="tns:Config">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAccountTypeStatus">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DubaiModelService">
    <wsdl:port name="DubaiModelPort" binding="tns:ConfigBinding">
      <address location="http://portaltest.dewa.gov.ae:50400/DubaiModelService/Config" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>