Src/Foundation/Integration/Code/Service References/SmartCustAuthenticationSvc/SmartCustAuthentication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://ws.portal.dewa.gov.ae/itd/" targetNamespace="http://ws.portal.dewa.gov.ae/itd/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://ws.portal.dewa.gov.ae/itd/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Exception" type="tns:Exception" />
      <xs:element name="GetLoginSessionCustomerAuthentication" type="tns:GetLoginSessionCustomerAuthentication" />
      <xs:element name="GetLoginSessionCustomerAuthenticationResponse" type="tns:GetLoginSessionCustomerAuthenticationResponse" />
      <xs:complexType name="GetLoginSessionCustomerAuthentication">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="ipaddress" type="xs:string" />
          <xs:element minOccurs="0" name="issuervendorid" type="xs:string" />
          <xs:element minOccurs="0" name="issuersessionid" type="xs:string" />
          <xs:element minOccurs="0" name="providermerchantid" type="xs:string" />
          <xs:element minOccurs="0" name="providermerchantpassword" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosversion" type="xs:string" />
          <xs:element minOccurs="0" name="appversion" type="xs:string" />
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetLoginSessionCustomerAuthenticationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetLoginSessionCustomerAuthenticationIn">
    <wsdl:part name="parameters" element="tns:GetLoginSessionCustomerAuthentication" />
  </wsdl:message>
  <wsdl:message name="GetLoginSessionCustomerAuthenticationOut">
    <wsdl:part name="GetLoginSessionCustomerAuthenticationResponse" element="tns:GetLoginSessionCustomerAuthenticationResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginSessionCustomerAuthenticationFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:portType name="SmartCustAuthentication">
    <wsdl:operation name="GetLoginSessionCustomerAuthentication" parameterOrder="parameters">
      <wsdl:input message="tns:GetLoginSessionCustomerAuthenticationIn" />
      <wsdl:output message="tns:GetLoginSessionCustomerAuthenticationOut" />
      <wsdl:fault name="Exception" message="tns:GetLoginSessionCustomerAuthenticationFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SmartCustAuthenticationBinding" type="tns:SmartCustAuthentication">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLoginSessionCustomerAuthentication">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmartCustAuthenticationServices">
    <wsdl:port name="SmartCustAuthenticationPort" binding="tns:SmartCustAuthenticationBinding">
      <address location="http://vqdcp:50400/SmartCustAuthenticationServices/SmartCustAuthentication" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>