Src/Foundation/Integration/Code/Service References/GatePassSvc/wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://ws.portal.dewa.gov.ae/itd/" targetNamespace="http://ws.portal.dewa.gov.ae/itd/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://ws.portal.dewa.gov.ae/itd/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Exception" type="tns:Exception" />
      <xs:element name="GetGPForgotUserID" type="tns:GetGPForgotUserID" />
      <xs:element name="GetGPForgotUserIDResponse" type="tns:GetGPForgotUserIDResponse" />
      <xs:element name="GetGPPODetails" type="tns:GetGPPODetails" />
      <xs:element name="GetGPPODetailsResponse" type="tns:GetGPPODetailsResponse" />
      <xs:element name="GetGPSupplierDetails" type="tns:GetGPSupplierDetails" />
      <xs:element name="GetGPSupplierDetailsResponse" type="tns:GetGPSupplierDetailsResponse" />
      <xs:element name="GetGPUserLogin" type="tns:GetGPUserLogin" />
      <xs:element name="GetGPUserLoginResponse" type="tns:GetGPUserLoginResponse" />
      <xs:element name="GetGPUserLogout" type="tns:GetGPUserLogout" />
      <xs:element name="GetGPUserLogoutResponse" type="tns:GetGPUserLogoutResponse" />
      <xs:element name="GetSetGPUserDetails" type="tns:GetSetGPUserDetails" />
      <xs:element name="GetSetGPUserDetailsResponse" type="tns:GetSetGPUserDetailsResponse" />
      <xs:element name="SetCreateGPUser" type="tns:SetCreateGPUser" />
      <xs:element name="SetCreateGPUserResponse" type="tns:SetCreateGPUserResponse" />
      <xs:element name="SetGPPasswordChange" type="tns:SetGPPasswordChange" />
      <xs:element name="SetGPPasswordChangeResponse" type="tns:SetGPPasswordChangeResponse" />
      <xs:element name="SetGPPasswordReset" type="tns:SetGPPasswordReset" />
      <xs:element name="SetGPPasswordResetResponse" type="tns:SetGPPasswordResetResponse" />
      <xs:element name="SetGPPasswordValidate" type="tns:SetGPPasswordValidate" />
      <xs:element name="SetGPPasswordValidateResponse" type="tns:SetGPPasswordValidateResponse" />
      <xs:element name="SetGPUserActivation" type="tns:SetGPUserActivation" />
      <xs:element name="SetGPUserActivationResponse" type="tns:SetGPUserActivationResponse" />
      <xs:complexType name="GetGPSupplierDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="userdatainput" type="tns:userDataInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userDataInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="appversion" type="xs:string" />
          <xs:element minOccurs="0" name="contactname" type="xs:string" />
          <xs:element minOccurs="0" name="emailid" type="xs:string" />
          <xs:element minOccurs="0" name="key" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
          <xs:element minOccurs="0" name="mobilenumber" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosversion" type="xs:string" />
          <xs:element minOccurs="0" name="mode" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="supplierid" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetGPSupplierDetailsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:supplierDetailsOutput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="supplierDetailsOutput">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="responsecode" type="xs:string" />
          <xs:element minOccurs="0" name="supplierdetails" type="tns:supplierDetails" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="supplierDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountgroupname" type="xs:string" />
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="countryname" type="xs:string" />
          <xs:element minOccurs="0" name="emailid" type="xs:string" />
          <xs:element minOccurs="0" name="pobox" type="xs:string" />
          <xs:element minOccurs="0" name="suppliername" type="xs:string" />
          <xs:element minOccurs="0" name="telephonenumber" type="xs:string" />
          <xs:element minOccurs="0" name="tradelicenseexpiry" type="xs:string" />
          <xs:element minOccurs="0" name="tradelicensenumber" type="xs:string" />
          <xs:element minOccurs="0" name="validemail" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetSetGPUserDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="userdatainput" type="tns:userDataInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetSetGPUserDetailsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:userDetailsOutput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userDetailsOutput">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="responsecode" type="xs:string" />
          <xs:element minOccurs="0" name="userdetails" type="tns:userDetails" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="contactemailid" type="xs:string" />
          <xs:element minOccurs="0" name="contactmobilenumber" type="xs:string" />
          <xs:element minOccurs="0" name="contactname" type="xs:string" />
          <xs:element minOccurs="0" name="key" type="xs:string" />
          <xs:element minOccurs="0" name="primaryflag" type="xs:string" />
          <xs:element minOccurs="0" name="supplierid" type="xs:string" />
          <xs:element minOccurs="0" name="suppliername" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetGPUserActivation">
        <xs:sequence>
          <xs:element minOccurs="0" name="userdatainput" type="tns:userDataInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetGPUserActivationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:userDetailsOutput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetGPUserLogin">
        <xs:sequence>
          <xs:element minOccurs="0" name="userdatainput" type="tns:logInOutDataInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="logInOutDataInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="appversion" type="xs:string" />
          <xs:element minOccurs="0" name="key" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
          <xs:element minOccurs="0" name="merchantid" type="xs:string" />
          <xs:element minOccurs="0" name="merchantpassword" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosversion" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetGPUserLoginResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:loginDetailsOutput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="loginDetailsOutput">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="logindetails" type="tns:loginDetails" />
          <xs:element minOccurs="0" name="responsecode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="loginDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="contactemailid" type="xs:string" />
          <xs:element minOccurs="0" name="contactname" type="xs:string" />
          <xs:element minOccurs="0" name="key" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="supplierid" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetGPUserLogout">
        <xs:sequence>
          <xs:element minOccurs="0" name="userdatainput" type="tns:logInOutDataInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetGPUserLogoutResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:logoutDetailsOutput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="logoutDetailsOutput">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="responsecode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetCreateGPUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="createdatainput" type="tns:createDataInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createDataInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="contactemailid" type="xs:string" />
          <xs:element minOccurs="0" name="contactmobilenumber" type="xs:string" />
          <xs:element minOccurs="0" name="contactname" type="xs:string" />
          <xs:element minOccurs="0" name="key" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
          <xs:element minOccurs="0" name="mode" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="primaryflag" type="xs:string" />
          <xs:element minOccurs="0" name="supplierid" type="xs:string" />
          <xs:element minOccurs="0" name="suppliername" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetCreateGPUserResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:userDetailsOutput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetGPForgotUserID">
        <xs:sequence>
          <xs:element minOccurs="0" name="createdatainput" type="tns:credentialDataInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="credentialDataInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="appidentifier" type="xs:string" />
          <xs:element minOccurs="0" name="appversion" type="xs:string" />
          <xs:element minOccurs="0" name="contactemailid" type="xs:string" />
          <xs:element minOccurs="0" name="key" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
          <xs:element minOccurs="0" name="mobileosversion" type="xs:string" />
          <xs:element minOccurs="0" name="mode" type="xs:string" />
          <xs:element minOccurs="0" name="oldpassword" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="supplierid" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetGPForgotUserIDResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:userDetailsOutput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetGPPasswordReset">
        <xs:sequence>
          <xs:element minOccurs="0" name="createdatainput" type="tns:credentialDataInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetGPPasswordResetResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:userDetailsOutput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetGPPasswordValidate">
        <xs:sequence>
          <xs:element minOccurs="0" name="createdatainput" type="tns:credentialDataInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetGPPasswordValidateResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:userDetailsOutput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetGPPasswordChange">
        <xs:sequence>
          <xs:element minOccurs="0" name="createdatainput" type="tns:credentialDataInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetGPPasswordChangeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:userDetailsOutput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetGPPODetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="userdatainput" type="tns:userDataInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetGPPODetailsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:poDetailsOutput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="poDetailsOutput">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="podetailslist" nillable="true" type="tns:poDetails" />
          <xs:element minOccurs="0" name="responsecode" type="xs:string" />
          <xs:element minOccurs="0" name="supplierid" type="xs:string" />
          <xs:element minOccurs="0" name="suppliername" type="xs:string" />
          <xs:element minOccurs="0" name="suppliertelephonenumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="poDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="actualenddate" type="xs:string" />
          <xs:element minOccurs="0" name="actualstartdate" type="xs:string" />
          <xs:element minOccurs="0" name="departmentname" type="xs:string" />
          <xs:element minOccurs="0" name="departmentnumber" type="xs:string" />
          <xs:element minOccurs="0" name="emailid" type="xs:string" />
          <xs:element minOccurs="0" name="key" type="xs:string" />
          <xs:element minOccurs="0" name="maintenancestatus" type="xs:string" />
          <xs:element minOccurs="0" name="partnernumber" type="xs:string" />
          <xs:element minOccurs="0" name="plannedenddate" type="xs:string" />
          <xs:element minOccurs="0" name="plannedstartdate" type="xs:string" />
          <xs:element minOccurs="0" name="projectdescription" type="xs:string" />
          <xs:element minOccurs="0" name="projectid" type="xs:string" />
          <xs:element minOccurs="0" name="projectname" type="xs:string" />
          <xs:element minOccurs="0" name="projectnumber" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element minOccurs="0" name="telephonenumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetGPSupplierDetailsIn">
    <wsdl:part name="parameters" element="tns:GetGPSupplierDetails" />
  </wsdl:message>
  <wsdl:message name="GetGPSupplierDetailsOut">
    <wsdl:part name="GetGPSupplierDetailsResponse" element="tns:GetGPSupplierDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetGPSupplierDetailsFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="GetSetGPUserDetailsIn">
    <wsdl:part name="parameters" element="tns:GetSetGPUserDetails" />
  </wsdl:message>
  <wsdl:message name="GetSetGPUserDetailsOut">
    <wsdl:part name="GetSetGPUserDetailsResponse" element="tns:GetSetGPUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="SetGPUserActivationIn">
    <wsdl:part name="parameters" element="tns:SetGPUserActivation" />
  </wsdl:message>
  <wsdl:message name="SetGPUserActivationOut">
    <wsdl:part name="SetGPUserActivationResponse" element="tns:SetGPUserActivationResponse" />
  </wsdl:message>
  <wsdl:message name="GetGPUserLoginIn">
    <wsdl:part name="parameters" element="tns:GetGPUserLogin" />
  </wsdl:message>
  <wsdl:message name="GetGPUserLoginOut">
    <wsdl:part name="GetGPUserLoginResponse" element="tns:GetGPUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetGPUserLogoutIn">
    <wsdl:part name="parameters" element="tns:GetGPUserLogout" />
  </wsdl:message>
  <wsdl:message name="GetGPUserLogoutOut">
    <wsdl:part name="GetGPUserLogoutResponse" element="tns:GetGPUserLogoutResponse" />
  </wsdl:message>
  <wsdl:message name="SetCreateGPUserIn">
    <wsdl:part name="parameters" element="tns:SetCreateGPUser" />
  </wsdl:message>
  <wsdl:message name="SetCreateGPUserOut">
    <wsdl:part name="SetCreateGPUserResponse" element="tns:SetCreateGPUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetGPForgotUserIDIn">
    <wsdl:part name="parameters" element="tns:GetGPForgotUserID" />
  </wsdl:message>
  <wsdl:message name="GetGPForgotUserIDOut">
    <wsdl:part name="GetGPForgotUserIDResponse" element="tns:GetGPForgotUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="SetGPPasswordResetIn">
    <wsdl:part name="parameters" element="tns:SetGPPasswordReset" />
  </wsdl:message>
  <wsdl:message name="SetGPPasswordResetOut">
    <wsdl:part name="SetGPPasswordResetResponse" element="tns:SetGPPasswordResetResponse" />
  </wsdl:message>
  <wsdl:message name="SetGPPasswordValidateIn">
    <wsdl:part name="parameters" element="tns:SetGPPasswordValidate" />
  </wsdl:message>
  <wsdl:message name="SetGPPasswordValidateOut">
    <wsdl:part name="SetGPPasswordValidateResponse" element="tns:SetGPPasswordValidateResponse" />
  </wsdl:message>
  <wsdl:message name="SetGPPasswordChangeIn">
    <wsdl:part name="parameters" element="tns:SetGPPasswordChange" />
  </wsdl:message>
  <wsdl:message name="SetGPPasswordChangeOut">
    <wsdl:part name="SetGPPasswordChangeResponse" element="tns:SetGPPasswordChangeResponse" />
  </wsdl:message>
  <wsdl:message name="GetGPPODetailsIn">
    <wsdl:part name="parameters" element="tns:GetGPPODetails" />
  </wsdl:message>
  <wsdl:message name="GetGPPODetailsOut">
    <wsdl:part name="GetGPPODetailsResponse" element="tns:GetGPPODetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="GatePass">
    <wsdl:operation name="GetGPSupplierDetails" parameterOrder="parameters">
      <wsdl:input message="tns:GetGPSupplierDetailsIn" />
      <wsdl:output message="tns:GetGPSupplierDetailsOut" />
      <wsdl:fault name="Exception" message="tns:GetGPSupplierDetailsFault" />
    </wsdl:operation>
    <wsdl:operation name="GetSetGPUserDetails" parameterOrder="parameters">
      <wsdl:input message="tns:GetSetGPUserDetailsIn" />
      <wsdl:output message="tns:GetSetGPUserDetailsOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGPUserActivation" parameterOrder="parameters">
      <wsdl:input message="tns:SetGPUserActivationIn" />
      <wsdl:output message="tns:SetGPUserActivationOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGPUserLogin" parameterOrder="parameters">
      <wsdl:input message="tns:GetGPUserLoginIn" />
      <wsdl:output message="tns:GetGPUserLoginOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGPUserLogout" parameterOrder="parameters">
      <wsdl:input message="tns:GetGPUserLogoutIn" />
      <wsdl:output message="tns:GetGPUserLogoutOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCreateGPUser" parameterOrder="parameters">
      <wsdl:input message="tns:SetCreateGPUserIn" />
      <wsdl:output message="tns:SetCreateGPUserOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGPForgotUserID" parameterOrder="parameters">
      <wsdl:input message="tns:GetGPForgotUserIDIn" />
      <wsdl:output message="tns:GetGPForgotUserIDOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGPPasswordReset" parameterOrder="parameters">
      <wsdl:input message="tns:SetGPPasswordResetIn" />
      <wsdl:output message="tns:SetGPPasswordResetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGPPasswordValidate" parameterOrder="parameters">
      <wsdl:input message="tns:SetGPPasswordValidateIn" />
      <wsdl:output message="tns:SetGPPasswordValidateOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGPPasswordChange" parameterOrder="parameters">
      <wsdl:input message="tns:SetGPPasswordChangeIn" />
      <wsdl:output message="tns:SetGPPasswordChangeOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGPPODetails" parameterOrder="parameters">
      <wsdl:input message="tns:GetGPPODetailsIn" />
      <wsdl:output message="tns:GetGPPODetailsOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="GatePassBinding" type="tns:GatePass">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGPSupplierDetails">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSetGPUserDetails">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGPUserActivation">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGPUserLogin">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGPUserLogout">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCreateGPUser">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGPForgotUserID">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGPPasswordReset">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGPPasswordValidate">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGPPasswordChange">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGPPODetails">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GatePassService">
    <wsdl:port name="GatePassPort" binding="tns:GatePassBinding">
      <address location="https://apidev.dewa.gov.ae/smartentry" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>