Src/Foundation/Integration/Code/Service References/ProjectDocumentGenerationSvc/DMS_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/DMS/Service1" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://tempuri.org/DMS/Service1/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/DMS/Service1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/DMS/Service1">
      <s:element name="DissconnectDocumentum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DMS_SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DMS_User_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DissconnectDocumentumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DissconnectDocumentumResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_Attribute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DMS_SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DMS_User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="object_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attr_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attr_new_value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_AttributeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Update_AttributeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchInDoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DMS_SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DMS_User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DQL_Table_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DQL_Where" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DQL_Select" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchInDocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchInDocResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileFromDMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DMS_SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DMS_User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ObjectID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileFromDMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFileFromDMSResult" type="tns:DMS_Properties" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DMS_Properties">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="File_Bytes" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="File_Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFileByeArrayFromDMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DMS_SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DMS_User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ObjectID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileByeArrayFromDMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileByeArrayFromDMSResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileToDMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DMS_SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DMS_User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DMS_Attributes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Documentum_Folder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Document_Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileBytesArray" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileToDMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFileToDMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertToVirtual_Document">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DMS_SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DMS_User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ObjectID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertToVirtual_DocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConvertToVirtual_DocumentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Move_File">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DMS_SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DMS_User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ObjectID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="New_Folder_Path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Move_FileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Move_FileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isVirtual_Document">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DMS_SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DMS_User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ObjectID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isVirtual_DocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="isVirtual_DocumentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVirtual_Document_Childern">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DMS_SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DMS_User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VirtualDocumentObjectID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVirtual_Document_ChildernResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVirtual_Document_ChildernResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddToVirtual_Document">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DMS_SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DMS_User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="r_object_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Virtual_Document_ObjectId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddToVirtual_DocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddToVirtual_DocumentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create_Folder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DMS_SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DMS_User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewFolderPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create_FolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Create_FolderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWebserviceVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetWebserviceVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWebserviceVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileToDMS_V1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DMS_SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DMS_User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DMS_Attributes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Documentum_Folder" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Document_Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileBytesArray" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileToDMS_V1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFileToDMS_V1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectToDocbase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDocbase" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectToDocbaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnectToDocbaseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test_Docbase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDocbase" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test_DocbaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Test_DocbaseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Change_Type">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DMS_SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DMS_User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="object_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="current_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="new_type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Change_TypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Change_TypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DMS_Properties" type="tns:DMS_Properties" />
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/DMS/Service1/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0"  name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DissconnectDocumentumSoapIn">
    <wsdl:part name="parameters" element="tns:DissconnectDocumentum" />
  </wsdl:message>
  <wsdl:message name="DissconnectDocumentumSoapOut">
    <wsdl:part name="parameters" element="tns:DissconnectDocumentumResponse" />
  </wsdl:message>
  <wsdl:message name="Update_AttributeSoapIn">
    <wsdl:part name="parameters" element="tns:Update_Attribute" />
  </wsdl:message>
  <wsdl:message name="Update_AttributeSoapOut">
    <wsdl:part name="parameters" element="tns:Update_AttributeResponse" />
  </wsdl:message>
  <wsdl:message name="SearchInDocSoapIn">
    <wsdl:part name="parameters" element="tns:SearchInDoc" />
  </wsdl:message>
  <wsdl:message name="SearchInDocSoapOut">
    <wsdl:part name="parameters" element="tns:SearchInDocResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileFromDMSSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileFromDMS" />
  </wsdl:message>
  <wsdl:message name="GetFileFromDMSSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileFromDMSResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileByeArrayFromDMSSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileByeArrayFromDMS" />
  </wsdl:message>
  <wsdl:message name="GetFileByeArrayFromDMSSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileByeArrayFromDMSResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileToDMSSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFileToDMS" />
  </wsdl:message>
  <wsdl:message name="UploadFileToDMSSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileToDMSResponse" />
  </wsdl:message>
  <wsdl:message name="ConvertToVirtual_DocumentSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertToVirtual_Document" />
  </wsdl:message>
  <wsdl:message name="ConvertToVirtual_DocumentSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertToVirtual_DocumentResponse" />
  </wsdl:message>
  <wsdl:message name="Move_FileSoapIn">
    <wsdl:part name="parameters" element="tns:Move_File" />
  </wsdl:message>
  <wsdl:message name="Move_FileSoapOut">
    <wsdl:part name="parameters" element="tns:Move_FileResponse" />
  </wsdl:message>
  <wsdl:message name="isVirtual_DocumentSoapIn">
    <wsdl:part name="parameters" element="tns:isVirtual_Document" />
  </wsdl:message>
  <wsdl:message name="isVirtual_DocumentSoapOut">
    <wsdl:part name="parameters" element="tns:isVirtual_DocumentResponse" />
  </wsdl:message>
  <wsdl:message name="GetVirtual_Document_ChildernSoapIn">
    <wsdl:part name="parameters" element="tns:GetVirtual_Document_Childern" />
  </wsdl:message>
  <wsdl:message name="GetVirtual_Document_ChildernSoapOut">
    <wsdl:part name="parameters" element="tns:GetVirtual_Document_ChildernResponse" />
  </wsdl:message>
  <wsdl:message name="AddToVirtual_DocumentSoapIn">
    <wsdl:part name="parameters" element="tns:AddToVirtual_Document" />
  </wsdl:message>
  <wsdl:message name="AddToVirtual_DocumentSoapOut">
    <wsdl:part name="parameters" element="tns:AddToVirtual_DocumentResponse" />
  </wsdl:message>
  <wsdl:message name="Create_FolderSoapIn">
    <wsdl:part name="parameters" element="tns:Create_Folder" />
  </wsdl:message>
  <wsdl:message name="Create_FolderSoapOut">
    <wsdl:part name="parameters" element="tns:Create_FolderResponse" />
  </wsdl:message>
  <wsdl:message name="GetWebserviceVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetWebserviceVersion" />
  </wsdl:message>
  <wsdl:message name="GetWebserviceVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetWebserviceVersionResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileToDMS_V1SoapIn">
    <wsdl:part name="parameters" element="tns:UploadFileToDMS_V1" />
  </wsdl:message>
  <wsdl:message name="UploadFileToDMS_V1SoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileToDMS_V1Response" />
  </wsdl:message>
  <wsdl:message name="ConnectToDocbaseSoapIn">
    <wsdl:part name="parameters" element="tns:ConnectToDocbase" />
  </wsdl:message>
  <wsdl:message name="ConnectToDocbaseSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectToDocbaseResponse" />
  </wsdl:message>
  <wsdl:message name="Test_DocbaseSoapIn">
    <wsdl:part name="parameters" element="tns:Test_Docbase" />
  </wsdl:message>
  <wsdl:message name="Test_DocbaseSoapOut">
    <wsdl:part name="parameters" element="tns:Test_DocbaseResponse" />
  </wsdl:message>
  <wsdl:message name="Change_TypeSoapIn">
    <wsdl:part name="parameters" element="tns:Change_Type" />
  </wsdl:message>
  <wsdl:message name="Change_TypeSoapOut">
    <wsdl:part name="parameters" element="tns:Change_TypeResponse" />
  </wsdl:message>
  <wsdl:message name="DissconnectDocumentumHttpGetIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DissconnectDocumentumHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Update_AttributeHttpGetIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="object_id" type="s:string" />
    <wsdl:part name="attr_name" type="s:string" />
    <wsdl:part name="attr_new_value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Update_AttributeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SearchInDocHttpGetIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="DQL_Table_Name" type="s:string" />
    <wsdl:part name="DQL_Where" type="s:string" />
    <wsdl:part name="DQL_Select" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchInDocHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFileFromDMSHttpGetIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="ObjectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFileFromDMSHttpGetOut">
    <wsdl:part name="Body" element="tns:DMS_Properties" />
  </wsdl:message>
  <wsdl:message name="GetFileByeArrayFromDMSHttpGetIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="ObjectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFileByeArrayFromDMSHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="UploadFileToDMSHttpGetIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="DMS_Attributes" type="s:string" />
    <wsdl:part name="Documentum_Folder" type="s:string" />
    <wsdl:part name="Document_Type" type="s:string" />
    <wsdl:part name="FileType" type="s:string" />
    <wsdl:part name="FileBytesArray" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="UploadFileToDMSHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConvertToVirtual_DocumentHttpGetIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="ObjectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConvertToVirtual_DocumentHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Move_FileHttpGetIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="ObjectID" type="s:string" />
    <wsdl:part name="New_Folder_Path" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Move_FileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="isVirtual_DocumentHttpGetIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="ObjectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="isVirtual_DocumentHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetVirtual_Document_ChildernHttpGetIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="VirtualDocumentObjectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetVirtual_Document_ChildernHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddToVirtual_DocumentHttpGetIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="r_object_id" type="s:string" />
    <wsdl:part name="Virtual_Document_ObjectId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddToVirtual_DocumentHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Create_FolderHttpGetIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="NewFolderPath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Create_FolderHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetWebserviceVersionHttpGetIn" />
  <wsdl:message name="GetWebserviceVersionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UploadFileToDMS_V1HttpGetIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="DMS_Attributes" type="s:string" />
    <wsdl:part name="Documentum_Folder" type="s:string" />
    <wsdl:part name="Document_Type" type="s:string" />
    <wsdl:part name="FileType" type="s:string" />
    <wsdl:part name="FileBytesArray" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="UploadFileToDMS_V1HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConnectToDocbaseHttpGetIn">
    <wsdl:part name="User_ID" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="strDocbase" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConnectToDocbaseHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Test_DocbaseHttpGetIn">
    <wsdl:part name="strDocbase" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Test_DocbaseHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Change_TypeHttpGetIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="object_id" type="s:string" />
    <wsdl:part name="current_type" type="s:string" />
    <wsdl:part name="new_type" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Change_TypeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DissconnectDocumentumHttpPostIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DissconnectDocumentumHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Update_AttributeHttpPostIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="object_id" type="s:string" />
    <wsdl:part name="attr_name" type="s:string" />
    <wsdl:part name="attr_new_value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Update_AttributeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SearchInDocHttpPostIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="DQL_Table_Name" type="s:string" />
    <wsdl:part name="DQL_Where" type="s:string" />
    <wsdl:part name="DQL_Select" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchInDocHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFileFromDMSHttpPostIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="ObjectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFileFromDMSHttpPostOut">
    <wsdl:part name="Body" element="tns:DMS_Properties" />
  </wsdl:message>
  <wsdl:message name="GetFileByeArrayFromDMSHttpPostIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="ObjectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFileByeArrayFromDMSHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="UploadFileToDMSHttpPostIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="DMS_Attributes" type="s:string" />
    <wsdl:part name="Documentum_Folder" type="s:string" />
    <wsdl:part name="Document_Type" type="s:string" />
    <wsdl:part name="FileType" type="s:string" />
    <wsdl:part name="FileBytesArray" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="UploadFileToDMSHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConvertToVirtual_DocumentHttpPostIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="ObjectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConvertToVirtual_DocumentHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Move_FileHttpPostIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="ObjectID" type="s:string" />
    <wsdl:part name="New_Folder_Path" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Move_FileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="isVirtual_DocumentHttpPostIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="ObjectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="isVirtual_DocumentHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetVirtual_Document_ChildernHttpPostIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="VirtualDocumentObjectID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetVirtual_Document_ChildernHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddToVirtual_DocumentHttpPostIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="r_object_id" type="s:string" />
    <wsdl:part name="Virtual_Document_ObjectId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddToVirtual_DocumentHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Create_FolderHttpPostIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="NewFolderPath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Create_FolderHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetWebserviceVersionHttpPostIn" />
  <wsdl:message name="GetWebserviceVersionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UploadFileToDMS_V1HttpPostIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="DMS_Attributes" type="s:string" />
    <wsdl:part name="Documentum_Folder" type="s:string" />
    <wsdl:part name="Document_Type" type="s:string" />
    <wsdl:part name="FileType" type="s:string" />
    <wsdl:part name="FileBytesArray" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="UploadFileToDMS_V1HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConnectToDocbaseHttpPostIn">
    <wsdl:part name="User_ID" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="strDocbase" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConnectToDocbaseHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Test_DocbaseHttpPostIn">
    <wsdl:part name="strDocbase" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Test_DocbaseHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Change_TypeHttpPostIn">
    <wsdl:part name="DMS_SessionID" type="s:string" />
    <wsdl:part name="DMS_User_ID" type="s:string" />
    <wsdl:part name="object_id" type="s:string" />
    <wsdl:part name="current_type" type="s:string" />
    <wsdl:part name="new_type" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Change_TypeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="DMS_LiveSoap">
    <wsdl:operation name="DissconnectDocumentum">
      <wsdl:input message="tns:DissconnectDocumentumSoapIn" />
      <wsdl:output message="tns:DissconnectDocumentumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_Attribute">
      <wsdl:input message="tns:Update_AttributeSoapIn" />
      <wsdl:output message="tns:Update_AttributeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchInDoc">
      <wsdl:input message="tns:SearchInDocSoapIn" />
      <wsdl:output message="tns:SearchInDocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileFromDMS">
      <wsdl:input message="tns:GetFileFromDMSSoapIn" />
      <wsdl:output message="tns:GetFileFromDMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileByeArrayFromDMS">
      <wsdl:input message="tns:GetFileByeArrayFromDMSSoapIn" />
      <wsdl:output message="tns:GetFileByeArrayFromDMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileToDMS">
      <wsdl:input message="tns:UploadFileToDMSSoapIn" />
      <wsdl:output message="tns:UploadFileToDMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertToVirtual_Document">
      <wsdl:input message="tns:ConvertToVirtual_DocumentSoapIn" />
      <wsdl:output message="tns:ConvertToVirtual_DocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Move_File">
      <wsdl:input message="tns:Move_FileSoapIn" />
      <wsdl:output message="tns:Move_FileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="isVirtual_Document">
      <wsdl:input message="tns:isVirtual_DocumentSoapIn" />
      <wsdl:output message="tns:isVirtual_DocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVirtual_Document_Childern">
      <wsdl:input message="tns:GetVirtual_Document_ChildernSoapIn" />
      <wsdl:output message="tns:GetVirtual_Document_ChildernSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddToVirtual_Document">
      <wsdl:input message="tns:AddToVirtual_DocumentSoapIn" />
      <wsdl:output message="tns:AddToVirtual_DocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create_Folder">
      <wsdl:input message="tns:Create_FolderSoapIn" />
      <wsdl:output message="tns:Create_FolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWebserviceVersion">
      <wsdl:input message="tns:GetWebserviceVersionSoapIn" />
      <wsdl:output message="tns:GetWebserviceVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileToDMS_V1">
      <wsdl:input message="tns:UploadFileToDMS_V1SoapIn" />
      <wsdl:output message="tns:UploadFileToDMS_V1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConnectToDocbase">
      <wsdl:input message="tns:ConnectToDocbaseSoapIn" />
      <wsdl:output message="tns:ConnectToDocbaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test_Docbase">
      <wsdl:input message="tns:Test_DocbaseSoapIn" />
      <wsdl:output message="tns:Test_DocbaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Change_Type">
      <wsdl:input message="tns:Change_TypeSoapIn" />
      <wsdl:output message="tns:Change_TypeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DMS_LiveHttpGet">
    <wsdl:operation name="DissconnectDocumentum">
      <wsdl:input message="tns:DissconnectDocumentumHttpGetIn" />
      <wsdl:output message="tns:DissconnectDocumentumHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_Attribute">
      <wsdl:input message="tns:Update_AttributeHttpGetIn" />
      <wsdl:output message="tns:Update_AttributeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchInDoc">
      <wsdl:input message="tns:SearchInDocHttpGetIn" />
      <wsdl:output message="tns:SearchInDocHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileFromDMS">
      <wsdl:input message="tns:GetFileFromDMSHttpGetIn" />
      <wsdl:output message="tns:GetFileFromDMSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileByeArrayFromDMS">
      <wsdl:input message="tns:GetFileByeArrayFromDMSHttpGetIn" />
      <wsdl:output message="tns:GetFileByeArrayFromDMSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileToDMS">
      <wsdl:input message="tns:UploadFileToDMSHttpGetIn" />
      <wsdl:output message="tns:UploadFileToDMSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertToVirtual_Document">
      <wsdl:input message="tns:ConvertToVirtual_DocumentHttpGetIn" />
      <wsdl:output message="tns:ConvertToVirtual_DocumentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Move_File">
      <wsdl:input message="tns:Move_FileHttpGetIn" />
      <wsdl:output message="tns:Move_FileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="isVirtual_Document">
      <wsdl:input message="tns:isVirtual_DocumentHttpGetIn" />
      <wsdl:output message="tns:isVirtual_DocumentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVirtual_Document_Childern">
      <wsdl:input message="tns:GetVirtual_Document_ChildernHttpGetIn" />
      <wsdl:output message="tns:GetVirtual_Document_ChildernHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddToVirtual_Document">
      <wsdl:input message="tns:AddToVirtual_DocumentHttpGetIn" />
      <wsdl:output message="tns:AddToVirtual_DocumentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Create_Folder">
      <wsdl:input message="tns:Create_FolderHttpGetIn" />
      <wsdl:output message="tns:Create_FolderHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWebserviceVersion">
      <wsdl:input message="tns:GetWebserviceVersionHttpGetIn" />
      <wsdl:output message="tns:GetWebserviceVersionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileToDMS_V1">
      <wsdl:input message="tns:UploadFileToDMS_V1HttpGetIn" />
      <wsdl:output message="tns:UploadFileToDMS_V1HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConnectToDocbase">
      <wsdl:input message="tns:ConnectToDocbaseHttpGetIn" />
      <wsdl:output message="tns:ConnectToDocbaseHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Test_Docbase">
      <wsdl:input message="tns:Test_DocbaseHttpGetIn" />
      <wsdl:output message="tns:Test_DocbaseHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Change_Type">
      <wsdl:input message="tns:Change_TypeHttpGetIn" />
      <wsdl:output message="tns:Change_TypeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DMS_LiveHttpPost">
    <wsdl:operation name="DissconnectDocumentum">
      <wsdl:input message="tns:DissconnectDocumentumHttpPostIn" />
      <wsdl:output message="tns:DissconnectDocumentumHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_Attribute">
      <wsdl:input message="tns:Update_AttributeHttpPostIn" />
      <wsdl:output message="tns:Update_AttributeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchInDoc">
      <wsdl:input message="tns:SearchInDocHttpPostIn" />
      <wsdl:output message="tns:SearchInDocHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileFromDMS">
      <wsdl:input message="tns:GetFileFromDMSHttpPostIn" />
      <wsdl:output message="tns:GetFileFromDMSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileByeArrayFromDMS">
      <wsdl:input message="tns:GetFileByeArrayFromDMSHttpPostIn" />
      <wsdl:output message="tns:GetFileByeArrayFromDMSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileToDMS">
      <wsdl:input message="tns:UploadFileToDMSHttpPostIn" />
      <wsdl:output message="tns:UploadFileToDMSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertToVirtual_Document">
      <wsdl:input message="tns:ConvertToVirtual_DocumentHttpPostIn" />
      <wsdl:output message="tns:ConvertToVirtual_DocumentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Move_File">
      <wsdl:input message="tns:Move_FileHttpPostIn" />
      <wsdl:output message="tns:Move_FileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="isVirtual_Document">
      <wsdl:input message="tns:isVirtual_DocumentHttpPostIn" />
      <wsdl:output message="tns:isVirtual_DocumentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVirtual_Document_Childern">
      <wsdl:input message="tns:GetVirtual_Document_ChildernHttpPostIn" />
      <wsdl:output message="tns:GetVirtual_Document_ChildernHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddToVirtual_Document">
      <wsdl:input message="tns:AddToVirtual_DocumentHttpPostIn" />
      <wsdl:output message="tns:AddToVirtual_DocumentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Create_Folder">
      <wsdl:input message="tns:Create_FolderHttpPostIn" />
      <wsdl:output message="tns:Create_FolderHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWebserviceVersion">
      <wsdl:input message="tns:GetWebserviceVersionHttpPostIn" />
      <wsdl:output message="tns:GetWebserviceVersionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileToDMS_V1">
      <wsdl:input message="tns:UploadFileToDMS_V1HttpPostIn" />
      <wsdl:output message="tns:UploadFileToDMS_V1HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConnectToDocbase">
      <wsdl:input message="tns:ConnectToDocbaseHttpPostIn" />
      <wsdl:output message="tns:ConnectToDocbaseHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Test_Docbase">
      <wsdl:input message="tns:Test_DocbaseHttpPostIn" />
      <wsdl:output message="tns:Test_DocbaseHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Change_Type">
      <wsdl:input message="tns:Change_TypeHttpPostIn" />
      <wsdl:output message="tns:Change_TypeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DMS_LiveSoap" type="tns:DMS_LiveSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DissconnectDocumentum">
      <soap:operation soapAction="http://tempuri.org/DMS/Service1/DissconnectDocumentum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Attribute">
      <soap:operation soapAction="http://tempuri.org/DMS/Service1/Update_Attribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchInDoc">
      <soap:operation soapAction="http://tempuri.org/DMS/Service1/SearchInDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileFromDMS">
      <soap:operation soapAction="http://tempuri.org/DMS/Service1/GetFileFromDMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileByeArrayFromDMS">
      <soap:operation soapAction="http://tempuri.org/DMS/Service1/GetFileByeArrayFromDMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileToDMS">
      <soap:operation soapAction="http://tempuri.org/DMS/Service1/UploadFileToDMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertToVirtual_Document">
      <soap:operation soapAction="http://tempuri.org/DMS/Service1/ConvertToVirtual_Document" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Move_File">
      <soap:operation soapAction="http://tempuri.org/DMS/Service1/Move_File" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isVirtual_Document">
      <soap:operation soapAction="http://tempuri.org/DMS/Service1/isVirtual_Document" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVirtual_Document_Childern">
      <soap:operation soapAction="http://tempuri.org/DMS/Service1/GetVirtual_Document_Childern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToVirtual_Document">
      <soap:operation soapAction="http://tempuri.org/DMS/Service1/AddToVirtual_Document" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_Folder">
      <soap:operation soapAction="http://tempuri.org/DMS/Service1/Create_Folder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebserviceVersion">
      <soap:operation soapAction="http://tempuri.org/DMS/Service1/GetWebserviceVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileToDMS_V1">
      <soap:operation soapAction="http://tempuri.org/DMS/Service1/UploadFileToDMS_V1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectToDocbase">
      <soap:operation soapAction="http://tempuri.org/DMS/Service1/ConnectToDocbase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_Docbase">
      <soap:operation soapAction="http://tempuri.org/DMS/Service1/Test_Docbase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Change_Type">
      <soap:operation soapAction="http://tempuri.org/DMS/Service1/Change_Type" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DMS_LiveSoap12" type="tns:DMS_LiveSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DissconnectDocumentum">
      <soap12:operation soapAction="http://tempuri.org/DMS/Service1/DissconnectDocumentum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Attribute">
      <soap12:operation soapAction="http://tempuri.org/DMS/Service1/Update_Attribute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchInDoc">
      <soap12:operation soapAction="http://tempuri.org/DMS/Service1/SearchInDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileFromDMS">
      <soap12:operation soapAction="http://tempuri.org/DMS/Service1/GetFileFromDMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileByeArrayFromDMS">
      <soap12:operation soapAction="http://tempuri.org/DMS/Service1/GetFileByeArrayFromDMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileToDMS">
      <soap12:operation soapAction="http://tempuri.org/DMS/Service1/UploadFileToDMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertToVirtual_Document">
      <soap12:operation soapAction="http://tempuri.org/DMS/Service1/ConvertToVirtual_Document" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Move_File">
      <soap12:operation soapAction="http://tempuri.org/DMS/Service1/Move_File" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isVirtual_Document">
      <soap12:operation soapAction="http://tempuri.org/DMS/Service1/isVirtual_Document" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVirtual_Document_Childern">
      <soap12:operation soapAction="http://tempuri.org/DMS/Service1/GetVirtual_Document_Childern" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToVirtual_Document">
      <soap12:operation soapAction="http://tempuri.org/DMS/Service1/AddToVirtual_Document" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_Folder">
      <soap12:operation soapAction="http://tempuri.org/DMS/Service1/Create_Folder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebserviceVersion">
      <soap12:operation soapAction="http://tempuri.org/DMS/Service1/GetWebserviceVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileToDMS_V1">
      <soap12:operation soapAction="http://tempuri.org/DMS/Service1/UploadFileToDMS_V1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectToDocbase">
      <soap12:operation soapAction="http://tempuri.org/DMS/Service1/ConnectToDocbase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_Docbase">
      <soap12:operation soapAction="http://tempuri.org/DMS/Service1/Test_Docbase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Change_Type">
      <soap12:operation soapAction="http://tempuri.org/DMS/Service1/Change_Type" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DMS_LiveHttpGet" type="tns:DMS_LiveHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="DissconnectDocumentum">
      <http:operation location="/DissconnectDocumentum" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Attribute">
      <http:operation location="/Update_Attribute" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchInDoc">
      <http:operation location="/SearchInDoc" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileFromDMS">
      <http:operation location="/GetFileFromDMS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileByeArrayFromDMS">
      <http:operation location="/GetFileByeArrayFromDMS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileToDMS">
      <http:operation location="/UploadFileToDMS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertToVirtual_Document">
      <http:operation location="/ConvertToVirtual_Document" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Move_File">
      <http:operation location="/Move_File" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isVirtual_Document">
      <http:operation location="/isVirtual_Document" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVirtual_Document_Childern">
      <http:operation location="/GetVirtual_Document_Childern" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToVirtual_Document">
      <http:operation location="/AddToVirtual_Document" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_Folder">
      <http:operation location="/Create_Folder" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebserviceVersion">
      <http:operation location="/GetWebserviceVersion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileToDMS_V1">
      <http:operation location="/UploadFileToDMS_V1" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectToDocbase">
      <http:operation location="/ConnectToDocbase" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_Docbase">
      <http:operation location="/Test_Docbase" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Change_Type">
      <http:operation location="/Change_Type" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DMS_LiveHttpPost" type="tns:DMS_LiveHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="DissconnectDocumentum">
      <http:operation location="/DissconnectDocumentum" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Attribute">
      <http:operation location="/Update_Attribute" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchInDoc">
      <http:operation location="/SearchInDoc" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileFromDMS">
      <http:operation location="/GetFileFromDMS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileByeArrayFromDMS">
      <http:operation location="/GetFileByeArrayFromDMS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileToDMS">
      <http:operation location="/UploadFileToDMS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertToVirtual_Document">
      <http:operation location="/ConvertToVirtual_Document" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Move_File">
      <http:operation location="/Move_File" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isVirtual_Document">
      <http:operation location="/isVirtual_Document" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVirtual_Document_Childern">
      <http:operation location="/GetVirtual_Document_Childern" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToVirtual_Document">
      <http:operation location="/AddToVirtual_Document" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_Folder">
      <http:operation location="/Create_Folder" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWebserviceVersion">
      <http:operation location="/GetWebserviceVersion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileToDMS_V1">
      <http:operation location="/UploadFileToDMS_V1" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectToDocbase">
      <http:operation location="/ConnectToDocbase" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_Docbase">
      <http:operation location="/Test_Docbase" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Change_Type">
      <http:operation location="/Change_Type" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DMS_Live">
    <wsdl:port name="DMS_LiveSoap" binding="tns:DMS_LiveSoap">
      <soap:address location="http://dewaserv1588/DMSWS/DMS_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="DMS_LiveSoap12" binding="tns:DMS_LiveSoap12">
      <soap12:address location="http://dewaserv1588/DMSWS/DMS_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="DMS_LiveHttpGet" binding="tns:DMS_LiveHttpGet">
      <http:address location="http://dewaserv1588/DMSWS/DMS_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="DMS_LiveHttpPost" binding="tns:DMS_LiveHttpPost">
      <http:address location="http://dewaserv1588/DMSWS/DMS_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>