Src/Foundation/Integration/Code/Service References/QmsStatusSvc/QmsStatus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://webservice.gms.com.my" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://webservice.gms.com.my" targetNamespace="http://webservice.gms.com.my" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://webservice.gms.com.my">
      <xsd:element name="wsGetServiceStatusList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetServiceStatusListReq" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsGetServiceStatusListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetServiceStatusListReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsGetBranchServiceStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetBranchServiceStatusReq" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsGetBranchServiceStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetBranchServiceStatusReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsGetServingTicket">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetServingTicketReq" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsGetServingTicketResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetServingTicketReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="wsGetBranchServiceStatusResponse">
    <wsdl:part name="parameters" element="impl:wsGetBranchServiceStatusResponse" />
  </wsdl:message>
  <wsdl:message name="wsGetBranchServiceStatusRequest">
    <wsdl:part name="parameters" element="impl:wsGetBranchServiceStatus" />
  </wsdl:message>
  <wsdl:message name="wsGetServiceStatusListRequest">
    <wsdl:part name="parameters" element="impl:wsGetServiceStatusList" />
  </wsdl:message>
  <wsdl:message name="wsGetServiceStatusListResponse">
    <wsdl:part name="parameters" element="impl:wsGetServiceStatusListResponse" />
  </wsdl:message>
  <wsdl:message name="wsGetServingTicketRequest">
    <wsdl:part name="parameters" element="impl:wsGetServingTicket" />
  </wsdl:message>
  <wsdl:message name="wsGetServingTicketResponse">
    <wsdl:part name="parameters" element="impl:wsGetServingTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="QmsStatus">
    <wsdl:operation name="wsGetServiceStatusList">
      <wsdl:input name="wsGetServiceStatusListRequest" message="impl:wsGetServiceStatusListRequest" />
      <wsdl:output name="wsGetServiceStatusListResponse" message="impl:wsGetServiceStatusListResponse" />
    </wsdl:operation>
    <wsdl:operation name="wsGetBranchServiceStatus">
      <wsdl:input name="wsGetBranchServiceStatusRequest" message="impl:wsGetBranchServiceStatusRequest" />
      <wsdl:output name="wsGetBranchServiceStatusResponse" message="impl:wsGetBranchServiceStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="wsGetServingTicket">
      <wsdl:input name="wsGetServingTicketRequest" message="impl:wsGetServingTicketRequest" />
      <wsdl:output name="wsGetServingTicketResponse" message="impl:wsGetServingTicketResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QmsStatusSoapBinding" type="impl:QmsStatus">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsGetServiceStatusList">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="wsGetServiceStatusListRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsGetServiceStatusListResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsGetBranchServiceStatus">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="wsGetBranchServiceStatusRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsGetBranchServiceStatusResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsGetServingTicket">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="wsGetServingTicketRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsGetServingTicketResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QmsStatusService">
    <wsdl:port name="QmsStatus" binding="impl:QmsStatusSoapBinding">
      <wsdlsoap:address location="https://dewaserv6370.dewa.gov.ae/CorporateQMS/services/QmsStatus" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>