Src/Foundation/Integration/Code/Service References/EFormSvc/eForm.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Query_Ework_DB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB_Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Query_Ework_DBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Query_Ework_DBResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitNewForm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Xml_FormValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MapName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MapAction" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitNewFormResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitNewFormResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateForm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eFolderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Xml_FormValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MapName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MapAction" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFormResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateFormResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Query_Ework_DBSoapIn">
    <wsdl:part name="parameters" element="tns:Query_Ework_DB" />
  </wsdl:message>
  <wsdl:message name="Query_Ework_DBSoapOut">
    <wsdl:part name="parameters" element="tns:Query_Ework_DBResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitNewFormSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitNewForm" />
  </wsdl:message>
  <wsdl:message name="SubmitNewFormSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitNewFormResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFormSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateForm" />
  </wsdl:message>
  <wsdl:message name="UpdateFormSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFormResponse" />
  </wsdl:message>
  <wsdl:message name="Query_Ework_DBHttpGetIn">
    <wsdl:part name="sql" type="s:string" />
    <wsdl:part name="DB_Username" type="s:string" />
    <wsdl:part name="DB_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Query_Ework_DBHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SubmitNewFormHttpGetIn">
    <wsdl:part name="Xml_FormValues" type="s:string" />
    <wsdl:part name="MapName" type="s:string" />
    <wsdl:part name="MapAction" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubmitNewFormHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateFormHttpGetIn">
    <wsdl:part name="eFolderId" type="s:string" />
    <wsdl:part name="Xml_FormValues" type="s:string" />
    <wsdl:part name="MapName" type="s:string" />
    <wsdl:part name="MapAction" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateFormHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Query_Ework_DBHttpPostIn">
    <wsdl:part name="sql" type="s:string" />
    <wsdl:part name="DB_Username" type="s:string" />
    <wsdl:part name="DB_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Query_Ework_DBHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SubmitNewFormHttpPostIn">
    <wsdl:part name="Xml_FormValues" type="s:string" />
    <wsdl:part name="MapName" type="s:string" />
    <wsdl:part name="MapAction" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubmitNewFormHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateFormHttpPostIn">
    <wsdl:part name="eFolderId" type="s:string" />
    <wsdl:part name="Xml_FormValues" type="s:string" />
    <wsdl:part name="MapName" type="s:string" />
    <wsdl:part name="MapAction" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateFormHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="eFormSoap">
    <wsdl:operation name="Query_Ework_DB">
      <wsdl:input message="tns:Query_Ework_DBSoapIn" />
      <wsdl:output message="tns:Query_Ework_DBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitNewForm">
      <wsdl:input message="tns:SubmitNewFormSoapIn" />
      <wsdl:output message="tns:SubmitNewFormSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateForm">
      <wsdl:input message="tns:UpdateFormSoapIn" />
      <wsdl:output message="tns:UpdateFormSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="eFormHttpGet">
    <wsdl:operation name="Query_Ework_DB">
      <wsdl:input message="tns:Query_Ework_DBHttpGetIn" />
      <wsdl:output message="tns:Query_Ework_DBHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitNewForm">
      <wsdl:input message="tns:SubmitNewFormHttpGetIn" />
      <wsdl:output message="tns:SubmitNewFormHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateForm">
      <wsdl:input message="tns:UpdateFormHttpGetIn" />
      <wsdl:output message="tns:UpdateFormHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="eFormHttpPost">
    <wsdl:operation name="Query_Ework_DB">
      <wsdl:input message="tns:Query_Ework_DBHttpPostIn" />
      <wsdl:output message="tns:Query_Ework_DBHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitNewForm">
      <wsdl:input message="tns:SubmitNewFormHttpPostIn" />
      <wsdl:output message="tns:SubmitNewFormHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateForm">
      <wsdl:input message="tns:UpdateFormHttpPostIn" />
      <wsdl:output message="tns:UpdateFormHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eFormSoap" type="tns:eFormSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Query_Ework_DB">
      <soap:operation soapAction="http://tempuri.org/Query_Ework_DB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitNewForm">
      <soap:operation soapAction="http://tempuri.org/SubmitNewForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateForm">
      <soap:operation soapAction="http://tempuri.org/UpdateForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="eFormSoap12" type="tns:eFormSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Query_Ework_DB">
      <soap12:operation soapAction="http://tempuri.org/Query_Ework_DB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitNewForm">
      <soap12:operation soapAction="http://tempuri.org/SubmitNewForm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateForm">
      <soap12:operation soapAction="http://tempuri.org/UpdateForm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="eFormHttpGet" type="tns:eFormHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Query_Ework_DB">
      <http:operation location="/Query_Ework_DB" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitNewForm">
      <http:operation location="/SubmitNewForm" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateForm">
      <http:operation location="/UpdateForm" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="eFormHttpPost" type="tns:eFormHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Query_Ework_DB">
      <http:operation location="/Query_Ework_DB" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitNewForm">
      <http:operation location="/SubmitNewForm" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateForm">
      <http:operation location="/UpdateForm" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eForm">
    <wsdl:port name="eFormSoap" binding="tns:eFormSoap">
      <soap:address location="http://dewaserv244:8550/eFormWebServiceV3/eForm.asmx" />
    </wsdl:port>
    <wsdl:port name="eFormSoap12" binding="tns:eFormSoap12">
      <soap12:address location="http://dewaserv244:8550/eFormWebServiceV3/eForm.asmx" />
    </wsdl:port>
    <wsdl:port name="eFormHttpGet" binding="tns:eFormHttpGet">
      <http:address location="http://dewaserv244:8550/eFormWebServiceV3/eForm.asmx" />
    </wsdl:port>
    <wsdl:port name="eFormHttpPost" binding="tns:eFormHttpPost">
      <http:address location="http://dewaserv244:8550/eFormWebServiceV3/eForm.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>