Src/Foundation/Integration/Code/Service References/JobSeekerSvc/jobseekers2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://ws.portal.dewa.gov.ae/erecservices/" targetNamespace="http://ws.portal.dewa.gov.ae/erecservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://ws.portal.dewa.gov.ae/erecservices/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Exception" type="tns:Exception" />
      <xs:element name="GetCandidateProfile" type="tns:GetCandidateProfile" />
      <xs:element name="GetCandidateProfileResponse" type="tns:GetCandidateProfileResponse" />
      <xs:element name="GetHotJobs" type="tns:GetHotJobs" />
      <xs:element name="GetHotJobsResponse" type="tns:GetHotJobsResponse" />
      <xs:element name="GetJobFilter" type="tns:GetJobFilter" />
      <xs:element name="GetJobFilterResponse" type="tns:GetJobFilterResponse" />
      <xs:element name="GetLoginSessionJobSeekerAuthentication" type="tns:GetLoginSessionJobSeekerAuthentication" />
      <xs:element name="GetLoginSessionJobSeekerAuthenticationResponse" type="tns:GetLoginSessionJobSeekerAuthenticationResponse" />
      <xs:element name="GetValidateAcademyLogin" type="tns:GetValidateAcademyLogin" />
      <xs:element name="GetValidateAcademyLoginResponse" type="tns:GetValidateAcademyLoginResponse" />
      <xs:element name="GetValidateCandidateLogin" type="tns:GetValidateCandidateLogin" />
      <xs:element name="GetValidateCandidateLoginResponse" type="tns:GetValidateCandidateLoginResponse" />
      <xs:element name="PutCandidateJobApply" type="tns:PutCandidateJobApply" />
      <xs:element name="PutCandidateJobApplyResponse" type="tns:PutCandidateJobApplyResponse" />
      <xs:element name="PutCandidateJobSearch" type="tns:PutCandidateJobSearch" />
      <xs:element name="PutCandidateJobSearchResponse" type="tns:PutCandidateJobSearchResponse" />
      <xs:element name="PutCandidateRegistration" type="tns:PutCandidateRegistration" />
      <xs:element name="PutCandidateRegistrationResponse" type="tns:PutCandidateRegistrationResponse" />
      <xs:element name="PutPODCandidateRegistration" type="tns:PutPODCandidateRegistration" />
      <xs:element name="PutPODCandidateRegistrationResponse" type="tns:PutPODCandidateRegistrationResponse" />
      <xs:element name="SetAcademyRegistration" type="tns:SetAcademyRegistration" />
      <xs:element name="SetAcademyRegistrationResponse" type="tns:SetAcademyRegistrationResponse" />
      <xs:element name="SetCareerFairRegistration" type="tns:SetCareerFairRegistration" />
      <xs:element name="SetCareerFairRegistrationResponse" type="tns:SetCareerFairRegistrationResponse" />
      <xs:complexType name="GetValidateCandidateLogin">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="merchantid" type="xs:string" />
          <xs:element minOccurs="0" name="merchantpassword" type="xs:string" />
          <xs:element minOccurs="0" name="jobid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="ipaddress" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetValidateCandidateLoginResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:userLoginValidation" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userLoginValidation">
        <xs:sequence>
          <xs:element minOccurs="0" name="credential" type="xs:string" />
          <xs:element minOccurs="0" name="errorcode" type="xs:string" />
          <xs:element minOccurs="0" name="errormessage" type="xs:string" />
          <xs:element minOccurs="0" name="lastlogin" type="xs:string" />
          <xs:element minOccurs="0" name="passwordstate" type="xs:string" />
          <xs:element minOccurs="0" name="success" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PutPODCandidateRegistration">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="emailaddress" type="xs:string" />
          <xs:element minOccurs="0" name="nationality" type="xs:string" />
          <xs:element minOccurs="0" name="mobilenumber" type="xs:string" />
          <xs:element minOccurs="0" name="ipaddress" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PutPODCandidateRegistrationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:podRegistration" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="podRegistration">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorcode" type="xs:string" />
          <xs:element minOccurs="0" name="errormessage" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="success" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PutCandidateRegistration">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="firstname" type="xs:string" />
          <xs:element minOccurs="0" name="middlename" type="xs:string" />
          <xs:element minOccurs="0" name="lastname" type="xs:string" />
          <xs:element minOccurs="0" name="emailaddress" type="xs:string" />
          <xs:element minOccurs="0" name="nationality" type="xs:string" />
          <xs:element minOccurs="0" name="privacy" type="xs:string" />
          <xs:element minOccurs="0" name="passportnumber" type="xs:string" />
          <xs:element minOccurs="0" name="ipaddress" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PutCandidateRegistrationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:userRegistration" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userRegistration">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorcode" type="xs:string" />
          <xs:element minOccurs="0" name="errormessage" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="success" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PutCandidateJobApply">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="jobid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PutCandidateJobApplyResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:applyJob" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="applyJob">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorcode" type="xs:string" />
          <xs:element minOccurs="0" name="errormessage" type="xs:string" />
          <xs:element minOccurs="0" name="success" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PutCandidateJobSearch">
        <xs:sequence>
          <xs:element minOccurs="0" name="jobid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="keyword" type="xs:string" />
          <xs:element minOccurs="0" name="functionalarea" type="xs:string" />
          <xs:element minOccurs="0" name="contracttype" type="xs:string" />
          <xs:element minOccurs="0" name="detail" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PutCandidateJobSearchResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:searchJob" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="searchJob">
        <xs:sequence>
          <xs:element minOccurs="0" name="contracttype" type="xs:string" />
          <xs:element minOccurs="0" name="errorcode" type="xs:string" />
          <xs:element minOccurs="0" name="errormessage" type="xs:string" />
          <xs:element minOccurs="0" name="functionalarea" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="joblist" nillable="true" type="tns:jobList" />
          <xs:element minOccurs="0" name="keyword" type="xs:string" />
          <xs:element minOccurs="0" name="success" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="jobList">
        <xs:sequence>
          <xs:element minOccurs="0" name="enddate" type="xs:string" />
          <xs:element minOccurs="0" name="jobdescription" type="xs:string" />
          <xs:element minOccurs="0" name="jobid" type="xs:string" />
          <xs:element minOccurs="0" name="publishdate" type="xs:string" />
          <xs:element minOccurs="0" name="referencecode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetHotJobs">
        <xs:sequence>
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetHotJobsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:searchJob" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetJobFilter">
        <xs:sequence>
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetJobFilterResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:jobFilter" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="jobFilter">
        <xs:sequence>
          <xs:element minOccurs="0" name="contractcode" type="xs:string" />
          <xs:element minOccurs="0" name="contracttext" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="contracttype" nillable="true" type="tns:contractType" />
          <xs:element minOccurs="0" name="errorcode" type="xs:string" />
          <xs:element minOccurs="0" name="errormessage" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="functionalarea" nillable="true" type="tns:functionalArea" />
          <xs:element minOccurs="0" name="functionalareacode" type="xs:string" />
          <xs:element minOccurs="0" name="functionalareatext" type="xs:string" />
          <xs:element minOccurs="0" name="success" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="contractType">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="workcontract" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="functionalArea">
        <xs:sequence>
          <xs:element minOccurs="0" name="functionalarea" type="xs:string" />
          <xs:element minOccurs="0" name="functionalareadescription" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetLoginSessionJobSeekerAuthentication">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="providermerchantid" type="xs:string" />
          <xs:element minOccurs="0" name="providermerchantpassword" type="xs:string" />
          <xs:element minOccurs="0" name="issuervendorid" type="xs:string" />
          <xs:element minOccurs="0" name="issuersessionid" type="xs:string" />
          <xs:element minOccurs="0" name="ipaddress" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetLoginSessionJobSeekerAuthenticationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:userLoginValidation" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetCandidateProfile">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="sessionid" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetCandidateProfileResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:applyJob" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetAcademyRegistration">
        <xs:sequence>
          <xs:element minOccurs="0" name="AcademyRegistrationDetails" type="tns:academyRegistrationDetails" />
          <xs:element minOccurs="0" name="AcademyCeritifcates" type="tns:academyCeritifcates" />
          <xs:element minOccurs="0" name="AcademyPersonalAttachments" type="tns:academyPersonalAttachments" />
          <xs:element minOccurs="0" name="FamilyDetails" type="tns:familyDetails" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="academyRegistrationDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="applicantFirstName" type="xs:string" />
          <xs:element minOccurs="0" name="applicantLastName" type="xs:string" />
          <xs:element minOccurs="0" name="applicantMiddleName" type="xs:string" />
          <xs:element minOccurs="0" name="applicationstatus" type="xs:string" />
          <xs:element minOccurs="0" name="birthplace" type="xs:string" />
          <xs:element minOccurs="0" name="candidateID" type="xs:string" />
          <xs:element minOccurs="0" name="channel" type="xs:string" />
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="countryKey" type="xs:string" />
          <xs:element minOccurs="0" name="dateOfBirth" type="xs:string" />
          <xs:element minOccurs="0" name="district" type="xs:string" />
          <xs:element minOccurs="0" name="emiratesID" type="xs:string" />
          <xs:element minOccurs="0" name="emiratesIDexpiredate" type="xs:string" />
          <xs:element minOccurs="0" name="emiratesIDissueddate" type="xs:string" />
          <xs:element minOccurs="0" name="finalPercentage" type="xs:string" />
          <xs:element minOccurs="0" name="houseNumber" type="xs:string" />
          <xs:element minOccurs="0" name="idbaranumber" type="xs:string" />
          <xs:element minOccurs="0" name="landmark" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
          <xs:element minOccurs="0" name="mobileNumber" type="xs:string" />
          <xs:element minOccurs="0" name="nationality" type="xs:string" />
          <xs:element minOccurs="0" name="passportNumber" type="xs:string" />
          <xs:element minOccurs="0" name="passportexpirydate" type="xs:string" />
          <xs:element minOccurs="0" name="passportissueddate" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="placeofidentificationissued" type="xs:string" />
          <xs:element minOccurs="0" name="postalCode" type="xs:string" />
          <xs:element minOccurs="0" name="schoolName" type="xs:string" />
          <xs:element minOccurs="0" name="secondarymobilenumber" type="xs:string" />
          <xs:element minOccurs="0" name="siblings" type="xs:string" />
          <xs:element minOccurs="0" name="telephonenumber" type="xs:string" />
          <xs:element minOccurs="0" name="unifiednumber" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="academyCeritifcates">
        <xs:sequence>
          <xs:element minOccurs="0" name="academicCertificate" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="academicCertificatefilename" type="xs:string" />
          <xs:element minOccurs="0" name="academicCertificatefiletype" type="xs:string" />
          <xs:element minOccurs="0" name="academicYear" type="xs:string" />
          <xs:element minOccurs="0" name="certificateIssuedBoard" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="certificateIssuedBoardfilename" type="xs:string" />
          <xs:element minOccurs="0" name="certificateIssuedBoardfiletype" type="xs:string" />
          <xs:element minOccurs="0" name="coursesandTrainingCertificates" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="coursesandTrainingCertificatesfilename" type="xs:string" />
          <xs:element minOccurs="0" name="coursesandTrainingCertificatesfiletype" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="academyPersonalAttachments">
        <xs:sequence>
          <xs:element minOccurs="0" name="birthcertificateAttachment" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="birthcertificateAttachmentfilename" type="xs:string" />
          <xs:element minOccurs="0" name="birthcertificateAttachmentfiletype" type="xs:string" />
          <xs:element minOccurs="0" name="candidateID" type="xs:string" />
          <xs:element minOccurs="0" name="emiratedIDAttachment" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="emiratedIDAttachmentfilename" type="xs:string" />
          <xs:element minOccurs="0" name="emiratedIDAttachmentfiletype" type="xs:string" />
          <xs:element minOccurs="0" name="familyBookAttachment" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="familyBookAttachmentfilename" type="xs:string" />
          <xs:element minOccurs="0" name="familyBookAttachmentfiletype" type="xs:string" />
          <xs:element minOccurs="0" name="passportAttachment" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="passportAttachmentfilename" type="xs:string" />
          <xs:element minOccurs="0" name="passportAttachmentfiletype" type="xs:string" />
          <xs:element minOccurs="0" name="photoAttachment" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="photoAttachmentfilename" type="xs:string" />
          <xs:element minOccurs="0" name="photoAttachmentfiletype" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="familyDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="familybookissueddate" type="xs:string" />
          <xs:element minOccurs="0" name="familybooknumber" type="xs:string" />
          <xs:element minOccurs="0" name="familynumber" type="xs:string" />
          <xs:element minOccurs="0" name="fatherfirstname" type="xs:string" />
          <xs:element minOccurs="0" name="fatherlastname" type="xs:string" />
          <xs:element minOccurs="0" name="fathermiddlename" type="xs:string" />
          <xs:element minOccurs="0" name="fathermobilenumber" type="xs:string" />
          <xs:element minOccurs="0" name="motherfirstname" type="xs:string" />
          <xs:element minOccurs="0" name="motherlastname" type="xs:string" />
          <xs:element minOccurs="0" name="mothermiddlename" type="xs:string" />
          <xs:element minOccurs="0" name="mothermobilenumber" type="xs:string" />
          <xs:element minOccurs="0" name="postalcode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetAcademyRegistrationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:academyRegistration" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="academyRegistration">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorcode" type="xs:string" />
          <xs:element minOccurs="0" name="errormessage" type="xs:string" />
          <xs:element minOccurs="0" name="success" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetValidateAcademyLogin">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="ipaddress" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetValidateAcademyLoginResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:academyLogin" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="academyLogin">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorcode" type="xs:string" />
          <xs:element minOccurs="0" name="errormessage" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element minOccurs="0" name="success" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetCareerFairRegistration">
        <xs:sequence>
          <xs:element minOccurs="0" name="Caree" type="tns:careerFairRegistrationDetails" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="careerFairRegistrationDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="applicantFirstName" type="xs:string" />
          <xs:element minOccurs="0" name="applicantLastName" type="xs:string" />
          <xs:element minOccurs="0" name="applicantMiddleName" type="xs:string" />
          <xs:element minOccurs="0" name="dateOfBirth" type="xs:string" />
          <xs:element minOccurs="0" name="emailaddress" type="xs:string" />
          <xs:element minOccurs="0" name="emiratesID" type="xs:string" />
          <xs:element minOccurs="0" name="gender" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
          <xs:element minOccurs="0" name="mobileNumber" type="xs:string" />
          <xs:element minOccurs="0" name="profile" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="qualification" type="xs:string" />
          <xs:element minOccurs="0" name="specialisation" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetCareerFairRegistrationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:careerFairRegistration" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="careerFairRegistration">
        <xs:sequence>
          <xs:element minOccurs="0" name="emailaddress" type="xs:string" />
          <xs:element minOccurs="0" name="errorcode" type="xs:string" />
          <xs:element minOccurs="0" name="errormessage" type="xs:string" />
          <xs:element minOccurs="0" name="success" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetValidateCandidateLoginIn">
    <wsdl:part name="parameters" element="tns:GetValidateCandidateLogin" />
  </wsdl:message>
  <wsdl:message name="GetValidateCandidateLoginOut">
    <wsdl:part name="GetValidateCandidateLoginResponse" element="tns:GetValidateCandidateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetValidateCandidateLoginFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="PutPODCandidateRegistrationIn">
    <wsdl:part name="parameters" element="tns:PutPODCandidateRegistration" />
  </wsdl:message>
  <wsdl:message name="PutPODCandidateRegistrationOut">
    <wsdl:part name="PutPODCandidateRegistrationResponse" element="tns:PutPODCandidateRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="PutPODCandidateRegistrationFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="PutCandidateRegistrationIn">
    <wsdl:part name="parameters" element="tns:PutCandidateRegistration" />
  </wsdl:message>
  <wsdl:message name="PutCandidateRegistrationOut">
    <wsdl:part name="PutCandidateRegistrationResponse" element="tns:PutCandidateRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="PutCandidateRegistrationFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="PutCandidateJobApplyIn">
    <wsdl:part name="parameters" element="tns:PutCandidateJobApply" />
  </wsdl:message>
  <wsdl:message name="PutCandidateJobApplyOut">
    <wsdl:part name="PutCandidateJobApplyResponse" element="tns:PutCandidateJobApplyResponse" />
  </wsdl:message>
  <wsdl:message name="PutCandidateJobApplyFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="PutCandidateJobSearchIn">
    <wsdl:part name="parameters" element="tns:PutCandidateJobSearch" />
  </wsdl:message>
  <wsdl:message name="PutCandidateJobSearchOut">
    <wsdl:part name="PutCandidateJobSearchResponse" element="tns:PutCandidateJobSearchResponse" />
  </wsdl:message>
  <wsdl:message name="PutCandidateJobSearchFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="GetHotJobsIn">
    <wsdl:part name="parameters" element="tns:GetHotJobs" />
  </wsdl:message>
  <wsdl:message name="GetHotJobsOut">
    <wsdl:part name="GetHotJobsResponse" element="tns:GetHotJobsResponse" />
  </wsdl:message>
  <wsdl:message name="GetHotJobsFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="GetJobFilterIn">
    <wsdl:part name="parameters" element="tns:GetJobFilter" />
  </wsdl:message>
  <wsdl:message name="GetJobFilterOut">
    <wsdl:part name="GetJobFilterResponse" element="tns:GetJobFilterResponse" />
  </wsdl:message>
  <wsdl:message name="GetJobFilterFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="GetLoginSessionJobSeekerAuthenticationIn">
    <wsdl:part name="parameters" element="tns:GetLoginSessionJobSeekerAuthentication" />
  </wsdl:message>
  <wsdl:message name="GetLoginSessionJobSeekerAuthenticationOut">
    <wsdl:part name="GetLoginSessionJobSeekerAuthenticationResponse" element="tns:GetLoginSessionJobSeekerAuthenticationResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginSessionJobSeekerAuthenticationFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="GetCandidateProfileIn">
    <wsdl:part name="parameters" element="tns:GetCandidateProfile" />
  </wsdl:message>
  <wsdl:message name="GetCandidateProfileOut">
    <wsdl:part name="GetCandidateProfileResponse" element="tns:GetCandidateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="GetCandidateProfileFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="SetAcademyRegistrationIn">
    <wsdl:part name="parameters" element="tns:SetAcademyRegistration" />
  </wsdl:message>
  <wsdl:message name="SetAcademyRegistrationOut">
    <wsdl:part name="SetAcademyRegistrationResponse" element="tns:SetAcademyRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="SetAcademyRegistrationFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="GetValidateAcademyLoginIn">
    <wsdl:part name="parameters" element="tns:GetValidateAcademyLogin" />
  </wsdl:message>
  <wsdl:message name="GetValidateAcademyLoginOut">
    <wsdl:part name="GetValidateAcademyLoginResponse" element="tns:GetValidateAcademyLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetValidateAcademyLoginFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="SetCareerFairRegistrationIn">
    <wsdl:part name="parameters" element="tns:SetCareerFairRegistration" />
  </wsdl:message>
  <wsdl:message name="SetCareerFairRegistrationOut">
    <wsdl:part name="SetCareerFairRegistrationResponse" element="tns:SetCareerFairRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="SetCareerFairRegistrationFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:portType name="ErecV1">
    <wsdl:operation name="GetValidateCandidateLogin" parameterOrder="parameters">
      <wsdl:input message="tns:GetValidateCandidateLoginIn" />
      <wsdl:output message="tns:GetValidateCandidateLoginOut" />
      <wsdl:fault name="Exception" message="tns:GetValidateCandidateLoginFault" />
    </wsdl:operation>
    <wsdl:operation name="PutPODCandidateRegistration" parameterOrder="parameters">
      <wsdl:input message="tns:PutPODCandidateRegistrationIn" />
      <wsdl:output message="tns:PutPODCandidateRegistrationOut" />
      <wsdl:fault name="Exception" message="tns:PutPODCandidateRegistrationFault" />
    </wsdl:operation>
    <wsdl:operation name="PutCandidateRegistration" parameterOrder="parameters">
      <wsdl:input message="tns:PutCandidateRegistrationIn" />
      <wsdl:output message="tns:PutCandidateRegistrationOut" />
      <wsdl:fault name="Exception" message="tns:PutCandidateRegistrationFault" />
    </wsdl:operation>
    <wsdl:operation name="PutCandidateJobApply" parameterOrder="parameters">
      <wsdl:input message="tns:PutCandidateJobApplyIn" />
      <wsdl:output message="tns:PutCandidateJobApplyOut" />
      <wsdl:fault name="Exception" message="tns:PutCandidateJobApplyFault" />
    </wsdl:operation>
    <wsdl:operation name="PutCandidateJobSearch" parameterOrder="parameters">
      <wsdl:input message="tns:PutCandidateJobSearchIn" />
      <wsdl:output message="tns:PutCandidateJobSearchOut" />
      <wsdl:fault name="Exception" message="tns:PutCandidateJobSearchFault" />
    </wsdl:operation>
    <wsdl:operation name="GetHotJobs" parameterOrder="parameters">
      <wsdl:input message="tns:GetHotJobsIn" />
      <wsdl:output message="tns:GetHotJobsOut" />
      <wsdl:fault name="Exception" message="tns:GetHotJobsFault" />
    </wsdl:operation>
    <wsdl:operation name="GetJobFilter" parameterOrder="parameters">
      <wsdl:input message="tns:GetJobFilterIn" />
      <wsdl:output message="tns:GetJobFilterOut" />
      <wsdl:fault name="Exception" message="tns:GetJobFilterFault" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginSessionJobSeekerAuthentication" parameterOrder="parameters">
      <wsdl:input message="tns:GetLoginSessionJobSeekerAuthenticationIn" />
      <wsdl:output message="tns:GetLoginSessionJobSeekerAuthenticationOut" />
      <wsdl:fault name="Exception" message="tns:GetLoginSessionJobSeekerAuthenticationFault" />
    </wsdl:operation>
    <wsdl:operation name="GetCandidateProfile" parameterOrder="parameters">
      <wsdl:input message="tns:GetCandidateProfileIn" />
      <wsdl:output message="tns:GetCandidateProfileOut" />
      <wsdl:fault name="Exception" message="tns:GetCandidateProfileFault" />
    </wsdl:operation>
    <wsdl:operation name="SetAcademyRegistration" parameterOrder="parameters">
      <wsdl:input message="tns:SetAcademyRegistrationIn" />
      <wsdl:output message="tns:SetAcademyRegistrationOut" />
      <wsdl:fault name="Exception" message="tns:SetAcademyRegistrationFault" />
    </wsdl:operation>
    <wsdl:operation name="GetValidateAcademyLogin" parameterOrder="parameters">
      <wsdl:input message="tns:GetValidateAcademyLoginIn" />
      <wsdl:output message="tns:GetValidateAcademyLoginOut" />
      <wsdl:fault name="Exception" message="tns:GetValidateAcademyLoginFault" />
    </wsdl:operation>
    <wsdl:operation name="SetCareerFairRegistration" parameterOrder="parameters">
      <wsdl:input message="tns:SetCareerFairRegistrationIn" />
      <wsdl:output message="tns:SetCareerFairRegistrationOut" />
      <wsdl:fault name="Exception" message="tns:SetCareerFairRegistrationFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ErecV1Binding" type="tns:ErecV1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetValidateCandidateLogin">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PutPODCandidateRegistration">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PutCandidateRegistration">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PutCandidateJobApply">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PutCandidateJobSearch">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetHotJobs">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetJobFilter">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLoginSessionJobSeekerAuthentication">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCandidateProfile">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetAcademyRegistration">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetValidateAcademyLogin">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetCareerFairRegistration">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ErecServices">
    <wsdl:port name="ErecServices" binding="tns:ErecV1Binding">
      <address location="https://api.qa.dewa.gov.ae/jobseekers" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>