Src/Foundation/Integration/Code/Service References/KhadamatechDEWASvc/ExternalCreateReq.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="urn:_DEW:GatePass:ExternalCreateReq" targetNamespace="urn:_DEW:GatePass:ExternalCreateReq" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:_DEW:GatePass:ExternalCreateReq">
      <xsd:element name="CreateReq" type="s0:InputMapping1" />
      <xsd:complexType name="InputMapping1">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="VisitorEmailid" type="xsd:string" />
          <xsd:element minOccurs="0" name="Visitorname" type="xsd:string" />
          <xsd:element minOccurs="0" name="Projectname" type="xsd:string" />
          <xsd:element minOccurs="0" name="ProjectID" type="xsd:string" />
          <xsd:element minOccurs="0" name="Designation" type="xsd:string" />
          <xsd:element minOccurs="0" name="MobileNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="Nationality" type="xsd:string" />
          <xsd:element minOccurs="0" name="Location" type="xsd:string" />
          <xsd:element minOccurs="0" name="Entrydate" nillable="true" type="xsd:date" />
          <xsd:element minOccurs="0" name="Entryintime" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="Entryouttime" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="EmiratesID" type="xsd:string" />
          <xsd:element minOccurs="0" name="EmiratesIDExpirydate" nillable="true" type="xsd:date" />
          <xsd:element minOccurs="0" name="Passport" type="xsd:string" />
          <xsd:element minOccurs="0" name="PassportExpirydate" nillable="true" type="xsd:date" />
          <xsd:element minOccurs="0" name="VisaNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="VisaNumberExpirydate" nillable="true" type="xsd:date" />
          <xsd:element name="EmiratesIDCard_attachmentName" type="xsd:string" />
          <xsd:element name="EmiratesIDCard_attachmentData" type="xsd:base64Binary" />
          <xsd:element name="EmiratesIDCard_attachmentOrigSize" type="xsd:int" />
          <xsd:element name="PassportCard_attachmentName" type="xsd:string" />
          <xsd:element name="PassportCard_attachmentData" type="xsd:base64Binary" />
          <xsd:element name="PassportCard_attachmentOrigSize" type="xsd:int" />
          <xsd:element minOccurs="0" name="VisaNumberCard_attachmentName" type="xsd:string" />
          <xsd:element minOccurs="0" name="VisaNumberCard_attachmentData" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="VisaNumberCard_attachmentOrigSize" type="xsd:int" />
          <xsd:element minOccurs="0" name="ApplicatePhoto_attachmentName" type="xsd:string" />
          <xsd:element minOccurs="0" name="ApplicatePhoto_attachmentData" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="ApplicatePhoto_attachmentOrigSize" type="xsd:int" />
          <xsd:element minOccurs="0" name="Entry_In" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Exit_Out" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Comment" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="CardNo" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="Flag" type="xsd:string" />
          <xsd:element minOccurs="0" name="EID_Filecontenttype" type="xsd:string" />
          <xsd:element minOccurs="0" name="EID_Fileextension" type="xsd:string" />
          <xsd:element minOccurs="0" name="EID_Filetype" type="xsd:string" />
          <xsd:element minOccurs="0" name="Photo_Filecontenttype" type="xsd:string" />
          <xsd:element minOccurs="0" name="Photo_Fileextension" type="xsd:string" />
          <xsd:element minOccurs="0" name="Photo_Filetype" type="xsd:string" />
          <xsd:element minOccurs="0" name="Passport_Filecontenttype" type="xsd:string" />
          <xsd:element minOccurs="0" name="Passport_Fileextension" type="xsd:string" />
          <xsd:element minOccurs="0" name="Passport_Filetype" type="xsd:string" />
          <xsd:element minOccurs="0" name="VISA_Filecontenttype" type="xsd:string" />
          <xsd:element minOccurs="0" name="VISA_Fileextension" type="xsd:string" />
          <xsd:element minOccurs="0" name="VISA_Filetype" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CreateReqResponse" type="s0:OutputMapping1" />
      <xsd:complexType name="OutputMapping1">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="GatePassID" type="xsd:string" />
          <xsd:element minOccurs="0" name="Message" type="xsd:string" />
          <xsd:element minOccurs="0" name="WorkOrderID" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="SearchById" type="s0:InputMapping2" />
      <xsd:complexType name="InputMapping2">
        <xsd:sequence>
          <xsd:element name="InPut" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="SearchByIdResponse" type="s0:OutputMapping2" />
      <xsd:complexType name="OutputMapping2">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CreateDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="ModifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="VisitorEmailid" type="xsd:string" />
          <xsd:element minOccurs="0" name="Visitorname" type="xsd:string" />
          <xsd:element minOccurs="0" name="Projectname" type="xsd:string" />
          <xsd:element minOccurs="0" name="ProjectID" type="xsd:string" />
          <xsd:element minOccurs="0" name="Designation" type="xsd:string" />
          <xsd:element minOccurs="0" name="MobileNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="Nationality" type="xsd:string" />
          <xsd:element minOccurs="0" name="Location" type="xsd:string" />
          <xsd:element minOccurs="0" name="Entrydate" type="xsd:date" />
          <xsd:element minOccurs="0" name="Entryintime" type="xsd:string" />
          <xsd:element minOccurs="0" name="Entryouttime" type="xsd:string" />
          <xsd:element minOccurs="0" name="EmiratesID" type="xsd:string" />
          <xsd:element minOccurs="0" name="EmiratesIDExpirydate" type="xsd:date" />
          <xsd:element minOccurs="0" name="Passport" type="xsd:string" />
          <xsd:element minOccurs="0" name="PassportExpirydate" type="xsd:date" />
          <xsd:element minOccurs="0" name="VisaNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="VisaNumberExpirydate" type="xsd:date" />
          <xsd:element name="EmiratesIDCard_attachmentName" type="xsd:string" />
          <xsd:element name="EmiratesIDCard_attachmentData" type="xsd:base64Binary" />
          <xsd:element name="EmiratesIDCard_attachmentOrigSize" type="xsd:int" />
          <xsd:element name="PassportCard_attachmentName" type="xsd:string" />
          <xsd:element name="PassportCard_attachmentData" type="xsd:base64Binary" />
          <xsd:element name="PassportCard_attachmentOrigSize" type="xsd:int" />
          <xsd:element minOccurs="0" name="VisaNumberCard_attachmentName" type="xsd:string" />
          <xsd:element minOccurs="0" name="VisaNumberCard_attachmentData" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="VisaNumberCard_attachmentOrigSize" type="xsd:int" />
          <xsd:element minOccurs="0" name="ApplicatePhoto_attachmentName" type="xsd:string" />
          <xsd:element minOccurs="0" name="ApplicatePhoto_attachmentData" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="ApplicatePhoto_attachmentOrigSize" type="xsd:int" />
          <xsd:element minOccurs="0" name="Entry_In" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Exit_Out" type="xsd:dateTime" />
          <xsd:element minOccurs="0" default="&lt;536,870,934&gt;" name="Comment" type="xsd:string" />
          <xsd:element minOccurs="0" name="CardNo" type="xsd:string" />
          <xsd:element minOccurs="0" name="entryInby" type="xsd:string" />
          <xsd:element minOccurs="0" name="exitOutby" type="xsd:string" />
          <xsd:element minOccurs="0" name="WorkOrderID" type="xsd:string" />
          <xsd:element minOccurs="0" name="GatePassID" type="xsd:string" />
          <xsd:element minOccurs="0" name="Status" nillable="true" type="s0:StatusType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="StatusType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Assigned" />
          <xsd:enumeration value="Pending" />
          <xsd:enumeration value="Waiting Approval" />
          <xsd:enumeration value="Planning" />
          <xsd:enumeration value="In Progress" />
          <xsd:enumeration value="Completed" />
          <xsd:enumeration value="Rejected" />
          <xsd:enumeration value="Cancelled" />
          <xsd:enumeration value="Closed" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="Set" type="s0:InputMapping3" />
      <xsd:complexType name="InputMapping3">
        <xsd:sequence>
          <xsd:element minOccurs="0" default="$USER$" name="Submitter__c" type="xsd:string" />
          <xsd:element minOccurs="0" name="Assigned_To__c" type="xsd:string" />
          <xsd:element minOccurs="0" name="Status__c" nillable="true" type="s0:Status__cType" />
          <xsd:element minOccurs="0" default="xxx" name="Short_Description__c" type="xsd:string" />
          <xsd:element minOccurs="0" name="VisitorEmailid" type="xsd:string" />
          <xsd:element minOccurs="0" name="Visitorname" type="xsd:string" />
          <xsd:element minOccurs="0" name="Projectname" type="xsd:string" />
          <xsd:element minOccurs="0" name="ProjectID" type="xsd:string" />
          <xsd:element minOccurs="0" name="Designation" type="xsd:string" />
          <xsd:element minOccurs="0" name="MobileNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="Nationality" type="xsd:string" />
          <xsd:element minOccurs="0" name="Location" type="xsd:string" />
          <xsd:element minOccurs="0" name="Entrydate" type="xsd:date" />
          <xsd:element minOccurs="0" name="Entryintime" type="xsd:string" />
          <xsd:element minOccurs="0" name="Entryouttime" type="xsd:string" />
          <xsd:element minOccurs="0" name="EmiratesID" type="xsd:string" />
          <xsd:element minOccurs="0" name="EmiratesIDExpirydate" type="xsd:date" />
          <xsd:element minOccurs="0" name="Passport" type="xsd:string" />
          <xsd:element minOccurs="0" name="PassportExpirydate" type="xsd:date" />
          <xsd:element minOccurs="0" name="VisaNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="VisaNumberExpirydate" type="xsd:date" />
          <xsd:element minOccurs="0" name="EmiratesIDCard_attachmentName" type="xsd:string" />
          <xsd:element minOccurs="0" name="EmiratesIDCard_attachmentData" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="EmiratesIDCard_attachmentOrigSize" type="xsd:int" />
          <xsd:element minOccurs="0" name="PassportCard_attachmentName" type="xsd:string" />
          <xsd:element minOccurs="0" name="PassportCard_attachmentData" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="PassportCard_attachmentOrigSize" type="xsd:int" />
          <xsd:element minOccurs="0" name="VisaNumberCard_attachmentName" type="xsd:string" />
          <xsd:element minOccurs="0" name="VisaNumberCard_attachmentData" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="VisaNumberCard_attachmentOrigSize" type="xsd:int" />
          <xsd:element minOccurs="0" name="ApplicatePhoto_attachmentName" type="xsd:string" />
          <xsd:element minOccurs="0" name="ApplicatePhoto_attachmentData" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="ApplicatePhoto_attachmentOrigSize" type="xsd:int" />
          <xsd:element minOccurs="0" name="Entry_In" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Exit_Out" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Comment" type="xsd:string" />
          <xsd:element minOccurs="0" name="CardNo" type="xsd:string" />
          <xsd:element name="Request_ID__c" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Status__cType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="New" />
          <xsd:enumeration value="Assigned" />
          <xsd:enumeration value="Fixed" />
          <xsd:enumeration value="Rejected" />
          <xsd:enumeration value="Closed" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="SetResponse" type="s0:OutputMapping3" />
      <xsd:complexType name="OutputMapping3">
        <xsd:sequence>
          <xsd:element name="Request_ID__c" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Service" type="s0:InputMapping4" />
      <xsd:complexType name="InputMapping4">
        <xsd:sequence>
          <xsd:element minOccurs="0" default="$USER$" name="Submitter__c" type="xsd:string" />
          <xsd:element minOccurs="0" name="Assigned_To__c" type="xsd:string" />
          <xsd:element minOccurs="0" name="Status__c" nillable="true" type="s0:Status__cType" />
          <xsd:element minOccurs="0" default="xxx" name="Short_Description__c" type="xsd:string" />
          <xsd:element minOccurs="0" name="VisitorEmailid" type="xsd:string" />
          <xsd:element minOccurs="0" name="Visitorname" type="xsd:string" />
          <xsd:element minOccurs="0" name="Projectname" type="xsd:string" />
          <xsd:element minOccurs="0" name="ProjectID" type="xsd:string" />
          <xsd:element minOccurs="0" name="Designation" type="xsd:string" />
          <xsd:element minOccurs="0" name="MobileNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="Nationality" type="xsd:string" />
          <xsd:element minOccurs="0" name="Location" type="xsd:string" />
          <xsd:element minOccurs="0" name="Entrydate" type="xsd:date" />
          <xsd:element minOccurs="0" name="Entryintime" type="xsd:string" />
          <xsd:element minOccurs="0" name="Entryouttime" type="xsd:string" />
          <xsd:element minOccurs="0" name="EmiratesID" type="xsd:string" />
          <xsd:element minOccurs="0" name="EmiratesIDExpirydate" type="xsd:date" />
          <xsd:element minOccurs="0" name="Passport" type="xsd:string" />
          <xsd:element minOccurs="0" name="PassportExpirydate" type="xsd:date" />
          <xsd:element minOccurs="0" name="VisaNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="VisaNumberExpirydate" type="xsd:date" />
          <xsd:element minOccurs="0" name="EmiratesIDCard_attachmentName" type="xsd:string" />
          <xsd:element minOccurs="0" name="EmiratesIDCard_attachmentData" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="EmiratesIDCard_attachmentOrigSize" type="xsd:int" />
          <xsd:element minOccurs="0" name="PassportCard_attachmentName" type="xsd:string" />
          <xsd:element minOccurs="0" name="PassportCard_attachmentData" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="PassportCard_attachmentOrigSize" type="xsd:int" />
          <xsd:element minOccurs="0" name="VisaNumberCard_attachmentName" type="xsd:string" />
          <xsd:element minOccurs="0" name="VisaNumberCard_attachmentData" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="VisaNumberCard_attachmentOrigSize" type="xsd:int" />
          <xsd:element minOccurs="0" name="ApplicatePhoto_attachmentName" type="xsd:string" />
          <xsd:element minOccurs="0" name="ApplicatePhoto_attachmentData" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="ApplicatePhoto_attachmentOrigSize" type="xsd:int" />
          <xsd:element minOccurs="0" name="Entry_In" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Exit_Out" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Comment" type="xsd:string" />
          <xsd:element minOccurs="0" name="CardNo" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ServiceResponse" type="s0:OutputMapping4" />
      <xsd:complexType name="OutputMapping4">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Request_ID__c" type="xsd:string" />
          <xsd:element minOccurs="0" default="$USER$" name="Submitter__c" type="xsd:string" />
          <xsd:element minOccurs="0" name="Create_Date__c" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Assigned_To__c" type="xsd:string" />
          <xsd:element minOccurs="0" name="Last_Modified_By__c" type="xsd:string" />
          <xsd:element minOccurs="0" name="Modified_Date__c" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Status__c" nillable="true" type="s0:Status__cType" />
          <xsd:element minOccurs="0" default="xxx" name="Short_Description__c" type="xsd:string" />
          <xsd:element minOccurs="0" name="Status_History" type="xsd:string" />
          <xsd:element minOccurs="0" name="VisitorEmailid" type="xsd:string" />
          <xsd:element minOccurs="0" name="Visitorname" type="xsd:string" />
          <xsd:element minOccurs="0" name="Projectname" type="xsd:string" />
          <xsd:element minOccurs="0" name="ProjectID" type="xsd:string" />
          <xsd:element minOccurs="0" name="Designation" type="xsd:string" />
          <xsd:element minOccurs="0" name="MobileNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="Nationality" type="xsd:string" />
          <xsd:element minOccurs="0" name="Location" type="xsd:string" />
          <xsd:element minOccurs="0" name="Entrydate" type="xsd:date" />
          <xsd:element minOccurs="0" name="Entryintime" type="xsd:string" />
          <xsd:element minOccurs="0" name="Entryouttime" type="xsd:string" />
          <xsd:element minOccurs="0" name="EmiratesID" type="xsd:string" />
          <xsd:element minOccurs="0" name="EmiratesIDExpirydate" type="xsd:date" />
          <xsd:element minOccurs="0" name="Passport" type="xsd:string" />
          <xsd:element minOccurs="0" name="PassportExpirydate" type="xsd:date" />
          <xsd:element minOccurs="0" name="VisaNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="VisaNumberExpirydate" type="xsd:date" />
          <xsd:element minOccurs="0" name="EmiratesIDCard_attachmentName" type="xsd:string" />
          <xsd:element minOccurs="0" name="EmiratesIDCard_attachmentData" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="EmiratesIDCard_attachmentOrigSize" type="xsd:int" />
          <xsd:element minOccurs="0" name="PassportCard_attachmentName" type="xsd:string" />
          <xsd:element minOccurs="0" name="PassportCard_attachmentData" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="PassportCard_attachmentOrigSize" type="xsd:int" />
          <xsd:element minOccurs="0" name="VisaNumberCard_attachmentName" type="xsd:string" />
          <xsd:element minOccurs="0" name="VisaNumberCard_attachmentData" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="VisaNumberCard_attachmentOrigSize" type="xsd:int" />
          <xsd:element minOccurs="0" name="ApplicatePhoto_attachmentName" type="xsd:string" />
          <xsd:element minOccurs="0" name="ApplicatePhoto_attachmentData" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="ApplicatePhoto_attachmentOrigSize" type="xsd:int" />
          <xsd:element minOccurs="0" name="Entry_In" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Exit_Out" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="Comment" type="xsd:string" />
          <xsd:element minOccurs="0" name="CardNo" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetList" type="s0:InputMapping5" />
      <xsd:complexType name="InputMapping5">
        <xsd:sequence>
          <xsd:element name="InPut" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetListResponse" type="s0:OutputMapping5" />
      <xsd:complexType name="OutputMapping5">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="getListValues">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="Create_Date__c" type="xsd:dateTime" />
                <xsd:element minOccurs="0" name="Modified_Date__c" type="xsd:dateTime" />
                <xsd:element minOccurs="0" name="Status" nillable="true" type="s0:StatusType" />
                <xsd:element minOccurs="0" name="VisitorEmailid" type="xsd:string" />
                <xsd:element minOccurs="0" name="Visitorname" type="xsd:string" />
                <xsd:element minOccurs="0" name="Projectname" type="xsd:string" />
                <xsd:element minOccurs="0" name="ProjectID" type="xsd:string" />
                <xsd:element minOccurs="0" name="Designation" type="xsd:string" />
                <xsd:element minOccurs="0" name="MobileNumber" type="xsd:string" />
                <xsd:element minOccurs="0" name="Nationality" type="xsd:string" />
                <xsd:element minOccurs="0" name="Location" type="xsd:string" />
                <xsd:element minOccurs="0" name="Entrydate" type="xsd:date" />
                <xsd:element minOccurs="0" name="Entryintime" type="xsd:string" />
                <xsd:element minOccurs="0" name="Entryouttime" type="xsd:string" />
                <xsd:element minOccurs="0" name="EmiratesID" type="xsd:string" />
                <xsd:element minOccurs="0" name="EmiratesIDExpirydate" type="xsd:date" />
                <xsd:element minOccurs="0" name="Passport" type="xsd:string" />
                <xsd:element minOccurs="0" name="PassportExpirydate" type="xsd:date" />
                <xsd:element minOccurs="0" name="VisaNumber" type="xsd:string" />
                <xsd:element minOccurs="0" name="VisaNumberExpirydate" type="xsd:date" />
                <xsd:element name="EmiratesIDCard_attachmentName" type="xsd:string" />
                <xsd:element name="EmiratesIDCard_attachmentData" type="xsd:base64Binary" />
                <xsd:element name="EmiratesIDCard_attachmentOrigSize" type="xsd:int" />
                <xsd:element name="PassportCard_attachmentName" type="xsd:string" />
                <xsd:element name="PassportCard_attachmentData" type="xsd:base64Binary" />
                <xsd:element name="PassportCard_attachmentOrigSize" type="xsd:int" />
                <xsd:element minOccurs="0" name="VisaNumberCard_attachmentName" type="xsd:string" />
                <xsd:element minOccurs="0" name="VisaNumberCard_attachmentData" type="xsd:base64Binary" />
                <xsd:element minOccurs="0" name="VisaNumberCard_attachmentOrigSize" type="xsd:int" />
                <xsd:element minOccurs="0" name="ApplicatePhoto_attachmentName" type="xsd:string" />
                <xsd:element minOccurs="0" name="ApplicatePhoto_attachmentData" type="xsd:base64Binary" />
                <xsd:element minOccurs="0" name="ApplicatePhoto_attachmentOrigSize" type="xsd:int" />
                <xsd:element minOccurs="0" name="Entry_In" type="xsd:dateTime" />
                <xsd:element minOccurs="0" name="Exit_Out" type="xsd:dateTime" />
                <xsd:element minOccurs="0" name="CardNo" type="xsd:string" />
                <xsd:element minOccurs="0" name="Comment" type="xsd:string" />
                <xsd:element minOccurs="0" name="WorkOrderID" type="xsd:string" />
                <xsd:element minOccurs="0" name="GatePassID" type="xsd:string" />
                <xsd:element minOccurs="0" name="entryInby" type="xsd:string" />
                <xsd:element minOccurs="0" name="exitOutby" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AuthenticationInfo" type="s0:AuthenticationInfo" />
      <xsd:complexType name="AuthenticationInfo">
        <xsd:sequence>
          <xsd:element name="userName" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
          <xsd:element minOccurs="0" name="authentication" type="xsd:string" />
          <xsd:element minOccurs="0" name="locale" type="xsd:string" />
          <xsd:element minOccurs="0" name="timeZone" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceSoapIn">
    <wsdl:part name="parameters" element="s0:Service" />
  </wsdl:message>
  <wsdl:message name="ARAuthenticate">
    <wsdl:part name="parameters" element="s0:AuthenticationInfo" />
  </wsdl:message>
  <wsdl:message name="CreateReqSoapIn">
    <wsdl:part name="parameters" element="s0:CreateReq" />
  </wsdl:message>
  <wsdl:message name="ServiceSoapOut">
    <wsdl:part name="parameters" element="s0:ServiceResponse" />
  </wsdl:message>
  <wsdl:message name="SearchByIdSoapIn">
    <wsdl:part name="parameters" element="s0:SearchById" />
  </wsdl:message>
  <wsdl:message name="CreateReqSoapOut">
    <wsdl:part name="parameters" element="s0:CreateReqResponse" />
  </wsdl:message>
  <wsdl:message name="SetSoapIn">
    <wsdl:part name="parameters" element="s0:Set" />
  </wsdl:message>
  <wsdl:message name="GetListSoapIn">
    <wsdl:part name="parameters" element="s0:GetList" />
  </wsdl:message>
  <wsdl:message name="GetListSoapOut">
    <wsdl:part name="parameters" element="s0:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="SearchByIdSoapOut">
    <wsdl:part name="parameters" element="s0:SearchByIdResponse" />
  </wsdl:message>
  <wsdl:message name="SetSoapOut">
    <wsdl:part name="parameters" element="s0:SetResponse" />
  </wsdl:message>
  <wsdl:portType name="BMCPortType">
    <wsdl:operation name="CreateReq">
      <wsdl:input message="s0:CreateReqSoapIn" />
      <wsdl:output message="s0:CreateReqSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchById">
      <wsdl:input message="s0:SearchByIdSoapIn" />
      <wsdl:output message="s0:SearchByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Set">
      <wsdl:input message="s0:SetSoapIn" />
      <wsdl:output message="s0:SetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Service">
      <wsdl:input message="s0:ServiceSoapIn" />
      <wsdl:output message="s0:ServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input message="s0:GetListSoapIn" />
      <wsdl:output message="s0:GetListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BMCSoapBinding" type="s0:BMCPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateReq">
      <soap:operation soapAction="urn:_DEW:GatePass:ExternalCreateReq/CreateReq" style="document" />
      <wsdl:input>
        <soap:header message="s0:ARAuthenticate" part="parameters" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchById">
      <soap:operation soapAction="urn:_DEW:GatePass:ExternalCreateReq/SearchById" style="document" />
      <wsdl:input>
        <soap:header message="s0:ARAuthenticate" part="parameters" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set">
      <soap:operation soapAction="urn:_DEW:GatePass:ExternalCreateReq/Set" style="document" />
      <wsdl:input>
        <soap:header message="s0:ARAuthenticate" part="parameters" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Service">
      <soap:operation soapAction="urn:_DEW:GatePass:ExternalCreateReq/Service" style="document" />
      <wsdl:input>
        <soap:header message="s0:ARAuthenticate" part="parameters" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="urn:_DEW:GatePass:ExternalCreateReq/GetList" style="document" />
      <wsdl:input>
        <soap:header message="s0:ARAuthenticate" part="parameters" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="_DEW:GatePass:ExternalCreateReqService">
    <wsdl:port name="BMCSoap" binding="s0:BMCSoapBinding">
      <soap:address location="https://khadamatech-admin-dev.dewa.gov.ae/arsys/services/ARService?server=sdapp-platform-dev&amp;webService=_DEW:GatePass:ExternalCreateReq" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>