Src/Foundation/Integration/Code/Service References/ScholarshipService/wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://ws.portal.dewa.gov.ae/eductionservices/" targetNamespace="http://ws.portal.dewa.gov.ae/eductionservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://ws.portal.dewa.gov.ae/eductionservices/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Exception" type="tns:Exception" />
      <xs:element name="ForgotPasswordScholarship" type="tns:ForgotPasswordScholarship" />
      <xs:element name="ForgotPasswordScholarshipResponse" type="tns:ForgotPasswordScholarshipResponse" />
      <xs:element name="ForgotUserNameScholarship" type="tns:ForgotUserNameScholarship" />
      <xs:element name="ForgotUserNameScholarshipResponse" type="tns:ForgotUserNameScholarshipResponse" />
      <xs:element name="GetScholarshipHelpValues" type="tns:GetScholarshipHelpValues" />
      <xs:element name="GetScholarshipHelpValuesResponse" type="tns:GetScholarshipHelpValuesResponse" />
      <xs:element name="LoginScholarship" type="tns:LoginScholarship" />
      <xs:element name="LoginScholarshipResponse" type="tns:LoginScholarshipResponse" />
      <xs:element name="RegisterScholarship" type="tns:RegisterScholarship" />
      <xs:element name="RegisterScholarshipResponse" type="tns:RegisterScholarshipResponse" />
      <xs:element name="ResetPasswordScholarship" type="tns:ResetPasswordScholarship" />
      <xs:element name="ResetPasswordScholarshipResponse" type="tns:ResetPasswordScholarshipResponse" />
      <xs:element name="UpdateCandidateScholarship" type="tns:UpdateCandidateScholarship" />
      <xs:element name="UpdateCandidateScholarshipResponse" type="tns:UpdateCandidateScholarshipResponse" />
      <xs:complexType name="GetScholarshipHelpValues">
        <xs:sequence>
          <xs:element minOccurs="0" name="emirate" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetScholarshipHelpValuesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:scholarshipHelpValues" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="scholarshipHelpValues">
        <xs:sequence>
          <xs:element name="area">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0"  name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="attachmentType">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0"  name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="country">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0"  name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element name="emirate">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0"  name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="gender">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0"  name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="grade">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0"  name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="level">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0"  name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="major">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0"  name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="program">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0"  name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="responseCode" type="xs:string" />
          <xs:element name="source">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0"  name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="title">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0"  name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="university">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0"  name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LoginScholarship">
        <xs:sequence>
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="credential" type="xs:string" />
          <xs:element minOccurs="0" name="merchantid" type="xs:string" />
          <xs:element minOccurs="0" name="merchantpassword" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LoginScholarshipResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:scholarshipLoginValues" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="scholarshipLoginValues">
        <xs:sequence>
          <xs:element minOccurs="0" name="candidateDetails" type="tns:candidateDetails" />
          <xs:element minOccurs="0" name="credentials" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0"  name="errorList" nillable="true" type="tns:validationError" />
          <xs:element minOccurs="0" name="initPassword" type="xs:string" />
          <xs:element minOccurs="0" name="page" type="xs:string" />
          <xs:element minOccurs="0" name="responseCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="candidateDetails">
        <xs:sequence>
          <xs:element minOccurs="0"  name="attachmentData" nillable="true" type="tns:studentAttachmentData" />
          <xs:element minOccurs="0"  name="educationDataList" nillable="true" type="tns:studentEducationData" />
          <xs:element minOccurs="0" name="studentFormData" type="tns:studentFormData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="studentAttachmentData">
        <xs:sequence>
          <xs:element minOccurs="0" name="data" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="filename" type="xs:string" />
          <xs:element minOccurs="0" name="mimetype" type="xs:string" />
          <xs:element minOccurs="0" name="url" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="studentEducationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="country" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="grade" type="xs:string" />
          <xs:element minOccurs="0" name="institute" type="xs:string" />
          <xs:element minOccurs="0" name="level" type="xs:string" />
          <xs:element minOccurs="0" name="major" type="xs:string" />
          <xs:element minOccurs="0" name="region" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="studentFormData">
        <xs:sequence>
          <xs:element minOccurs="0" name="applicationSource" type="xs:string" />
          <xs:element minOccurs="0" name="area" type="xs:string" />
          <xs:element minOccurs="0" name="birthPlace" type="xs:string" />
          <xs:element minOccurs="0" name="dateOfBirth" type="xs:string" />
          <xs:element minOccurs="0" name="emirate" type="xs:string" />
          <xs:element minOccurs="0" name="emiratesId" type="xs:string" />
          <xs:element minOccurs="0" name="emiratesIdExpiryDate" type="xs:string" />
          <xs:element minOccurs="0" name="familyBookNo" type="xs:string" />
          <xs:element minOccurs="0" name="fathersFirstName" type="xs:string" />
          <xs:element minOccurs="0" name="fathersLastName" type="xs:string" />
          <xs:element minOccurs="0" name="fathersMiddleName" type="xs:string" />
          <xs:element minOccurs="0" name="firstName" type="xs:string" />
          <xs:element minOccurs="0" name="fullName" type="xs:string" />
          <xs:element minOccurs="0" name="gender" type="xs:string" />
          <xs:element minOccurs="0" name="lastName" type="xs:string" />
          <xs:element minOccurs="0" name="major" type="xs:string" />
          <xs:element minOccurs="0" name="medicalCondition" type="xs:string" />
          <xs:element minOccurs="0" name="medicalReason" type="xs:string" />
          <xs:element minOccurs="0" name="middleName" type="xs:string" />
          <xs:element minOccurs="0" name="milatryStatus" type="xs:string" />
          <xs:element minOccurs="0" name="mothersEmail" type="xs:string" />
          <xs:element minOccurs="0" name="mothersFirstName" type="xs:string" />
          <xs:element minOccurs="0" name="mothersLastName" type="xs:string" />
          <xs:element minOccurs="0" name="mothersMiddleName" type="xs:string" />
          <xs:element minOccurs="0" name="mothersMobileNo" type="xs:string" />
          <xs:element minOccurs="0" name="nationality" type="xs:string" />
          <xs:element minOccurs="0" name="otherMajor" type="xs:string" />
          <xs:element minOccurs="0" name="otherUniversity" type="xs:string" />
          <xs:element minOccurs="0" name="parentEmail" type="xs:string" />
          <xs:element minOccurs="0" name="parentMobile" type="xs:string" />
          <xs:element minOccurs="0" name="passportExpiryDate" type="xs:string" />
          <xs:element minOccurs="0" name="passportIssueDate" type="xs:string" />
          <xs:element minOccurs="0" name="passportNumber" type="xs:string" />
          <xs:element minOccurs="0" name="passportPlaceIssue" type="xs:string" />
          <xs:element minOccurs="0" name="poBox" type="xs:string" />
          <xs:element minOccurs="0" name="postalCode" type="xs:string" />
          <xs:element minOccurs="0" name="scholarshipProgram" type="xs:string" />
          <xs:element minOccurs="0" name="street" type="xs:string" />
          <xs:element minOccurs="0" name="studentEmail" type="xs:string" />
          <xs:element minOccurs="0" name="studentMobile" type="xs:string" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element minOccurs="0" name="university" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validationError">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorText" type="xs:string" />
          <xs:element minOccurs="0" name="field" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegisterScholarship">
        <xs:sequence>
          <xs:element minOccurs="0" name="registrationdata" type="tns:registrationData" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="credential" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="registrationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="emailRepeat" type="xs:string" />
          <xs:element minOccurs="0" name="emiratesId" type="xs:string" />
          <xs:element minOccurs="0" name="firstName" type="xs:string" />
          <xs:element minOccurs="0" name="lastName" type="xs:string" />
          <xs:element minOccurs="0" name="middleName" type="xs:string" />
          <xs:element minOccurs="0" name="passportNo" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="passwordRepeat" type="xs:string" />
          <xs:element minOccurs="0" name="program" type="xs:string" />
          <xs:element minOccurs="0" name="registerFlag" type="xs:string" />
          <xs:element minOccurs="0" name="userId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegisterScholarshipResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:registerScholarshipResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="registerScholarshipResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0"  name="errorList" nillable="true" type="tns:validationError" />
          <xs:element minOccurs="0" name="responseCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ForgotPasswordScholarship">
        <xs:sequence>
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="credential" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ForgotPasswordScholarshipResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:forgotPasswordResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="forgotPasswordResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0"  name="errorList" nillable="true" type="tns:validationError" />
          <xs:element minOccurs="0" name="responseCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ForgotUserNameScholarship">
        <xs:sequence>
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="credential" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ForgotUserNameScholarshipResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:forgotUserNameResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="forgotUserNameResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0"  name="errorList" nillable="true" type="tns:validationError" />
          <xs:element minOccurs="0" name="responseCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResetPasswordScholarship">
        <xs:sequence>
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" name="currentpassword" type="xs:string" />
          <xs:element minOccurs="0" name="newpassword" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="credential" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResetPasswordScholarshipResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:resetPasswordResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="resetPasswordResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="candidateDetails" type="tns:candidateDetails" />
          <xs:element minOccurs="0" name="credentials" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0"  name="errorList" nillable="true" type="tns:validationError" />
          <xs:element minOccurs="0" name="initPassword" type="xs:string" />
          <xs:element minOccurs="0" name="page" type="xs:string" />
          <xs:element minOccurs="0" name="responseCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UpdateCandidateScholarship">
        <xs:sequence>
          <xs:element minOccurs="0" name="candidatedetails" type="tns:candidateDetails" />
          <xs:element minOccurs="0" name="page" type="xs:string" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" name="vendorid" type="xs:string" />
          <xs:element minOccurs="0" name="credential" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UpdateCandidateScholarshipResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:updateScholarshipResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateScholarshipResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="candidateDetails" type="tns:candidateDetails" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0"  name="errorList" nillable="true" type="tns:validationError" />
          <xs:element minOccurs="0" name="responseCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetScholarshipHelpValuesIn">
    <wsdl:part name="parameters" element="tns:GetScholarshipHelpValues" />
  </wsdl:message>
  <wsdl:message name="GetScholarshipHelpValuesOut">
    <wsdl:part name="GetScholarshipHelpValuesResponse" element="tns:GetScholarshipHelpValuesResponse" />
  </wsdl:message>
  <wsdl:message name="GetScholarshipHelpValuesFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="LoginScholarshipIn">
    <wsdl:part name="parameters" element="tns:LoginScholarship" />
  </wsdl:message>
  <wsdl:message name="LoginScholarshipOut">
    <wsdl:part name="LoginScholarshipResponse" element="tns:LoginScholarshipResponse" />
  </wsdl:message>
  <wsdl:message name="LoginScholarshipFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="RegisterScholarshipIn">
    <wsdl:part name="parameters" element="tns:RegisterScholarship" />
  </wsdl:message>
  <wsdl:message name="RegisterScholarshipOut">
    <wsdl:part name="RegisterScholarshipResponse" element="tns:RegisterScholarshipResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterScholarshipFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="ForgotPasswordScholarshipIn">
    <wsdl:part name="parameters" element="tns:ForgotPasswordScholarship" />
  </wsdl:message>
  <wsdl:message name="ForgotPasswordScholarshipOut">
    <wsdl:part name="ForgotPasswordScholarshipResponse" element="tns:ForgotPasswordScholarshipResponse" />
  </wsdl:message>
  <wsdl:message name="ForgotPasswordScholarshipFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="ForgotUserNameScholarshipIn">
    <wsdl:part name="parameters" element="tns:ForgotUserNameScholarship" />
  </wsdl:message>
  <wsdl:message name="ForgotUserNameScholarshipOut">
    <wsdl:part name="ForgotUserNameScholarshipResponse" element="tns:ForgotUserNameScholarshipResponse" />
  </wsdl:message>
  <wsdl:message name="ForgotUserNameScholarshipFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordScholarshipIn">
    <wsdl:part name="parameters" element="tns:ResetPasswordScholarship" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordScholarshipOut">
    <wsdl:part name="ResetPasswordScholarshipResponse" element="tns:ResetPasswordScholarshipResponse" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordScholarshipFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="UpdateCandidateScholarshipIn">
    <wsdl:part name="parameters" element="tns:UpdateCandidateScholarship" />
  </wsdl:message>
  <wsdl:message name="UpdateCandidateScholarshipOut">
    <wsdl:part name="UpdateCandidateScholarshipResponse" element="tns:UpdateCandidateScholarshipResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCandidateScholarshipFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:portType name="HCMV1">
    <wsdl:operation name="GetScholarshipHelpValues" parameterOrder="parameters">
      <wsdl:input message="tns:GetScholarshipHelpValuesIn" />
      <wsdl:output message="tns:GetScholarshipHelpValuesOut" />
      <wsdl:fault name="Exception" message="tns:GetScholarshipHelpValuesFault" />
    </wsdl:operation>
    <wsdl:operation name="LoginScholarship" parameterOrder="parameters">
      <wsdl:input message="tns:LoginScholarshipIn" />
      <wsdl:output message="tns:LoginScholarshipOut" />
      <wsdl:fault name="Exception" message="tns:LoginScholarshipFault" />
    </wsdl:operation>
    <wsdl:operation name="RegisterScholarship" parameterOrder="parameters">
      <wsdl:input message="tns:RegisterScholarshipIn" />
      <wsdl:output message="tns:RegisterScholarshipOut" />
      <wsdl:fault name="Exception" message="tns:RegisterScholarshipFault" />
    </wsdl:operation>
    <wsdl:operation name="ForgotPasswordScholarship" parameterOrder="parameters">
      <wsdl:input message="tns:ForgotPasswordScholarshipIn" />
      <wsdl:output message="tns:ForgotPasswordScholarshipOut" />
      <wsdl:fault name="Exception" message="tns:ForgotPasswordScholarshipFault" />
    </wsdl:operation>
    <wsdl:operation name="ForgotUserNameScholarship" parameterOrder="parameters">
      <wsdl:input message="tns:ForgotUserNameScholarshipIn" />
      <wsdl:output message="tns:ForgotUserNameScholarshipOut" />
      <wsdl:fault name="Exception" message="tns:ForgotUserNameScholarshipFault" />
    </wsdl:operation>
    <wsdl:operation name="ResetPasswordScholarship" parameterOrder="parameters">
      <wsdl:input message="tns:ResetPasswordScholarshipIn" />
      <wsdl:output message="tns:ResetPasswordScholarshipOut" />
      <wsdl:fault name="Exception" message="tns:ResetPasswordScholarshipFault" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCandidateScholarship" parameterOrder="parameters">
      <wsdl:input message="tns:UpdateCandidateScholarshipIn" />
      <wsdl:output message="tns:UpdateCandidateScholarshipOut" />
      <wsdl:fault name="Exception" message="tns:UpdateCandidateScholarshipFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="HCMV1Binding" type="tns:HCMV1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScholarshipHelpValues">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LoginScholarship">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RegisterScholarship">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ForgotPasswordScholarship">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ForgotUserNameScholarship">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ResetPasswordScholarship">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCandidateScholarship">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EducationServices">
    <wsdl:port name="HRService" binding="tns:HCMV1Binding">
      <address location="https://api.qa.dewa.gov.ae/hcm/v1/education/scholarship" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>