Src/Foundation/Integration/Code/Web References/EmailWS/Email_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Send_Mail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBody" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_MailResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Send_MailSoapIn">
    <wsdl:part name="parameters" element="tns:Send_Mail" />
  </wsdl:message>
  <wsdl:message name="Send_MailSoapOut">
    <wsdl:part name="parameters" element="tns:Send_MailResponse" />
  </wsdl:message>
  <wsdl:portType name="Email_ServiceSoap">
    <wsdl:operation name="Send_Mail">
      <wsdl:input message="tns:Send_MailSoapIn" />
      <wsdl:output message="tns:Send_MailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Email_ServiceSoap" type="tns:Email_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Send_Mail">
      <soap:operation soapAction="http://tempuri.org/Send_Mail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Email_ServiceSoap12" type="tns:Email_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Send_Mail">
      <soap12:operation soapAction="http://tempuri.org/Send_Mail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Email_Service">
    <wsdl:port name="Email_ServiceSoap" binding="tns:Email_ServiceSoap">
      <soap:address location="http://dewawebservices.dewa.gov.ae:7550/Email_Service/Email_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Email_ServiceSoap12" binding="tns:Email_ServiceSoap12">
      <soap12:address location="http://dewawebservices.dewa.gov.ae:7550/Email_Service/Email_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>