Src/Foundation/Integration/Code/Service References/QmsCustSvc/QmsCust1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://webservice.gms.com.my" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://webservice.gms.com.my" targetNamespace="http://webservice.gms.com.my" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://webservice.gms.com.my">
      <xsd:element name="wsGetCurrentTicket">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetCurrentTicketReq" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsGetCurrentTicketResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetCurrentTicketReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsGetApptFreeSlotList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetApptFreeSlotListReq" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsGetApptFreeSlotListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetApptFreeSlotListReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsIssueTicket">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsIssueTicketReq" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsIssueTicketResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsIssueTicketReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsCancelTicket">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsCancelTicketReq" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsCancelTicketResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsCancelTicketReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsMakeAppt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsMakeApptReq" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsMakeApptResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsMakeApptReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsRegisterCust">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsRegisterCustReq" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsRegisterCustResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsRegisterCustReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsChangeAppt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsChangeApptReq" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsChangeApptResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsChangeApptReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsCancelAppt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsCancelApptReq" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsCancelApptResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsCancelApptReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsGetApptList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetApptListReq" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsGetApptListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetApptListReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsGetUserPhoto">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetUserPhotoReq" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsGetUserPhotoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetUserPhotoReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsDecryptQmsInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsDecryptQmsInfoReq" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsDecryptQmsInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsDecryptQmsInfoReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsQosBySession">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsQosBySessionReq" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsQosBySessionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsQosBySessionReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsUpdateCust">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsUpdateCustReq" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsUpdateCustResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsUpdateCustReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsGetApptTotalFreeSlotByDayList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetApptTotalFreeSlotByDayListReq" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsGetApptTotalFreeSlotByDayListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetApptTotalFreeSlotByDayListReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="wsCancelTicketRequest">
    <wsdl:part name="parameters" element="impl:wsCancelTicket" />
  </wsdl:message>
  <wsdl:message name="wsIssueTicketRequest">
    <wsdl:part name="parameters" element="impl:wsIssueTicket" />
  </wsdl:message>
  <wsdl:message name="wsMakeApptRequest">
    <wsdl:part name="parameters" element="impl:wsMakeAppt" />
  </wsdl:message>
  <wsdl:message name="wsGetApptTotalFreeSlotByDayListResponse">
    <wsdl:part name="parameters" element="impl:wsGetApptTotalFreeSlotByDayListResponse" />
  </wsdl:message>
  <wsdl:message name="wsQosBySessionRequest">
    <wsdl:part name="parameters" element="impl:wsQosBySession" />
  </wsdl:message>
  <wsdl:message name="wsGetApptListRequest">
    <wsdl:part name="parameters" element="impl:wsGetApptList" />
  </wsdl:message>
  <wsdl:message name="wsRegisterCustResponse">
    <wsdl:part name="parameters" element="impl:wsRegisterCustResponse" />
  </wsdl:message>
  <wsdl:message name="wsCancelApptRequest">
    <wsdl:part name="parameters" element="impl:wsCancelAppt" />
  </wsdl:message>
  <wsdl:message name="wsGetCurrentTicketResponse">
    <wsdl:part name="parameters" element="impl:wsGetCurrentTicketResponse" />
  </wsdl:message>
  <wsdl:message name="wsGetCurrentTicketRequest">
    <wsdl:part name="parameters" element="impl:wsGetCurrentTicket" />
  </wsdl:message>
  <wsdl:message name="wsCancelApptResponse">
    <wsdl:part name="parameters" element="impl:wsCancelApptResponse" />
  </wsdl:message>
  <wsdl:message name="wsGetApptFreeSlotListRequest">
    <wsdl:part name="parameters" element="impl:wsGetApptFreeSlotList" />
  </wsdl:message>
  <wsdl:message name="wsUpdateCustRequest">
    <wsdl:part name="parameters" element="impl:wsUpdateCust" />
  </wsdl:message>
  <wsdl:message name="wsChangeApptResponse">
    <wsdl:part name="parameters" element="impl:wsChangeApptResponse" />
  </wsdl:message>
  <wsdl:message name="wsGetUserPhotoResponse">
    <wsdl:part name="parameters" element="impl:wsGetUserPhotoResponse" />
  </wsdl:message>
  <wsdl:message name="wsRegisterCustRequest">
    <wsdl:part name="parameters" element="impl:wsRegisterCust" />
  </wsdl:message>
  <wsdl:message name="wsGetApptListResponse">
    <wsdl:part name="parameters" element="impl:wsGetApptListResponse" />
  </wsdl:message>
  <wsdl:message name="wsDecryptQmsInfoRequest">
    <wsdl:part name="parameters" element="impl:wsDecryptQmsInfo" />
  </wsdl:message>
  <wsdl:message name="wsCancelTicketResponse">
    <wsdl:part name="parameters" element="impl:wsCancelTicketResponse" />
  </wsdl:message>
  <wsdl:message name="wsQosBySessionResponse">
    <wsdl:part name="parameters" element="impl:wsQosBySessionResponse" />
  </wsdl:message>
  <wsdl:message name="wsDecryptQmsInfoResponse">
    <wsdl:part name="parameters" element="impl:wsDecryptQmsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="wsMakeApptResponse">
    <wsdl:part name="parameters" element="impl:wsMakeApptResponse" />
  </wsdl:message>
  <wsdl:message name="wsIssueTicketResponse">
    <wsdl:part name="parameters" element="impl:wsIssueTicketResponse" />
  </wsdl:message>
  <wsdl:message name="wsGetUserPhotoRequest">
    <wsdl:part name="parameters" element="impl:wsGetUserPhoto" />
  </wsdl:message>
  <wsdl:message name="wsGetApptTotalFreeSlotByDayListRequest">
    <wsdl:part name="parameters" element="impl:wsGetApptTotalFreeSlotByDayList" />
  </wsdl:message>
  <wsdl:message name="wsUpdateCustResponse">
    <wsdl:part name="parameters" element="impl:wsUpdateCustResponse" />
  </wsdl:message>
  <wsdl:message name="wsGetApptFreeSlotListResponse">
    <wsdl:part name="parameters" element="impl:wsGetApptFreeSlotListResponse" />
  </wsdl:message>
  <wsdl:message name="wsChangeApptRequest">
    <wsdl:part name="parameters" element="impl:wsChangeAppt" />
  </wsdl:message>
  <wsdl:portType name="QmsCust">
    <wsdl:operation name="wsGetCurrentTicket">
      <wsdl:input name="wsGetCurrentTicketRequest" message="impl:wsGetCurrentTicketRequest" />
      <wsdl:output name="wsGetCurrentTicketResponse" message="impl:wsGetCurrentTicketResponse" />
    </wsdl:operation>
    <wsdl:operation name="wsGetApptFreeSlotList">
      <wsdl:input name="wsGetApptFreeSlotListRequest" message="impl:wsGetApptFreeSlotListRequest" />
      <wsdl:output name="wsGetApptFreeSlotListResponse" message="impl:wsGetApptFreeSlotListResponse" />
    </wsdl:operation>
    <wsdl:operation name="wsIssueTicket">
      <wsdl:input name="wsIssueTicketRequest" message="impl:wsIssueTicketRequest" />
      <wsdl:output name="wsIssueTicketResponse" message="impl:wsIssueTicketResponse" />
    </wsdl:operation>
    <wsdl:operation name="wsCancelTicket">
      <wsdl:input name="wsCancelTicketRequest" message="impl:wsCancelTicketRequest" />
      <wsdl:output name="wsCancelTicketResponse" message="impl:wsCancelTicketResponse" />
    </wsdl:operation>
    <wsdl:operation name="wsMakeAppt">
      <wsdl:input name="wsMakeApptRequest" message="impl:wsMakeApptRequest" />
      <wsdl:output name="wsMakeApptResponse" message="impl:wsMakeApptResponse" />
    </wsdl:operation>
    <wsdl:operation name="wsRegisterCust">
      <wsdl:input name="wsRegisterCustRequest" message="impl:wsRegisterCustRequest" />
      <wsdl:output name="wsRegisterCustResponse" message="impl:wsRegisterCustResponse" />
    </wsdl:operation>
    <wsdl:operation name="wsChangeAppt">
      <wsdl:input name="wsChangeApptRequest" message="impl:wsChangeApptRequest" />
      <wsdl:output name="wsChangeApptResponse" message="impl:wsChangeApptResponse" />
    </wsdl:operation>
    <wsdl:operation name="wsCancelAppt">
      <wsdl:input name="wsCancelApptRequest" message="impl:wsCancelApptRequest" />
      <wsdl:output name="wsCancelApptResponse" message="impl:wsCancelApptResponse" />
    </wsdl:operation>
    <wsdl:operation name="wsGetApptList">
      <wsdl:input name="wsGetApptListRequest" message="impl:wsGetApptListRequest" />
      <wsdl:output name="wsGetApptListResponse" message="impl:wsGetApptListResponse" />
    </wsdl:operation>
    <wsdl:operation name="wsGetUserPhoto">
      <wsdl:input name="wsGetUserPhotoRequest" message="impl:wsGetUserPhotoRequest" />
      <wsdl:output name="wsGetUserPhotoResponse" message="impl:wsGetUserPhotoResponse" />
    </wsdl:operation>
    <wsdl:operation name="wsDecryptQmsInfo">
      <wsdl:input name="wsDecryptQmsInfoRequest" message="impl:wsDecryptQmsInfoRequest" />
      <wsdl:output name="wsDecryptQmsInfoResponse" message="impl:wsDecryptQmsInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="wsQosBySession">
      <wsdl:input name="wsQosBySessionRequest" message="impl:wsQosBySessionRequest" />
      <wsdl:output name="wsQosBySessionResponse" message="impl:wsQosBySessionResponse" />
    </wsdl:operation>
    <wsdl:operation name="wsUpdateCust">
      <wsdl:input name="wsUpdateCustRequest" message="impl:wsUpdateCustRequest" />
      <wsdl:output name="wsUpdateCustResponse" message="impl:wsUpdateCustResponse" />
    </wsdl:operation>
    <wsdl:operation name="wsGetApptTotalFreeSlotByDayList">
      <wsdl:input name="wsGetApptTotalFreeSlotByDayListRequest" message="impl:wsGetApptTotalFreeSlotByDayListRequest" />
      <wsdl:output name="wsGetApptTotalFreeSlotByDayListResponse" message="impl:wsGetApptTotalFreeSlotByDayListResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QmsCustSoapBinding" type="impl:QmsCust">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsGetCurrentTicket">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="wsGetCurrentTicketRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsGetCurrentTicketResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsGetApptFreeSlotList">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="wsGetApptFreeSlotListRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsGetApptFreeSlotListResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsIssueTicket">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="wsIssueTicketRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsIssueTicketResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsCancelTicket">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="wsCancelTicketRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsCancelTicketResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsMakeAppt">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="wsMakeApptRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsMakeApptResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsRegisterCust">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="wsRegisterCustRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsRegisterCustResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsChangeAppt">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="wsChangeApptRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsChangeApptResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsCancelAppt">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="wsCancelApptRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsCancelApptResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsGetApptList">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="wsGetApptListRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsGetApptListResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsGetUserPhoto">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="wsGetUserPhotoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsGetUserPhotoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsDecryptQmsInfo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="wsDecryptQmsInfoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsDecryptQmsInfoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsQosBySession">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="wsQosBySessionRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsQosBySessionResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsUpdateCust">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="wsUpdateCustRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsUpdateCustResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsGetApptTotalFreeSlotByDayList">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="wsGetApptTotalFreeSlotByDayListRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsGetApptTotalFreeSlotByDayListResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QmsCustService">
    <wsdl:port name="QmsCust" binding="impl:QmsCustSoapBinding">
      <wsdlsoap:address location="https://dewaserv6370.dewa.gov.ae/CorporateQMS/services/QmsCust" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>