Src/Foundation/Integration/Code/Service References/QmsConfigSvc/QmsConfig1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://webservice.gms.com.my" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://webservice.gms.com.my" targetNamespace="http://webservice.gms.com.my" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://webservice.gms.com.my">
      <xsd:element name="wsGetBranchList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetBranchListReq" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsGetBranchListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetBranchListReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsGetServiceTimeSlotList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetServiceTimeSlotListReq" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsGetServiceTimeSlotListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="wsGetServiceTimeSlotListReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="wsGetServiceTimeSlotListRequest">
    <wsdl:part name="parameters" element="impl:wsGetServiceTimeSlotList" />
  </wsdl:message>
  <wsdl:message name="wsGetBranchListRequest">
    <wsdl:part name="parameters" element="impl:wsGetBranchList" />
  </wsdl:message>
  <wsdl:message name="wsGetBranchListResponse">
    <wsdl:part name="parameters" element="impl:wsGetBranchListResponse" />
  </wsdl:message>
  <wsdl:message name="wsGetServiceTimeSlotListResponse">
    <wsdl:part name="parameters" element="impl:wsGetServiceTimeSlotListResponse" />
  </wsdl:message>
  <wsdl:portType name="QmsConfig">
    <wsdl:operation name="wsGetBranchList">
      <wsdl:input name="wsGetBranchListRequest" message="impl:wsGetBranchListRequest" />
      <wsdl:output name="wsGetBranchListResponse" message="impl:wsGetBranchListResponse" />
    </wsdl:operation>
    <wsdl:operation name="wsGetServiceTimeSlotList">
      <wsdl:input name="wsGetServiceTimeSlotListRequest" message="impl:wsGetServiceTimeSlotListRequest" />
      <wsdl:output name="wsGetServiceTimeSlotListResponse" message="impl:wsGetServiceTimeSlotListResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QmsConfigSoapBinding" type="impl:QmsConfig">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsGetBranchList">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="wsGetBranchListRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsGetBranchListResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsGetServiceTimeSlotList">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="wsGetServiceTimeSlotListRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="wsGetServiceTimeSlotListResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QmsConfigService">
    <wsdl:port name="QmsConfig" binding="impl:QmsConfigSoapBinding">
      <wsdlsoap:address location="https://dewaserv6370.dewa.gov.ae/CorporateQMS/services/QmsConfig" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>