Src/Foundation/Integration/Code/Service References/VerificationcodeSvc/QRCode.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://dewa.gov.ae/hr/qrcode/" targetNamespace="http://dewa.gov.ae/hr/qrcode/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://dewa.gov.ae/hr/qrcode/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Exception" type="tns:Exception" />
      <xs:element name="getQRCodeVerified" type="tns:getQRCodeVerified" />
      <xs:element name="getQRCodeVerifiedResponse" type="tns:getQRCodeVerifiedResponse" />
      <xs:complexType name="getQRCodeVerified">
        <xs:sequence>
          <xs:element minOccurs="0" name="qrparams" type="tns:qrParams" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="qrParams">
        <xs:sequence>
          <xs:element minOccurs="0" name="certificatetype" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
          <xs:element minOccurs="0" name="pinnumber" type="xs:string" />
          <xs:element minOccurs="0" name="referencenumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getQRCodeVerifiedResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:qrDetails" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="qrDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="employeedata" type="tns:employeeData" />
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="logmessagenumber" type="xs:string" />
          <xs:element minOccurs="0" name="lognumber" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="message1" type="xs:string" />
          <xs:element minOccurs="0" name="message2" type="xs:string" />
          <xs:element minOccurs="0" name="message3" type="xs:string" />
          <xs:element minOccurs="0" name="message4" type="xs:string" />
          <xs:element minOccurs="0" name="number" type="xs:string" />
          <xs:element minOccurs="0" name="responsecode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="employeeData">
        <xs:sequence>
          <xs:element minOccurs="0"  name="records" nillable="true" type="tns:records" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="records">
        <xs:sequence>
          <xs:element minOccurs="0" name="label" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getQRCodeVerifiedIn">
    <wsdl:part name="parameters" element="tns:getQRCodeVerified" />
  </wsdl:message>
  <wsdl:message name="getQRCodeVerifiedOut">
    <wsdl:part name="getQRCodeVerifiedResponse" element="tns:getQRCodeVerifiedResponse" />
  </wsdl:message>
  <wsdl:message name="getQRCodeVerifiedFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:portType name="QRCode">
    <wsdl:operation name="getQRCodeVerified" parameterOrder="parameters">
      <wsdl:input message="tns:getQRCodeVerifiedIn" />
      <wsdl:output message="tns:getQRCodeVerifiedOut" />
      <wsdl:fault name="Exception" message="tns:getQRCodeVerifiedFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="QRCodeBinding" type="tns:QRCode">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getQRCodeVerified">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QRCodeService">
    <wsdl:port name="QRCodeBeanPort" binding="tns:QRCodeBinding">
      <address location="https://api.qa.dewa.gov.ae/hr/employeeservice/qrcode/qrcodeverified" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>