Src/Foundation/Integration/Code/Service References/HappinessSvc/Config.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://ws.myportal.dewa.gov.ae/employee/happiness/" targetNamespace="http://ws.myportal.dewa.gov.ae/employee/happiness/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://ws.myportal.dewa.gov.ae/employee/happiness/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Exception" type="tns:Exception" />
      <xs:element name="GetCustHappinessSurveyQuestions" type="tns:GetCustHappinessSurveyQuestions" />
      <xs:element name="GetCustHappinessSurveyQuestionsResponse" type="tns:GetCustHappinessSurveyQuestionsResponse" />
      <xs:element name="GetDeviceDetails" type="tns:GetDeviceDetails" />
      <xs:element name="GetDeviceDetailsResponse" type="tns:GetDeviceDetailsResponse" />
      <xs:element name="SetCustHappinessSurveyAnswers" type="tns:SetCustHappinessSurveyAnswers" />
      <xs:element name="SetCustHappinessSurveyAnswersResponse" type="tns:SetCustHappinessSurveyAnswersResponse" />
      <xs:element name="SetCustomerHappinessSurvey" type="tns:SetCustomerHappinessSurvey" />
      <xs:element name="SetCustomerHappinessSurveyResponse" type="tns:SetCustomerHappinessSurveyResponse" />
      <xs:element name="SetDeviceRegister" type="tns:SetDeviceRegister" />
      <xs:element name="SetDeviceRegisterResponse" type="tns:SetDeviceRegisterResponse" />
      <xs:element name="SetEmployeeHappinessVote" type="tns:SetEmployeeHappinessVote" />
      <xs:element name="SetEmployeeHappinessVoteResponse" type="tns:SetEmployeeHappinessVoteResponse" />
      <xs:element name="SetHappinessVoteDevice" type="tns:SetHappinessVoteDevice" />
      <xs:element name="SetHappinessVoteDeviceResponse" type="tns:SetHappinessVoteDeviceResponse" />
      <xs:complexType name="SetEmployeeHappinessVote">
        <xs:sequence>
          <xs:element minOccurs="0" name="idnumber" type="xs:string" />
          <xs:element minOccurs="0" name="vote" type="xs:string" />
          <xs:element minOccurs="0" name="remarks" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetEmployeeHappinessVoteResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetDeviceDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="deviceid" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetDeviceDetailsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:getDeviceDetails" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getDeviceDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0"  name="deviceList" nillable="true" type="tns:deviceDetails" />
          <xs:element minOccurs="0" name="responseCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deviceDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="deviceAssetNumber" type="xs:string" />
          <xs:element minOccurs="0" name="deviceFloor" type="xs:string" />
          <xs:element minOccurs="0" name="deviceID" type="xs:string" />
          <xs:element minOccurs="0" name="deviceLocation" type="xs:string" />
          <xs:element minOccurs="0" name="deviceType" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="flag" type="xs:string" />
          <xs:element minOccurs="0" name="office" type="xs:string" />
          <xs:element minOccurs="0" name="officeName" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetDeviceRegister">
        <xs:sequence>
          <xs:element minOccurs="0" name="deviceid" type="xs:string" />
          <xs:element minOccurs="0" name="office" type="xs:string" />
          <xs:element minOccurs="0" name="startdate" type="xs:string" />
          <xs:element minOccurs="0" name="enddate" type="xs:string" />
          <xs:element minOccurs="0" name="officename" type="xs:string" />
          <xs:element minOccurs="0" name="devicetype" type="xs:string" />
          <xs:element minOccurs="0" name="devicelocation" type="xs:string" />
          <xs:element minOccurs="0" name="devicefloor" type="xs:string" />
          <xs:element minOccurs="0" name="deviceassetnumber" type="xs:string" />
          <xs:element minOccurs="0" name="flag" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetDeviceRegisterResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:setDeviceRegister" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setDeviceRegister">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="responseCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetHappinessVoteDevice">
        <xs:sequence>
          <xs:element minOccurs="0" name="deviceid" type="xs:string" />
          <xs:element minOccurs="0" name="vote" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetHappinessVoteDeviceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:setHappinessVoteDevice" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setHappinessVoteDevice">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="responseCode" type="xs:string" />
          <xs:element minOccurs="0" name="UIMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetCustomerHappinessSurvey">
        <xs:sequence>
          <xs:element minOccurs="0" name="Customerhappysurvey" type="tns:customerHappinessBean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="customerHappinessBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="choice" type="xs:string" />
          <xs:element minOccurs="0" name="mobile" type="xs:string" />
          <xs:element minOccurs="0" name="service" type="xs:string" />
          <xs:element minOccurs="0"  name="unhappy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="counternumber" type="xs:string" />
          <xs:element minOccurs="0" name="servicecenter" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetCustomerHappinessSurveyResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:customerHappystatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="customerHappystatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="responsecode" type="xs:string" />
          <xs:element minOccurs="0" name="UIMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetCustHappinessSurveyQuestions">
        <xs:sequence>
          <xs:element minOccurs="0" name="survey" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetCustHappinessSurveyQuestionsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetCustHappinessSurveyAnswers">
        <xs:sequence>
          <xs:element minOccurs="0" name="survey" type="xs:string" />
          <xs:element minOccurs="0" name="referenceNumber" type="xs:string" />
          <xs:element minOccurs="0" name="customerSurveyAnswers" type="tns:answerList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="answerList">
        <xs:sequence>
          <xs:element minOccurs="0"  name="answer" nillable="true" type="tns:surveyAnswer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="surveyAnswer">
        <xs:sequence>
          <xs:element minOccurs="0" name="answerNumber" type="xs:string" />
          <xs:element minOccurs="0" name="arabic" type="xs:string" />
          <xs:element minOccurs="0" name="english" type="xs:string" />
          <xs:element minOccurs="0" name="questionNumber" type="xs:string" />
          <xs:element minOccurs="0" name="survey" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetCustHappinessSurveyAnswersResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="SetEmployeeHappinessVoteIn">
    <wsdl:part name="parameters" element="tns:SetEmployeeHappinessVote" />
  </wsdl:message>
  <wsdl:message name="SetEmployeeHappinessVoteOut">
    <wsdl:part name="SetEmployeeHappinessVoteResponse" element="tns:SetEmployeeHappinessVoteResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeviceDetailsIn">
    <wsdl:part name="parameters" element="tns:GetDeviceDetails" />
  </wsdl:message>
  <wsdl:message name="GetDeviceDetailsOut">
    <wsdl:part name="GetDeviceDetailsResponse" element="tns:GetDeviceDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="SetDeviceRegisterIn">
    <wsdl:part name="parameters" element="tns:SetDeviceRegister" />
  </wsdl:message>
  <wsdl:message name="SetDeviceRegisterOut">
    <wsdl:part name="SetDeviceRegisterResponse" element="tns:SetDeviceRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="SetHappinessVoteDeviceIn">
    <wsdl:part name="parameters" element="tns:SetHappinessVoteDevice" />
  </wsdl:message>
  <wsdl:message name="SetHappinessVoteDeviceOut">
    <wsdl:part name="SetHappinessVoteDeviceResponse" element="tns:SetHappinessVoteDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="SetCustomerHappinessSurveyIn">
    <wsdl:part name="parameters" element="tns:SetCustomerHappinessSurvey" />
  </wsdl:message>
  <wsdl:message name="SetCustomerHappinessSurveyOut">
    <wsdl:part name="SetCustomerHappinessSurveyResponse" element="tns:SetCustomerHappinessSurveyResponse" />
  </wsdl:message>
  <wsdl:message name="SetCustomerHappinessSurveyFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="GetCustHappinessSurveyQuestionsIn">
    <wsdl:part name="parameters" element="tns:GetCustHappinessSurveyQuestions" />
  </wsdl:message>
  <wsdl:message name="GetCustHappinessSurveyQuestionsOut">
    <wsdl:part name="GetCustHappinessSurveyQuestionsResponse" element="tns:GetCustHappinessSurveyQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="SetCustHappinessSurveyAnswersIn">
    <wsdl:part name="parameters" element="tns:SetCustHappinessSurveyAnswers" />
  </wsdl:message>
  <wsdl:message name="SetCustHappinessSurveyAnswersOut">
    <wsdl:part name="SetCustHappinessSurveyAnswersResponse" element="tns:SetCustHappinessSurveyAnswersResponse" />
  </wsdl:message>
  <wsdl:portType name="Config">
    <wsdl:operation name="SetEmployeeHappinessVote" parameterOrder="parameters">
      <wsdl:input message="tns:SetEmployeeHappinessVoteIn" />
      <wsdl:output message="tns:SetEmployeeHappinessVoteOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceDetails" parameterOrder="parameters">
      <wsdl:input message="tns:GetDeviceDetailsIn" />
      <wsdl:output message="tns:GetDeviceDetailsOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDeviceRegister" parameterOrder="parameters">
      <wsdl:input message="tns:SetDeviceRegisterIn" />
      <wsdl:output message="tns:SetDeviceRegisterOut" />
    </wsdl:operation>
    <wsdl:operation name="SetHappinessVoteDevice" parameterOrder="parameters">
      <wsdl:input message="tns:SetHappinessVoteDeviceIn" />
      <wsdl:output message="tns:SetHappinessVoteDeviceOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCustomerHappinessSurvey" parameterOrder="parameters">
      <wsdl:input message="tns:SetCustomerHappinessSurveyIn" />
      <wsdl:output message="tns:SetCustomerHappinessSurveyOut" />
      <wsdl:fault name="Exception" message="tns:SetCustomerHappinessSurveyFault" />
    </wsdl:operation>
    <wsdl:operation name="GetCustHappinessSurveyQuestions" parameterOrder="parameters">
      <wsdl:input message="tns:GetCustHappinessSurveyQuestionsIn" />
      <wsdl:output message="tns:GetCustHappinessSurveyQuestionsOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCustHappinessSurveyAnswers" parameterOrder="parameters">
      <wsdl:input message="tns:SetCustHappinessSurveyAnswersIn" />
      <wsdl:output message="tns:SetCustHappinessSurveyAnswersOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ConfigBinding" type="tns:Config">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetEmployeeHappinessVote">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceDetails">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDeviceRegister">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetHappinessVoteDevice">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCustomerHappinessSurvey">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustHappinessSurveyQuestions">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCustHappinessSurveyAnswers">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeHappiness">
    <wsdl:port name="EmployeeHappinessPort" binding="tns:ConfigBinding">
      <address location="http://vddmp:50000/EmployeeHappiness/Config" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>