Src/Foundation/Integration/Code/Service References/InternshipSvc/wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://ws.portal.dewa.gov.ae/eductionservices/" targetNamespace="http://ws.portal.dewa.gov.ae/eductionservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://ws.portal.dewa.gov.ae/eductionservices/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Exception" type="tns:Exception" />
      <xs:element name="GetValidateInternLogin" type="tns:GetValidateInternLogin" />
      <xs:element name="GetValidateInternLoginResponse" type="tns:GetValidateInternLoginResponse" />
      <xs:element name="SetInternshipRegistration" type="tns:SetInternshipRegistration" />
      <xs:element name="SetInternshipRegistrationResponse" type="tns:SetInternshipRegistrationResponse" />
      <xs:element name="GetInternshipHelpValues" type="tns:GetInternshipHelpValues" />
      <xs:element name="GetInternshipHelpValuesResponse" type="tns:GetInternshipHelpValuesResponse" />
      <xs:complexType name="GetValidateInternLogin">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="ipaddress" type="xs:string" />
          <xs:element minOccurs="0" name="lang" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetValidateInternLoginResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:internshipLogin" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="internshipLogin">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorcode" type="xs:string" />
          <xs:element minOccurs="0" name="errormessage" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element minOccurs="0" name="success" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetInternshipRegistration">
        <xs:sequence>
          <xs:element minOccurs="0" name="InternshipUserDetails" type="tns:internshipUserDetails" />
          <xs:element minOccurs="0" name="InternshipDetails" type="tns:internshipDetails" />
          <xs:element minOccurs="0" name="InternshipTrainingattachments" type="tns:internshipTrainingattachments" />
          <xs:element minOccurs="0" name="ProjectDetails" type="tns:projectDetails" />
          <xs:element minOccurs="0" name="ProjectResearchattachments" type="tns:projectResearchattachments" />
          <xs:element minOccurs="0" name="SummerDetails" type="tns:summerDetails" />
          <xs:element minOccurs="0" name="SummerTrainingattachments" type="tns:summerTrainingattachments" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="internshipUserDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="address" type="xs:string" />
          <xs:element minOccurs="0" name="age" type="xs:string" />
          <xs:element minOccurs="0" name="applicantname" type="xs:string" />
          <xs:element minOccurs="0" name="applicationstatus" type="xs:string" />
          <xs:element minOccurs="0" name="country" type="xs:string" />
          <xs:element minOccurs="0" name="emailaddress" type="xs:string" />
          <xs:element minOccurs="0" name="emirate" type="xs:string" />
          <xs:element minOccurs="0" name="internproject" type="xs:string" />
          <xs:element minOccurs="0" name="loginchannel" type="xs:string" />
          <xs:element minOccurs="0" name="major" type="xs:string" />
          <xs:element minOccurs="0" name="mobilenumber" type="xs:string" />
          <xs:element minOccurs="0" name="passportnumber" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="startdate" type="xs:string" />
          <xs:element minOccurs="0" name="universityname" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="internshipDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="coordinatoremailaddress" type="xs:string" />
          <xs:element minOccurs="0" name="dewascholarship" type="xs:string" />
          <xs:element minOccurs="0" name="fromdate" type="xs:string" />
          <xs:element minOccurs="0" name="scholarshipID" type="xs:string" />
          <xs:element minOccurs="0" name="todate" type="xs:string" />
          <xs:element minOccurs="0" name="totalcreditgains" type="xs:string" />
          <xs:element minOccurs="0" name="workplacecoordinator" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="internshipTrainingattachments">
        <xs:sequence>
          <xs:element minOccurs="0" name="cv" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="cvfilename" type="xs:string" />
          <xs:element minOccurs="0" name="cvfiletype" type="xs:string" />
          <xs:element minOccurs="0" name="officialletter" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="officialletterfilename" type="xs:string" />
          <xs:element minOccurs="0" name="officialletterfiletype" type="xs:string" />
          <xs:element minOccurs="0" name="passportcopy" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="passportcopyfilename" type="xs:string" />
          <xs:element minOccurs="0" name="passportcopyfiletype" type="xs:string" />
          <xs:element minOccurs="0" name="transcriptcopy" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="transcriptfilename" type="xs:string" />
          <xs:element minOccurs="0" name="transcriptfiletype" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="projectDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="purposeofprojectrequest" type="xs:string" />
          <xs:element minOccurs="0" name="subjectofproject" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="projectResearchattachments">
        <xs:sequence>
          <xs:element minOccurs="0" name="interviewquestions" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="interviewquestionsfilename" type="xs:string" />
          <xs:element minOccurs="0" name="interviewquestionsfiletype" type="xs:string" />
          <xs:element minOccurs="0" name="officialletter" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="officialletterfilename" type="xs:string" />
          <xs:element minOccurs="0" name="officialletterfiletype" type="xs:string" />
          <xs:element minOccurs="0" name="projectdescription" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="projectdescriptionfilename" type="xs:string" />
          <xs:element minOccurs="0" name="projectdescriptionfiletype" type="xs:string" />
          <xs:element minOccurs="0" name="surveyquestions" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="surveyquestionsfilename" type="xs:string" />
          <xs:element minOccurs="0" name="surveyquestionsfiletype" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="summerDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="dateofbirth" type="xs:string" />
          <xs:element minOccurs="0" name="departmenttext" type="xs:string" />
          <xs:element minOccurs="0" name="division" type="xs:string" />
          <xs:element minOccurs="0" name="educationlevel" type="xs:string" />
          <xs:element minOccurs="0" name="educationleveluniversity" type="xs:string" />
          <xs:element minOccurs="0" name="educationsection" type="xs:string" />
          <xs:element minOccurs="0" name="familybooknumber" type="xs:string" />
          <xs:element minOccurs="0" name="fromdate" type="xs:string" />
          <xs:element minOccurs="0" name="homephonenumber" type="xs:string" />
          <xs:element minOccurs="0" name="parentname" type="xs:string" />
          <xs:element minOccurs="0" name="parentrelationship" type="xs:string" />
          <xs:element minOccurs="0" name="relationshipmobilenumber" type="xs:string" />
          <xs:element minOccurs="0" name="relationshipwithrelative" type="xs:string" />
          <xs:element minOccurs="0" name="relativeindewa" type="xs:string" />
          <xs:element minOccurs="0" name="relativemobilenumber" type="xs:string" />
          <xs:element minOccurs="0" name="relativename" type="xs:string" />
          <xs:element minOccurs="0" name="relativeworkingdepartment" type="xs:string" />
          <xs:element minOccurs="0" name="relativeworkingdivision" type="xs:string" />
          <xs:element minOccurs="0" name="semester" type="xs:string" />
          <xs:element minOccurs="0" name="todate" type="xs:string" />
          <xs:element minOccurs="0" name="workindewa" type="xs:string" />
          <xs:element minOccurs="0" name="yearworkedindewa" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="summerTrainingattachments">
        <xs:sequence>
          <xs:element minOccurs="0" name="certificate" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="certificatefilename" type="xs:string" />
          <xs:element minOccurs="0" name="certificatefiletype" type="xs:string" />
          <xs:element minOccurs="0" name="familybook" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="familybookfilename" type="xs:string" />
          <xs:element minOccurs="0" name="familybookfiletype" type="xs:string" />
          <xs:element minOccurs="0" name="passportcopy" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="passportcopyfilename" type="xs:string" />
          <xs:element minOccurs="0" name="passportcopyfiletype" type="xs:string" />
          <xs:element minOccurs="0" name="personalphoto" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="personalphotofilename" type="xs:string" />
          <xs:element minOccurs="0" name="personalphotofiletype" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetInternshipRegistrationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:internshipRegistration" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="internshipRegistration">
        <xs:sequence>
          <xs:element minOccurs="0" name="candidateid" type="xs:string" />
          <xs:element minOccurs="0" name="errorcode" type="xs:string" />
          <xs:element minOccurs="0" name="errormessage" type="xs:string" />
          <xs:element minOccurs="0" name="success" type="xs:string" />
          <xs:element minOccurs="0" name="userid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetInternshipHelpValues">
        <xs:sequence>
          <xs:element minOccurs="0" name="Language" type="xs:string" />
          <xs:element minOccurs="0" name="Relation" type="xs:string" />
          <xs:element minOccurs="0" name="nation" type="xs:string" />
          <xs:element minOccurs="0" name="departmentdivision" type="xs:string" />
          <xs:element minOccurs="0" name="countrycodes" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetInternshipHelpValuesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:internshipHelpValues" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="internshipHelpValues">
        <xs:sequence>
          <xs:element minOccurs="0"  name="countrycodes" nillable="true" type="tns:countryCodes" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element name="nation">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0"  name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="orgdepartment">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0"  name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="orgdivision">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0"  name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="orgunit">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0"  name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="relationship">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0"  name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="responseCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="countryCodes">
        <xs:sequence>
          <xs:element minOccurs="0" name="countrykey" type="xs:string" />
          <xs:element minOccurs="0" name="countryname" type="xs:string" />
          <xs:element minOccurs="0" name="countrytelephonecode" type="xs:string" />
          <xs:element minOccurs="0" name="internationaldailercode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetValidateInternLoginIn">
    <wsdl:part name="parameters" element="tns:GetValidateInternLogin" />
  </wsdl:message>
  <wsdl:message name="GetValidateInternLoginOut">
    <wsdl:part name="GetValidateInternLoginResponse" element="tns:GetValidateInternLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetValidateInternLoginFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="SetInternshipRegistrationIn">
    <wsdl:part name="parameters" element="tns:SetInternshipRegistration" />
  </wsdl:message>
  <wsdl:message name="SetInternshipRegistrationOut">
    <wsdl:part name="SetInternshipRegistrationResponse" element="tns:SetInternshipRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="SetInternshipRegistrationFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="GetInternshipHelpValuesIn">
    <wsdl:part name="parameters" element="tns:GetInternshipHelpValues" />
  </wsdl:message>
  <wsdl:message name="GetInternshipHelpValuesOut">
    <wsdl:part name="GetInternshipHelpValuesResponse" element="tns:GetInternshipHelpValuesResponse" />
  </wsdl:message>
  <wsdl:message name="GetInternshipHelpValuesFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:portType name="HCMV1">
    <wsdl:operation name="GetValidateInternLogin" parameterOrder="parameters">
      <wsdl:input message="tns:GetValidateInternLoginIn" />
      <wsdl:output message="tns:GetValidateInternLoginOut" />
      <wsdl:fault name="Exception" message="tns:GetValidateInternLoginFault" />
    </wsdl:operation>
    <wsdl:operation name="SetInternshipRegistration" parameterOrder="parameters">
      <wsdl:input message="tns:SetInternshipRegistrationIn" />
      <wsdl:output message="tns:SetInternshipRegistrationOut" />
      <wsdl:fault name="Exception" message="tns:SetInternshipRegistrationFault" />
    </wsdl:operation>
    <wsdl:operation name="GetInternshipHelpValues" parameterOrder="parameters">
      <wsdl:input message="tns:GetInternshipHelpValuesIn" />
      <wsdl:output message="tns:GetInternshipHelpValuesOut" />
      <wsdl:fault name="Exception" message="tns:GetInternshipHelpValuesFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="HCMV1Binding" type="tns:HCMV1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetValidateInternLogin">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetInternshipRegistration">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInternshipHelpValues">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EducationServices">
    <wsdl:port name="HRService" binding="tns:HCMV1Binding">
      <address location="https://api.qa.dewa.gov.ae/hcm/v1/education" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>